{
  "openapi": "3.0.3",
  "info": {
    "title": "Hiroshi Tanaka Annual Tax-Prep Workflow API",
    "version": "1.0.0",
    "description": "OpenAPI for j164 retiree annual tax-prep workflow. Endpoints for workflow open/voice/year-over-year, receipt OCR, My-Number NFC, pension reconciliation, tax-payment reconciliation, form draft/review, e-Tax submission, drive WORM, notes diary.",
    "x-journey-id": "j164-retired-hiroshi-tanaka-yearly-tax-and-pension",
    "x-adrs": ["ADR-0244", "ADR-0263", "ADR-0251", "ADR-0311", "ADR-0253"]
  },
  "servers": [
    {"url": "https://workflow-studio.jp-osaka.oyatie.com/v1", "description": "Hiroshi's primary cell"}
  ],
  "paths": {
    "/workflow-studio/workflows/open": {
      "post": {
        "summary": "Open tax-prep workflow",
        "x-cedar-action": "workflow_studio.tax_prep_open",
        "x-audit-event": "EVT-J164-WORKFLOW-OPEN-001",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowOpenRequest"}}}
        },
        "responses": {
          "200": {"description": "Workflow opened; TalkBack announces within 600ms"}
        }
      }
    },
    "/workflow-studio/voice-command": {
      "post": {
        "summary": "Voice command (進む / 戻る / 確認 / 詳しく / 休憩 / 続ける)",
        "x-cedar-action": "workflow_studio.voice_command",
        "x-audit-event": "EVT-J164-VOICE-CMD-*",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VoiceCommand"}}}
        },
        "responses": {
          "200": {"description": "Command resolved"},
          "412": {"description": "Confidence below 0.92"}
        }
      }
    },
    "/workflow-studio/year-over-year/compare": {
      "post": {
        "summary": "Year-over-year comparison panel (FY2026 vs FY2025)",
        "x-cedar-action": "workflow_studio.year_over_year_compare",
        "x-audit-event": "EVT-J164-YOY-COMPARE-005",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YearOverYearCompareRequest"}}}
        },
        "responses": {
          "200": {
            "description": "Comparison panel rendered",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/YearOverYearCompareResponse"}}}
          }
        }
      }
    },
    "/intelligence/ocr/receipt": {
      "post": {
        "summary": "OCR a receipt photo (Japanese medical/property/honorarium)",
        "x-cedar-action": "intelligence.ocr_receipt",
        "x-audit-event": "EVT-J164-RECEIPT-OCR-{n}-002a",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReceiptOcrRequest"}}}
        },
        "responses": {
          "200": {
            "description": "OCR result returned with per-field confidence",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReceiptOcrResponse"}}}
          }
        }
      }
    },
    "/identity/my-number-card/authenticate": {
      "post": {
        "summary": "My-Number Card NFC authentication (per-purpose scoped)",
        "x-cedar-action": "identity.my_number_read",
        "x-audit-event": "EVT-J164-MY-NUMBER-NFC-*",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MyNumberAuthRequest"}}}
        },
        "responses": {
          "200": {
            "description": "NFC read complete OR retry requested",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MyNumberAuthResponse"}}}
          },
          "403": {"description": "Cedar deny — missing purpose or ceiling reached"},
          "429": {"description": "Daily per-purpose ceiling reached"}
        }
      }
    },
    "/payments/pension/reconcile": {
      "post": {
        "summary": "Query JPS pension feed + cross-check bank deposits",
        "x-cedar-action": "payments.pension_reconcile_read",
        "x-audit-event": "EVT-J164-PENSION-RECONCILED-003",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PensionReconcileRequest"}}}
        },
        "responses": {
          "200": {"description": "Monthly deposits + annual total returned"}
        }
      }
    },
    "/payments/tax/estimated-quarterly/read": {
      "post": {
        "summary": "Read estimated quarterly tax + national health insurance + long-term care",
        "x-cedar-action": "payments.tax_payment_history_read",
        "x-audit-event": "EVT-J164-TAX-PAYMENTS-RECONCILED-004",
        "responses": {
          "200": {"description": "Payment history returned"}
        }
      }
    },
    "/compliance/tax-form/draft": {
      "post": {
        "summary": "Draft kakutei-shinkoku-b tax form",
        "x-cedar-action": "compliance.tax_form_draft",
        "x-audit-event": "EVT-J164-FORM-DRAFTED-006",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TaxFormDraftRequest"}}}
        },
        "responses": {
          "200": {
            "description": "Form drafted with computed totals + refund",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TaxFormDraftResponse"}}}
          }
        }
      }
    },
    "/compliance/tax-form/submit-etax": {
      "post": {
        "summary": "Submit form to 国税庁 e-Tax",
        "x-cedar-action": "compliance.tax_form_submit_etax",
        "x-audit-event": "EVT-J164-ETAX-SUBMITTED-009",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ETaxSubmitRequest"}}}
        },
        "responses": {
          "200": {
            "description": "NTA acknowledgment receipt",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ETaxAcknowledgment"}}}
          },
          "412": {"description": "Form review not complete"}
        }
      }
    },
    "/drive/rooms/{room}/files": {
      "post": {
        "summary": "Write to drive WORM room (receipts or e-Tax acknowledgment)",
        "x-cedar-action": "drive.write_worm_locked",
        "parameters": [{"name": "room", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Written with 7-year WORM retention"}
        }
      }
    },
    "/notes/voice-dictate": {
      "post": {
        "summary": "Dictate diary entry via voice; archive to late-life record-keeping notebook",
        "x-cedar-action": "notes.voice_dictate",
        "x-audit-event": "EVT-J164-NOTES-DIARY-008",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotesDictateRequest"}}}
        },
        "responses": {
          "200": {"description": "Diary entry archived"}
        }
      }
    },
    "/compliance/my-number/access-log-summary": {
      "post": {
        "summary": "Daily My-Number access log summary (PIPA Article 19 compliance)",
        "x-cedar-action": "compliance.my_number_access_log_write",
        "x-audit-event": "EVT-J164-MY-NUMBER-DAILY-SUMMARY-011",
        "responses": {
          "200": {"description": "Summary written"}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "WorkflowOpenRequest": {
        "type": "object",
        "required": ["tenant_id", "principal", "workflow_id", "fiscal_year"],
        "properties": {
          "tenant_id": {"type": "string", "example": "personal-hiroshi-tanaka-jp"},
          "principal": {"type": "string"},
          "workflow_id": {"type": "string"},
          "workflow_template": {"type": "string"},
          "fiscal_year": {"type": "string", "example": "fy2026"},
          "fiscal_year_japanese_era": {"type": "string", "example": "reiwa-8"},
          "accessibility_context": {"$ref": "#/components/schemas/AccessibilityContext"},
          "device_context": {"$ref": "#/components/schemas/DeviceContext"},
          "opened_at": {"type": "string", "format": "date-time"}
        }
      },
      "AccessibilityContext": {
        "type": "object",
        "properties": {
          "talkback_active": {"type": "boolean"},
          "talkback_voice": {"type": "string"},
          "talkback_speech_rate": {"type": "number"},
          "high_contrast_theme_active": {"type": "boolean"},
          "large_text_active": {"type": "boolean"},
          "large_text_minimum_pt": {"type": "integer", "minimum": 18},
          "voice_navigation_active": {"type": "boolean"},
          "haptic_feedback_active": {"type": "boolean"}
        }
      },
      "DeviceContext": {
        "type": "object",
        "properties": {
          "device_class": {"type": "string"},
          "device_model": {"type": "string"},
          "screen_inches": {"type": "number"},
          "screen_brightness": {"type": "integer"},
          "color_temperature_kelvin": {"type": "integer"}
        }
      },
      "VoiceCommand": {
        "type": "object",
        "required": ["workflow_id", "voice_transcript_utf8_nfc", "voice_confidence"],
        "properties": {
          "workflow_id": {"type": "string"},
          "voice_transcript_utf8_nfc": {"type": "string", "example": "進む"},
          "voice_transcript_romanized": {"type": "string"},
          "voice_confidence": {"type": "number", "minimum": 0, "maximum": 1},
          "voice_intent_resolved": {"type": "string", "enum": ["next_step", "previous_step", "confirm", "detail", "pause", "resume", "help"]},
          "command_received_at": {"type": "string", "format": "date-time"}
        }
      },
      "YearOverYearCompareRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "fiscal_year_current": {"type": "string"},
          "fiscal_year_prior": {"type": "string"},
          "compare_sections": {"type": "array", "items": {"type": "string"}}
        }
      },
      "YearOverYearCompareResponse": {
        "type": "object",
        "properties": {
          "sections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "section_name": {"type": "string"},
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {"type": "string"},
                      "prior_amount_jpy": {"type": "integer"},
                      "current_amount_jpy": {"type": "integer"},
                      "delta_jpy": {"type": "integer"},
                      "delta_class": {"type": "string", "enum": ["first_appearance", "increase", "decrease", "no_change"]},
                      "talkback_delta_phrase": {"type": "string"},
                      "highlight_gold_underline": {"type": "boolean"}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ReceiptOcrRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "image_base64": {"type": "string"},
          "image_size_bytes": {"type": "integer"},
          "ocr_class": {"type": "string", "enum": ["japanese_medical_receipt", "japanese_property_tax_receipt", "japanese_honorarium_receipt", "japanese_general_receipt"]},
          "expected_fields": {"type": "array", "items": {"type": "string"}},
          "captured_at": {"type": "string", "format": "date-time"}
        }
      },
      "ReceiptOcrResponse": {
        "type": "object",
        "properties": {
          "ocr_result": {
            "type": "object",
            "properties": {
              "payee_name": {"type": "string"},
              "payee_name_romanized": {"type": "string"},
              "date": {"type": "string", "format": "date"},
              "date_japanese_era": {"type": "string"},
              "amount_jpy": {"type": "integer"},
              "category_inferred": {"type": "string"},
              "ocr_confidence_per_field": {"type": "object", "additionalProperties": {"type": "number"}}
            }
          }
        }
      },
      "MyNumberAuthRequest": {
        "type": "object",
        "required": ["tenant_id", "subject_principal", "purpose_scope", "purpose_declared_in_audit"],
        "properties": {
          "tenant_id": {"type": "string"},
          "subject_principal": {"type": "string"},
          "purpose_scope": {"type": "string", "enum": ["tax_filing_kakutei_shinkoku", "pension_reconciliation", "etax_submission", "pension_authority_read"]},
          "purpose_declared_in_audit": {"type": "boolean", "const": true},
          "nfc_signal_dbm": {"type": "number"},
          "nfc_read_duration_ms": {"type": "integer"},
          "nfc_read_complete": {"type": "boolean"},
          "failure_reason": {"type": "string"},
          "user_message_class": {"type": "string", "const": "calm_retry_no_blame"}
        }
      },
      "MyNumberAuthResponse": {
        "type": "object",
        "properties": {
          "state": {"type": "string", "enum": ["success", "retry_requested", "ceiling_reached"]},
          "timeout_seconds_remaining": {"type": "integer"},
          "card_certificate_serial": {"type": "string"},
          "card_validity_ok": {"type": "boolean"},
          "authenticated_at": {"type": "string", "format": "date-time"},
          "per_purpose_count_today": {"type": "integer"},
          "daily_ceiling": {"type": "integer", "const": 4}
        }
      },
      "PensionReconcileRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "principal": {"type": "string"},
          "fiscal_year": {"type": "string"},
          "pension_authority": {"type": "string", "const": "jp-jps-nippon-nenkin-kiko"},
          "my_number_token_short_lived": {"type": "string"},
          "scope": {"type": "string"},
          "scope_expires_at": {"type": "string", "format": "date-time"}
        }
      },
      "TaxFormDraftRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "principal": {"type": "string"},
          "form_class": {"type": "string", "const": "kakutei_shinkoku_b"},
          "fiscal_year": {"type": "string"},
          "income": {
            "type": "object",
            "properties": {
              "public_pension_jpy": {"type": "integer"},
              "miscellaneous_income_jpy": {"type": "integer"},
              "interest_income_jpy": {"type": "integer"}
            }
          },
          "deductions": {
            "type": "object",
            "properties": {
              "social_insurance_premium_jpy": {"type": "integer"},
              "medical_expense_jpy_eligible": {"type": "integer"},
              "basic_deduction_jpy": {"type": "integer"}
            }
          },
          "withholding": {
            "type": "object",
            "properties": {
              "pension_withholding_jpy": {"type": "integer"},
              "estimated_tax_paid_jpy": {"type": "integer"}
            }
          },
          "compute_at": {"type": "string", "format": "date-time"}
        }
      },
      "TaxFormDraftResponse": {
        "type": "object",
        "properties": {
          "form_draft_id": {"type": "string"},
          "income_total_jpy": {"type": "integer"},
          "deductions_total_jpy": {"type": "integer"},
          "taxable_income_jpy": {"type": "integer"},
          "income_tax_jpy": {"type": "integer"},
          "reconstruction_special_tax_jpy": {"type": "integer"},
          "total_tax_jpy": {"type": "integer"},
          "withholding_total_jpy": {"type": "integer"},
          "refund_jpy": {"type": "integer"}
        }
      },
      "ETaxSubmitRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "form_draft_id": {"type": "string"},
          "etax_endpoint": {"type": "string"},
          "channel_cell": {"type": "string"},
          "signature_alg": {"type": "string", "const": "JPKI-RSA-2048-with-passkey-counter-sign"},
          "attachments": {"type": "array", "items": {"type": "object"}},
          "submitted_at": {"type": "string", "format": "date-time"}
        }
      },
      "ETaxAcknowledgment": {
        "type": "object",
        "properties": {
          "receipt_number": {"type": "string", "pattern": "^[0-9]{8}-[0-9]{4}-[0-9]{3}-[A-Z]-[0-9]{7}$"},
          "received_at": {"type": "string", "format": "date-time"},
          "filer_name": {"type": "string"},
          "filer_my_number_short": {"type": "string"},
          "form_class": {"type": "string"},
          "fiscal_year": {"type": "string"},
          "refund_jpy": {"type": "integer"},
          "refund_expected_at": {"type": "string", "format": "date"}
        }
      },
      "NotesDictateRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "principal": {"type": "string"},
          "notebook_id": {"type": "string", "const": "late-life-record-keeping"},
          "voice_transcript_utf8_nfc": {"type": "string"},
          "voice_confidence": {"type": "number"},
          "succession_ready_tag": {"type": "boolean"},
          "series_continuation": {"type": "string"},
          "dictated_at": {"type": "string", "format": "date-time"}
        }
      }
    }
  }
}
