{
  "openapi": "3.1.0",
  "info": {
    "title": "j158 cell-rebalance + disclosure-signal API",
    "version": "1.0.0",
    "description": "Employer-tenant cell-rebalance workflow + personal-tenant creator-employer disclosure-signal API. Dual-tenant boundary enforced via Cedar — employer side never queries personal side; personal side can only send info-only one-way disclosure signals to employer under explicit Cedar permit class."
  },
  "servers": [
    {"url": "https://api.oya.cloud/v1", "description": "production"},
    {"url": "https://api.dev.oya.cloud/v1", "description": "dev"}
  ],
  "paths": {
    "/cells/{cell_id}/autoscale-engage": {
      "post": {
        "operationId": "autoscaleEngage",
        "parameters": [
          {"name": "cell_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AutoscaleEngageRequest"}}}
        },
        "responses": {"200": {"description": "autoscale engaged"}},
        "x-cedar-action": "cell.autoscale_engage",
        "x-audit-class": "EVT-J158-AUTOSCALE-PERSONAL-001",
        "x-tenant-internal": true
      }
    },
    "/messenger/creator-employer-disclosure-signal": {
      "post": {
        "operationId": "sendDisclosureSignal",
        "description": "ONE-WAY INFO-ONLY signal from personal tenant to employer tenant. Cedar-gated by active disclosure record + payload class + size limit + assertion checks.",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DisclosureSignalRequest"}}}
        },
        "responses": {
          "200": {"description": "signal delivered"},
          "403": {"description": "Cedar deny — disclosure inactive, PII detected, or size overflow"}
        },
        "x-cedar-action": "messenger.creator_employer_disclosure_signal",
        "x-audit-class": "EVT-J158-DISCLOSURE-SIGNAL-002",
        "x-dual-seal": true,
        "x-payload-max-bytes": 1024,
        "x-adr-refs": ["ADR-0311", "ADR-0244", "ADR-0263"]
      }
    },
    "/workflows/cell-rebalance/instances": {
      "post": {
        "operationId": "createCellRebalance",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CellRebalanceCreateRequest"}}}
        },
        "responses": {"201": {"description": "rebalance workflow created"}},
        "x-cedar-action": "workflow.cell_rebalance_create",
        "x-audit-class": "EVT-J158-REBALANCE-CREATED-003"
      }
    },
    "/workflows/cell-rebalance/{rebalance_id}/transition": {
      "post": {
        "operationId": "transitionCellRebalance",
        "parameters": [
          {"name": "rebalance_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CellRebalanceTransitionRequest"}}}
        },
        "responses": {
          "200": {"description": "transition accepted"},
          "409": {"description": "invalid transition"}
        },
        "x-cedar-action": "workflow.cell_rebalance_transition",
        "x-state-machine": "cell-rebalance-state-machine.yaml"
      }
    },
    "/workflows/cell-rebalance/{rebalance_id}/co-sign": {
      "post": {
        "operationId": "cellRebalanceCoSign",
        "parameters": [
          {"name": "rebalance_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CellRebalanceCoSignRequest"}}}
        },
        "responses": {"200": {"description": "co-sign recorded"}},
        "x-cedar-action": "workflow.cell_rebalance_co_sign",
        "x-audit-class": "EVT-J158-REBALANCE-OWNER-COSIGN-003b"
      }
    },
    "/workflows/cell-rebalance/{rebalance_id}/traffic-shift-begin": {
      "post": {
        "operationId": "beginTrafficShift",
        "parameters": [
          {"name": "rebalance_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TrafficShiftRequest"}}}
        },
        "responses": {"200": {"description": "traffic shift begun"}},
        "x-cedar-action": "workflow.cell_traffic_shift",
        "x-audit-class": "EVT-J158-REBALANCE-TRAFFIC-SHIFT-004"
      }
    },
    "/workflows/cell-rebalance/{rebalance_id}/post-validate": {
      "post": {
        "operationId": "postValidateRebalance",
        "parameters": [
          {"name": "rebalance_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PostValidateRequest"}}}
        },
        "responses": {"200": {"description": "validation complete"}},
        "x-cedar-action": "workflow.cell_rebalance_post_validate",
        "x-audit-class": "EVT-J158-POST-REBALANCE-VALIDATION-009"
      }
    },
    "/compliance/regulator/kr-lsa/weekly-hours-evaluate": {
      "post": {
        "operationId": "krLsaEvaluate",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/KrLsaEvaluateRequest"}}}
        },
        "responses": {"200": {"description": "evaluation complete"}},
        "x-cedar-action": "compliance.kr_lsa_evaluate",
        "x-audit-class": "EVT-J158-KR-LSA-EVALUATION-005a",
        "x-regulator-anchor": "KR-Labour-Standards-Act"
      }
    }
  },
  "components": {
    "schemas": {
      "AutoscaleEngageRequest": {
        "type": "object",
        "required": ["cell_id", "tenant_id", "target_replicas", "target_replicas_baseline", "engaged_at", "trigger_event_id"],
        "properties": {
          "cell_id": {"type": "string"},
          "tenant_id": {"type": "string"},
          "target_replicas": {"type": "integer"},
          "target_replicas_baseline": {"type": "integer"},
          "engaged_at": {"type": "string", "format": "date-time"},
          "trigger_event_id": {"type": "string"}
        }
      },
      "DisclosureSignalRequest": {
        "type": "object",
        "required": ["from_principal", "from_tenant", "to_tenant", "to_principals", "disclosure_record_id", "payload_class", "payload_ciphertext_b64", "structured_payload_assertions", "sent_at"],
        "properties": {
          "from_principal": {"type": "string"},
          "from_tenant": {"type": "string"},
          "to_tenant": {"type": "string"},
          "to_principals": {"type": "array", "items": {"type": "string"}, "minItems": 1},
          "disclosure_record_id": {"type": "string"},
          "payload_class": {"type": "string", "enum": ["creator_spike_info_only", "creator_pause_info_only", "creator_milestone_info_only"]},
          "payload_max_size_bytes": {"type": "integer", "maximum": 1024},
          "payload_ciphertext_b64": {"type": "string", "format": "byte"},
          "structured_payload_assertions": {
            "type": "object",
            "required": ["no_audience_pii", "no_revenue_figures", "no_audience_demographics", "spike_coarse_grain_only", "self_initiated_by_subject"],
            "properties": {
              "no_audience_pii": {"type": "boolean", "const": true},
              "no_revenue_figures": {"type": "boolean", "const": true},
              "no_audience_demographics": {"type": "boolean", "const": true},
              "spike_coarse_grain_only": {"type": "boolean", "const": true},
              "self_initiated_by_subject": {"type": "boolean", "const": true}
            }
          },
          "sent_at": {"type": "string", "format": "date-time"}
        }
      },
      "CellRebalanceCreateRequest": {
        "type": "object",
        "required": ["workflow_template_id", "tenant_ctx", "primary_cell", "burst_cells_candidate", "secondary_cell", "rebalance_reason", "expected_burst_window_hours", "expected_scale_factor", "initial_state"],
        "properties": {
          "workflow_template_id": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "primary_cell": {"type": "string"},
          "burst_cells_candidate": {"type": "array", "items": {"type": "string"}, "minItems": 1, "maxItems": 4},
          "secondary_cell": {"type": "string"},
          "rebalance_reason": {
            "type": "object",
            "required": ["class", "signal_origin"],
            "properties": {
              "class": {"type": "string", "enum": ["external_causal_signal_consumer_creator_spike", "scheduled_capacity_planning", "incident_response", "regulatory_audit"]},
              "signal_origin": {"type": "string"}
            }
          },
          "expected_burst_window_hours": {"type": "integer", "maximum": 168},
          "expected_scale_factor": {"type": "number"},
          "initial_state": {"type": "string", "enum": ["capacity_signal_detected"]}
        }
      },
      "CellRebalanceTransitionRequest": {
        "type": "object",
        "required": ["rebalance_id", "from_state", "to_state", "transitioned_at", "initiated_by"],
        "properties": {
          "rebalance_id": {"type": "string"},
          "from_state": {"type": "string", "enum": ["capacity_signal_detected", "rebalance_proposed", "cross_cell_grant_negotiated", "traffic_shift", "post_rebalance_validation"]},
          "to_state": {"type": "string", "enum": ["capacity_signal_detected", "rebalance_proposed", "cross_cell_grant_negotiated", "traffic_shift", "post_rebalance_validation"]},
          "transitioned_at": {"type": "string", "format": "date-time"},
          "initiated_by": {"type": "string"},
          "proposal_payload": {
            "type": "object",
            "properties": {
              "burst_cells_to_warm": {"type": "array", "items": {"type": "string"}},
              "reserved_capacity_pool_units_to_consume": {"type": "integer"},
              "estimated_warm_time_minutes_per_cell": {"type": "integer"},
              "estimated_burst_window_hours": {"type": "integer"},
              "daily_reassessment_time_kst": {"type": "string"}
            }
          }
        }
      },
      "CellRebalanceCoSignRequest": {
        "type": "object",
        "required": ["rebalance_id", "principal", "role", "signed_at", "passkey_assertion_b64"],
        "properties": {
          "rebalance_id": {"type": "string"},
          "principal": {"type": "string"},
          "role": {"type": "string", "enum": ["owner", "managing_director", "vp_operations"]},
          "signed_at": {"type": "string", "format": "date-time"},
          "passkey_assertion_b64": {"type": "string", "format": "byte"},
          "face_id_assertion_b64": {"type": "string", "format": "byte"},
          "attestation": {"type": "string", "minLength": 8}
        }
      },
      "TrafficShiftRequest": {
        "type": "object",
        "required": ["rebalance_id", "started_at", "target_distribution", "ramp_strategy", "rollback_threshold"],
        "properties": {
          "rebalance_id": {"type": "string"},
          "started_at": {"type": "string", "format": "date-time"},
          "target_distribution": {
            "type": "object",
            "additionalProperties": {"type": "number", "minimum": 0, "maximum": 1}
          },
          "ramp_strategy": {"type": "string", "enum": ["gradual_10_minute_increments_over_90_minutes", "step_30_minute_increments", "immediate_failover"]},
          "rollback_threshold": {
            "type": "object",
            "properties": {
              "latency_p95_ms_max": {"type": "number"},
              "error_rate_max_pct": {"type": "number"}
            }
          }
        }
      },
      "PostValidateRequest": {
        "type": "object",
        "required": ["rebalance_id", "validation_window_start", "validation_window_end", "metrics", "boundary_invariant_check"],
        "properties": {
          "rebalance_id": {"type": "string"},
          "validation_window_start": {"type": "string", "format": "date-time"},
          "validation_window_end": {"type": "string", "format": "date-time"},
          "metrics": {
            "type": "object",
            "properties": {
              "primary_cell_latency_p95_ms": {"type": "number"},
              "burst_1_cell_latency_p95_ms": {"type": "number"},
              "burst_2_cell_latency_p95_ms": {"type": "number"},
              "order_intake_routing_success_pct": {"type": "number"},
              "queued_orphan_messages": {"type": "integer"},
              "audit_chain_coherent": {"type": "boolean"},
              "kr_lsa_evaluator_green": {"type": "boolean"}
            }
          },
          "boundary_invariant_check": {
            "type": "object",
            "properties": {
              "employer_to_personal_probe_attempted": {"type": "boolean"},
              "employer_to_personal_probe_denied": {"type": "boolean"},
              "personal_to_employer_probe_without_permit_attempted": {"type": "boolean"},
              "personal_to_employer_probe_without_permit_denied": {"type": "boolean"}
            }
          }
        }
      },
      "KrLsaEvaluateRequest": {
        "type": "object",
        "required": ["tenant_ctx", "evaluation_window", "staff_projections"],
        "properties": {
          "tenant_ctx": {"type": "string"},
          "evaluation_window": {
            "type": "object",
            "properties": {
              "start": {"type": "string", "format": "date-time"},
              "end": {"type": "string", "format": "date-time"}
            }
          },
          "staff_projections": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["principal", "projected_hours"],
              "properties": {
                "principal": {"type": "string"},
                "projected_hours": {"type": "number"},
                "result": {"type": "string", "enum": ["green", "green_monitor", "yellow_redistribute_recommended", "red_overcap"]}
              }
            }
          }
        }
      }
    }
  }
}
