{
  "openapi": "3.2.0",
  "info": {
    "title": "incident-management — Incident Create (j152)",
    "version": "1.0.0-j152",
    "description": "OpenAPI 3.2.0 contract for POST /v1/sites/{site_id}/incidents as exercised by journey j152. Bilingual narrative pair (en + ar) is required for sites with EEOC language-access overlay."
  },
  "servers": [
    {"url": "https://api.oya.network", "description": "Production"},
    {"url": "https://api.staging.oya.network", "description": "Staging"}
  ],
  "paths": {
    "/v1/sites/{site_id}/incidents": {
      "post": {
        "operationId": "createIncident",
        "summary": "Create an incident at a job site",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "pattern": "^[A-Z]{2,8}-[A-Z]{3,5}-[0-9]{4}$"}
          }
        ],
        "security": [
          {"oyaPasskeyBearer": ["incident.create"]}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/IncidentCreateRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Incident created",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/IncidentCreateResponse"}
              }
            }
          },
          "401": {"description": "Step-up required"},
          "403": {"description": "Cedar deny"},
          "409": {"description": "Duplicate (idempotency-key collision)"},
          "422": {"description": "Validation failure"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oyaPasskeyBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OYA-Passkey-StepUp-JWT"
      }
    },
    "schemas": {
      "IncidentCreateRequest": {
        "type": "object",
        "required": ["occurred_at", "incident_class"],
        "properties": {
          "occurred_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 UTC instant of the incident"
          },
          "deck": {"type": "string", "maxLength": 8},
          "grid": {"type": "string", "maxLength": 8},
          "affected_workers": {
            "type": "array",
            "items": {"type": "string", "format": "email"},
            "maxItems": 50
          },
          "incident_class": {
            "type": "string",
            "enum": ["near_miss", "first_aid", "recordable", "serious", "escalate_to_911", "fatality"]
          },
          "narrative_en": {"type": "string", "maxLength": 8000, "nullable": true},
          "narrative_ar": {"type": "string", "maxLength": 8000, "nullable": true},
          "narrative_es": {"type": "string", "maxLength": 8000, "nullable": true},
          "auto_attach_telemetry": {"type": "boolean", "default": true},
          "auto_attach_camera": {
            "type": "array",
            "items": {"type": "string"},
            "maxItems": 8
          },
          "telemetry_window_seconds": {"type": "integer", "minimum": 30, "maximum": 600, "default": 90},
          "camera_window_seconds": {"type": "integer", "minimum": 30, "maximum": 600, "default": 240},
          "stop_work_broadcast_id": {"type": "string"},
          "idempotency_key": {"type": "string", "maxLength": 64}
        }
      },
      "IncidentCreateResponse": {
        "type": "object",
        "required": ["incident_id", "status"],
        "properties": {
          "incident_id": {
            "type": "string",
            "pattern": "^INC-[0-9]{4}-[0-9]{4}-[A-Z]{2,8}-[A-Z]{3,5}-[0-9]{4}-[0-9]{4}$",
            "example": "INC-2026-1014-HB-OAK-4421-0007"
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN-EMS-DISPATCHED",
              "OPEN",
              "STOP-WORK-ACTIVE",
              "NARRATIVE-COMPLETE",
              "MED-BYPASS-ACTIVE",
              "EMS-ON-SCENE",
              "UNDER-TRANSPORT",
              "342-COUNTDOWN",
              "UNDER-OBSERVATION",
              "RULING-FILED",
              "CLOSED"
            ]
          },
          "side_effects_scheduled": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "step": {"type": "string"},
                "ref": {"type": "string"}
              }
            }
          },
          "audit_event_id": {"type": "string"}
        }
      }
    }
  }
}
