{
  "openapi": "3.0.3",
  "info": {
    "title": "Skylark + MRT Acquisition Decision API",
    "version": "1.0.0",
    "description": "OpenAPI for j166 strategic acquisition go/no-go decision. Endpoints for workspace, cross-tenant NDA channel, financial model, ML scenarios, pack cross-check, merger filings, counsel review, committee endorsement, board vote, decision record.",
    "x-journey-id": "j166-cso-mira-goldberg-strategic-acquisition-go-no-go",
    "x-adrs": ["ADR-0244", "ADR-0263", "ADR-0251", "ADR-0245", "ADR-0252", "ADR-0253", "ADR-0255"]
  },
  "servers": [
    {"url": "https://governance.us-east.oyatie.com/v1", "description": "Skylark primary"},
    {"url": "https://connect.cross-tenant.oyatie.com/v1", "description": "Cross-tenant channel"}
  ],
  "paths": {
    "/governance/m-and-a/workspace-open": {
      "post": {
        "summary": "Open M&A workspace",
        "x-cedar-action": "governance.m_and_a_workspace_open",
        "x-audit-event": "EVT-J166-WORKSPACE-OPEN-000",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkspaceOpenRequest"}}}},
        "responses": {"200": {"description": "Workspace open"}, "403": {"description": "Cedar deny"}}
      }
    },
    "/connect/cross-tenant/send": {
      "post": {
        "summary": "Send via cross-tenant NDA channel",
        "x-cedar-action": "connect.cross_tenant_nda_channel_send",
        "x-audit-event": "EVT-J166-DOC-ARRIVED-{n}-Δ001",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CrossTenantSendRequest"}}}},
        "responses": {"200": {"description": "Sent"}, "403": {"description": "Cedar deny — payload class / NDA / PII"}}
      }
    },
    "/compliance/nda-channel/validate-payload": {
      "post": {
        "summary": "Validate NDA channel payload (PII + financial-value + size + e2ee)",
        "x-cedar-action": "compliance.nda_payload_validate",
        "x-audit-event": "EVT-J166-NDA-PAYLOAD-VALIDATED-Δ001a",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NDAPayloadValidation"}}}},
        "responses": {"200": {"description": "Validation passed"}, "403": {"description": "Validation failed"}}
      }
    },
    "/financial-planning/m-and-a/compute": {
      "post": {
        "summary": "Compute M&A financial model across 3 price points",
        "x-cedar-action": "financial_planning.m_a_model_compute",
        "x-audit-event": "EVT-J166-M-A-MODEL-COMPUTED-003",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MAModelComputeRequest"}}}},
        "responses": {"200": {"description": "Scenarios", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MAModelComputeResponse"}}}}}
      }
    },
    "/intelligence/m-and-a/scenario-model": {
      "post": {
        "summary": "Run ML scenario battery (Monte-Carlo + cohort churn + integration cost)",
        "x-cedar-action": "intelligence.scenario_modeling",
        "x-audit-event": "EVT-J166-ML-SCENARIOS-004",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MLScenarioRequest"}}}},
        "responses": {"200": {"description": "ML results + provenance", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MLScenarioResponse"}}}}}
      }
    },
    "/compliance/pack-manifest/cross-check": {
      "post": {
        "summary": "Cross-check pack manifests between acquirer and target",
        "x-cedar-action": "compliance.pack_manifest_cross_check",
        "x-audit-event": "EVT-J166-PACK-CROSS-CHECK-005",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PackCrossCheckRequest"}}}},
        "responses": {"200": {"description": "Overlap analysis + blockers + compatibility score"}}
      }
    },
    "/compliance/merger-filings/requirements-compute": {
      "post": {
        "summary": "Compute multi-jurisdiction merger filing requirements",
        "x-cedar-action": "compliance.merger_filing_requirements_compute",
        "x-audit-event": "EVT-J166-MERGER-FILINGS-006",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MergerFilingsRequest"}}}},
        "responses": {"200": {"description": "Per-jurisdiction filing requirements"}}
      }
    },
    "/governance/counsel-review/submit-m-and-a": {
      "post": {
        "summary": "Submit counsel review with redlines",
        "x-cedar-action": "governance.counsel_review_m_and_a",
        "x-audit-event": "EVT-J166-COUNSEL-REVIEW-007",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CounselReviewRequest"}}}},
        "responses": {"200": {"description": "Counsel review recorded"}}
      }
    },
    "/governance/cfo-signoff/m-and-a": {
      "post": {
        "summary": "CFO sign-off on financial model",
        "x-cedar-action": "governance.cfo_signoff_m_and_a",
        "x-audit-event": "EVT-J166-CFO-SIGNOFF-008",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CFOSignoffRequest"}}}},
        "responses": {"200": {"description": "Sign-off recorded"}}
      }
    },
    "/governance/committee/endorsement-submit": {
      "post": {
        "summary": "Submit committee endorsements (strategy + audit)",
        "x-cedar-action": "governance.committee_endorsement_submit",
        "x-audit-event": "EVT-J166-COMMITTEE-ENDORSEMENT-009",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommitteeEndorsementRequest"}}}},
        "responses": {"200": {"description": "Endorsements recorded"}}
      }
    },
    "/governance/board/go-no-go-vote": {
      "post": {
        "summary": "Board go/no-go vote",
        "x-cedar-action": "governance.acquisition_go_no_go_vote",
        "x-audit-event": "EVT-J166-BOARD-VOTE-010",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BoardVoteRequest"}}}},
        "responses": {"200": {"description": "Vote recorded"}, "403": {"description": "Cedar deny — guard chain"}}
      }
    },
    "/audit-chain/m-and-a-decision/anchor": {
      "post": {
        "summary": "Anchor decision bundle to audit-chain spine + external transparency log",
        "x-cedar-action": "audit-chain.m_a_decision_anchor",
        "x-audit-event": "EVT-J166-DECISION-RECORDED-011",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DecisionRecordRequest"}}}},
        "responses": {"200": {"description": "Anchored"}}
      }
    }
  },
  "components": {
    "schemas": {
      "WorkspaceOpenRequest": {
        "type": "object",
        "required": ["tenant_id", "deal_id", "target_tenant_id", "deal_class"],
        "properties": {
          "tenant_id": {"type": "string", "const": "skylark-logistics-solutions-inc"},
          "deal_id": {"type": "string"},
          "target_tenant_id": {"type": "string", "const": "mendelsohn-routing-technologies-inc-de"},
          "deal_class": {"type": "string", "const": "strategic_acquisition_saas_mid_market"},
          "working_price_usd": {"type": "integer"},
          "price_range_usd": {
            "type": "object",
            "properties": {
              "low": {"type": "integer"},
              "high": {"type": "integer"}
            }
          },
          "structure": {
            "type": "object",
            "properties": {
              "cash_pct": {"type": "number"},
              "stock_pct": {"type": "number"}
            }
          },
          "earnout_usd": {"type": "integer"},
          "board_decision_target": {"type": "string", "format": "date-time"},
          "cso_principal": {"type": "string"},
          "opened_at": {"type": "string", "format": "date-time"}
        }
      },
      "CrossTenantSendRequest": {
        "type": "object",
        "required": ["channel_id", "from_tenant", "to_tenant", "nda_record_id", "payload_class"],
        "properties": {
          "channel_id": {"type": "string", "const": "cross-tenant-channel-skylark-mrt-2027-q2"},
          "from_tenant": {"type": "string"},
          "from_principal": {"type": "string"},
          "to_tenant": {"type": "string"},
          "to_principals": {"type": "array", "items": {"type": "string"}},
          "nda_record_id": {"type": "string", "const": "nda-skylark-mrt-2027-03-08"},
          "payload_class": {"type": "string", "enum": ["diligence_request", "diligence_response_anonymized", "diligence_response_named", "valuation_clarification", "regulatory_filing_input", "executive_meeting_logistics"]},
          "document_id": {"type": "string"},
          "filename": {"type": "string"},
          "size_bytes": {"type": "integer", "maximum": 52428800},
          "e2ee_envelope_b64": {"type": "string"},
          "sent_at": {"type": "string", "format": "date-time"}
        }
      },
      "NDAPayloadValidation": {
        "type": "object",
        "properties": {
          "document_id": {"type": "string"},
          "payload_class": {"type": "string"},
          "nda_record_id": {"type": "string"},
          "pii_scanner_results": {
            "type": "object",
            "properties": {
              "pii_count": {"type": "integer", "const": 0},
              "categories_checked": {"type": "array", "items": {"type": "string"}}
            }
          },
          "financial_value_scanner_results": {"type": "object"},
          "payload_size_bytes": {"type": "integer"},
          "payload_size_within_nda_envelope": {"type": "boolean"},
          "e2ee_envelope_intact": {"type": "boolean", "const": true},
          "sender_authorization_valid": {"type": "boolean", "const": true}
        }
      },
      "MAModelComputeRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "deal_id": {"type": "string"},
          "model_template": {"type": "string"},
          "inputs": {
            "type": "object",
            "properties": {
              "target_arr_usd": {"type": "integer"},
              "target_arr_growth_yoy": {"type": "number"},
              "target_gross_margin": {"type": "number"},
              "target_customer_count": {"type": "integer"},
              "target_avg_arr_per_customer_usd": {"type": "integer"},
              "target_cac_ltm_usd": {"type": "integer"},
              "target_ltv_cac_ratio": {"type": "number"},
              "target_net_dollar_retention": {"type": "number"},
              "target_gross_dollar_retention": {"type": "number"},
              "target_customer_concentration_top10_pct": {"type": "number"},
              "acquirer_arr_usd": {"type": "integer"},
              "acquirer_customer_count": {"type": "integer"},
              "acquirer_net_dollar_retention": {"type": "number"},
              "deal_terms": {
                "type": "object",
                "properties": {
                  "price_low_usd": {"type": "integer"},
                  "price_working_usd": {"type": "integer"},
                  "price_high_usd": {"type": "integer"},
                  "structure_cash_pct": {"type": "number"},
                  "structure_stock_pct": {"type": "number"},
                  "earnout_usd": {"type": "integer"},
                  "integration_cost_assumption_usd": {"type": "integer"}
                }
              }
            }
          }
        }
      },
      "MAModelComputeResponse": {
        "type": "object",
        "properties": {
          "scenarios": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price_usd": {"type": "integer"},
                "revenue_multiple_arr": {"type": "number"},
                "ntm_accretive_months": {"type": "integer"},
                "year_3_irr": {"type": "number"},
                "year_5_irr": {"type": "number"},
                "year_3_cumulative_cash_usd": {"type": "integer"},
                "year_5_cumulative_cash_usd": {"type": "integer"},
                "dilution_to_acquirer_stock_pct": {"type": "number"}
              }
            }
          }
        }
      },
      "MLScenarioRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "deal_id": {"type": "string"},
          "ml_models": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "model_id": {"type": "string"},
                "iterations": {"type": "integer", "minimum": 10000},
                "scenarios": {"type": "array", "items": {"type": "string"}},
                "horizon_years": {"type": "integer"},
                "integration_complexity_score": {"type": "number"}
              }
            }
          },
          "deterministic_seed_provided": {"type": "boolean", "const": true},
          "deterministic_seed": {"type": "string"}
        }
      },
      "MLScenarioResponse": {
        "type": "object",
        "properties": {
          "monte_carlo_results": {"type": "object"},
          "cohort_churn_5_year_forecast": {"type": "array"},
          "integration_cost_forecast": {"type": "object"},
          "llm_provenance": {
            "type": "object",
            "properties": {
              "models_invoked": {"type": "integer"},
              "total_inference_seconds": {"type": "integer"},
              "eu_ai_act_article_50_declaration_present": {"type": "boolean", "const": true}
            }
          }
        }
      },
      "PackCrossCheckRequest": {
        "type": "object",
        "properties": {
          "acquirer_tenant_id": {"type": "string"},
          "target_tenant_id": {"type": "string"},
          "acquirer_active_packs": {"type": "array", "items": {"type": "string"}},
          "target_active_packs": {"type": "array", "items": {"type": "string"}},
          "evaluate_blockers": {"type": "boolean"}
        }
      },
      "MergerFilingsRequest": {
        "type": "object",
        "properties": {
          "deal_id": {"type": "string"},
          "deal_size_usd": {"type": "integer"},
          "acquirer_tenant_id": {"type": "string"},
          "target_tenant_id": {"type": "string"},
          "acquirer_turnover_usd": {"type": "integer"},
          "target_turnover_usd": {"type": "integer"},
          "jurisdictions_to_evaluate": {"type": "array", "items": {"type": "string"}}
        }
      },
      "CounselReviewRequest": {
        "type": "object",
        "properties": {
          "deal_id": {"type": "string"},
          "reviewer_principal": {"type": "string"},
          "redline_count": {"type": "integer"},
          "redlines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {"type": "string"},
                "subject": {"type": "string"}
              }
            }
          },
          "deal_term_clarification_requested": {"type": "string"},
          "review_duration_minutes": {"type": "integer"},
          "completed_at": {"type": "string", "format": "date-time"},
          "passkey_assertion_present": {"type": "boolean"}
        }
      },
      "CFOSignoffRequest": {
        "type": "object",
        "properties": {
          "deal_id": {"type": "string"},
          "cfo_principal": {"type": "string"},
          "financial_model_review_complete": {"type": "boolean"},
          "ml_scenario_acknowledgment": {"type": "boolean"},
          "concerns_documented": {"type": "array", "items": {"type": "string"}},
          "signoff_at": {"type": "string", "format": "date-time"},
          "passkey_assertion_present": {"type": "boolean"}
        }
      },
      "CommitteeEndorsementRequest": {
        "type": "object",
        "properties": {
          "deal_id": {"type": "string"},
          "strategy_committee": {"type": "object"},
          "audit_committee": {"type": "object"}
        }
      },
      "BoardVoteRequest": {
        "type": "object",
        "properties": {
          "deal_id": {"type": "string"},
          "meeting_at": {"type": "string", "format": "date-time"},
          "votes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "principal": {"type": "string"},
                "role": {"type": "string"},
                "vote": {"type": "string", "enum": ["yes", "no", "abstain"]}
              }
            }
          },
          "yes_count": {"type": "integer"},
          "no_count": {"type": "integer"},
          "abstain_count": {"type": "integer"},
          "total_votes": {"type": "integer", "const": 9},
          "majority_threshold": {"type": "integer", "const": 5},
          "result": {"type": "string", "enum": ["GO", "NO_GO"]},
          "voted_at": {"type": "string", "format": "date-time"}
        }
      },
      "DecisionRecordRequest": {
        "type": "object",
        "properties": {
          "deal_id": {"type": "string"},
          "bundle_components": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {"type": "string"},
                "sha256": {"type": "string"}
              }
            }
          },
          "super_merkle_root": {"type": "string"},
          "anchor_targets": {"type": "array", "items": {"type": "string"}}
        }
      }
    }
  }
}
