[Unit]
Description=Weekly Oyatie host cleanup at Sunday 04:15 (after weekly oyatie restart at 03:45)
Documentation=https://github.com/jason931225/oyatie/blob/dev/infra/onprem/cleanup/install.sh

[Timer]
OnCalendar=Sun 04:15:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
