{
  "openapi": "3.1.0",
  "info": {
    "title": "OSZK shift attendance API",
    "version": "1.0.0",
    "description": "Per-shift confirm / swap-offer / swap-accept / clock-out for OSZK security guard duties. Three-tenant journey j155 source-of-truth. Each call carries Cedar dual-role context; only OSZK-tenant audits are emitted unless a cross-tenant probe denies (in which case dual-seal applies)."
  },
  "servers": [
    {
      "url": "https://api.oya.cloud/v1",
      "description": "production"
    },
    {
      "url": "https://api.dev.oya.cloud/v1",
      "description": "dev"
    }
  ],
  "paths": {
    "/tenants/{tenant_id}/shifts/{shift_id}/confirm": {
      "post": {
        "operationId": "confirmShift",
        "summary": "NFC tap-to-clock-in shift confirmation",
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^oszk-[a-z0-9-_]+$"}},
          {"name": "shift_id", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^shift-[a-z0-9-]+$"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/ConfirmShiftRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "shift confirmed",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConfirmShiftResponse"}}}
          },
          "403": {"description": "Cedar deny; dual-seal audit emitted"},
          "409": {"description": "WTD weekly cap breach; ADR-0244"}
        },
        "x-cedar-action": "calendar.confirm_shift",
        "x-audit-class": "EVT-J155-CALENDAR-SHIFT-CONFIRM-001",
        "x-adr-refs": ["ADR-0244", "ADR-0311", "ADR-0317", "ADR-0263"]
      }
    },
    "/tenants/{tenant_id}/shifts/{shift_id}/swap-offer": {
      "post": {
        "operationId": "offerSwap",
        "summary": "Coworker offers to swap a shift",
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "shift_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SwapOfferRequest"}}}
        },
        "responses": {
          "201": {"description": "swap offer created"},
          "403": {"description": "Cedar deny"}
        },
        "x-cedar-action": "calendar.offer_swap",
        "x-audit-class": "EVT-J155-MESSENGER-SWAP-OFFER-RECEIVED-002a"
      }
    },
    "/tenants/{tenant_id}/shifts/{shift_id}/swap-accept": {
      "post": {
        "operationId": "acceptSwap",
        "summary": "Accept a coworker's swap offer (WTD-checked)",
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "shift_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SwapAcceptRequest"}}}
        },
        "responses": {
          "200": {"description": "swap accepted"},
          "409": {"description": "WTD breach"}
        },
        "x-cedar-action": "calendar.accept_swap",
        "x-audit-class": "EVT-J155-CALENDAR-SHIFT-SWAP-ACCEPT-021"
      }
    },
    "/tenants/{tenant_id}/shifts/{shift_id}/clock-out": {
      "post": {
        "operationId": "clockOut",
        "summary": "End-of-shift NFC tap-to-clock-out",
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "shift_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ClockOutRequest"}}}
        },
        "responses": {
          "200": {"description": "clocked out"},
          "409": {"description": "rest-period violation"}
        },
        "x-cedar-action": "calendar.clock_out",
        "x-audit-class": "EVT-J155-CALENDAR-CLOCK-OUT-022"
      }
    }
  },
  "components": {
    "schemas": {
      "ConfirmShiftRequest": {
        "type": "object",
        "required": ["principal", "tenant_id", "shift_id", "confirm_method", "kiosk_id", "scheduled_start", "actual_arrival", "device_attestation"],
        "properties": {
          "principal": {"type": "string", "format": "oya-principal", "example": "stefan.kovacs.work@oszk-security-services_hu"},
          "tenant_id": {"type": "string", "example": "oszk-security-services_hu"},
          "shift_id": {"type": "string", "example": "shift-stefan-2026-12-14-22-night"},
          "confirm_method": {"type": "string", "enum": ["nfc_tap_kiosk", "manual_pin_kiosk", "manager_override"]},
          "kiosk_id": {"type": "string", "example": "dell-wyse-5070-oszk-staff-entrance-001"},
          "scheduled_start": {"type": "string", "format": "date-time"},
          "actual_arrival": {"type": "string", "format": "date-time"},
          "device_attestation": {
            "type": "object",
            "required": ["device_id", "secure_element_attestation"],
            "properties": {
              "device_id": {"type": "string"},
              "secure_element_attestation": {"type": "string", "format": "byte"}
            }
          }
        }
      },
      "ConfirmShiftResponse": {
        "type": "object",
        "required": ["shift_confirmation_id", "status", "weekly_hours_running_avg", "wtd_weekly_cap_remaining", "next_eligible_clock_out_at"],
        "properties": {
          "shift_confirmation_id": {"type": "string"},
          "status": {"type": "string", "enum": ["confirmed", "manager_required", "blocked"]},
          "weekly_hours_running_avg": {"type": "number", "format": "double"},
          "wtd_weekly_cap_remaining": {"type": "number", "format": "double"},
          "next_eligible_clock_out_at": {"type": "string", "format": "date-time"}
        }
      },
      "SwapOfferRequest": {
        "type": "object",
        "required": ["offered_by_principal", "to_principal", "shift_id", "reason"],
        "properties": {
          "offered_by_principal": {"type": "string"},
          "to_principal": {"type": "string"},
          "shift_id": {"type": "string"},
          "reason": {"type": "string", "enum": ["illness", "family_emergency", "academic_conflict", "voluntary_swap"]}
        }
      },
      "SwapAcceptRequest": {
        "type": "object",
        "required": ["principal", "shift_id", "swap_request_id", "swap_basis"],
        "properties": {
          "principal": {"type": "string"},
          "shift_id": {"type": "string"},
          "swap_request_id": {"type": "string"},
          "swap_basis": {"type": "string", "enum": ["voluntary_coverage_no_overtime_no_wtd_breach", "manager_authorized_overtime"]}
        }
      },
      "ClockOutRequest": {
        "type": "object",
        "required": ["principal", "shift_id", "method", "kiosk_id", "scheduled_end", "actual_departure"],
        "properties": {
          "principal": {"type": "string"},
          "shift_id": {"type": "string"},
          "method": {"type": "string", "enum": ["nfc_tap_kiosk", "manual_pin_kiosk"]},
          "kiosk_id": {"type": "string"},
          "scheduled_end": {"type": "string", "format": "date-time"},
          "actual_departure": {"type": "string", "format": "date-time"}
        }
      }
    }
  }
}
