{
  "openapi": "3.1.0",
  "info": {
    "title": "OSZK→BME tuition payroll-bridge API",
    "version": "1.0.0",
    "description": "Three-tenant payroll-bridge: OSZK paycheck → personal-tenant consent gate → BME tuition installment. Atomically committed under TrueTime-class clock (ADR-0252) so the three audit events seal in a single fenced interval. workplace-integration orchestrates the bridge against ADP-Streamline-HU; SEPA Instant via GIRO settles the on-wire transfer."
  },
  "servers": [
    {"url": "https://api.oya.cloud/v1", "description": "production"},
    {"url": "https://api.dev.oya.cloud/v1", "description": "dev"}
  ],
  "paths": {
    "/tenants/{tenant_id}/payments/tuition/installment-q4-2026-confirm": {
      "post": {
        "operationId": "confirmTuitionInstallment",
        "summary": "Student confirms tuition installment, funded via payroll bridge",
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^bme-student-[a-z0-9-_]+$"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TuitionConfirmRequest"}}}
        },
        "responses": {
          "200": {"description": "tuition paid via bridge"},
          "402": {"description": "personal-tenant consent revoked; resolve required"},
          "409": {"description": "TrueTime fence violation; retry"}
        },
        "x-cedar-action": "payments.tuition_pay",
        "x-audit-class": "EVT-J155-PAYMENTS-TUITION-PAID-006e",
        "x-truetime-class": true,
        "x-adr-refs": ["ADR-0252", "ADR-0244", "ADR-0311", "ADR-0263"]
      }
    },
    "/tenants/{tenant_id}/workplace-integration/bridge/propose": {
      "post": {
        "operationId": "proposeBridge",
        "summary": "OSZK-side proposal: deduct HUF amount from paycheck for BME tuition",
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BridgeProposeRequest"}}}
        },
        "responses": {"201": {"description": "proposal queued"}},
        "x-cedar-action": "workplace.bridge_propose",
        "x-audit-class": "EVT-J155-WORKPLACE-BRIDGE-PROPOSE-006b"
      }
    },
    "/tenants/{tenant_id}/workplace-integration/bridge/consent": {
      "post": {
        "operationId": "consentBridge",
        "summary": "Personal-tenant consent for OSZK→BME bridge",
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^personal-[a-z0-9-_]+$"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BridgeConsentRequest"}}}
        },
        "responses": {
          "200": {"description": "consent granted; bridge proceeds"},
          "403": {"description": "consent revoked or not granted"}
        },
        "x-cedar-action": "workplace.bridge_consent",
        "x-audit-class": "EVT-J155-PERSONAL-BRIDGE-CONSENT-006c"
      }
    },
    "/tenants/{tenant_id}/workplace-integration/bridge/commit": {
      "post": {
        "operationId": "commitBridge",
        "summary": "TrueTime-fenced commit across all three tenants",
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BridgeCommitRequest"}}}
        },
        "responses": {
          "200": {"description": "committed atomically"},
          "409": {"description": "fence violation"},
          "504": {"description": "SEPA Instant timeout (>5s)"}
        },
        "x-cedar-action": "workplace.bridge_commit",
        "x-audit-class": "EVT-J155-WORKPLACE-BRIDGE-COMMIT-006d",
        "x-truetime-class": true
      }
    }
  },
  "components": {
    "schemas": {
      "TuitionConfirmRequest": {
        "type": "object",
        "required": ["amount", "currency", "funding_source", "installment_id"],
        "properties": {
          "amount": {"type": "string", "pattern": "^[0-9]+$", "example": "187500"},
          "currency": {"type": "string", "enum": ["HUF", "EUR"], "example": "HUF"},
          "funding_source": {"type": "string", "enum": ["payroll_bridge", "direct_sepa", "stripe_card"]},
          "installment_id": {"type": "string", "example": "inst-bme-bodv75-2026q4"}
        }
      },
      "BridgeProposeRequest": {
        "type": "object",
        "required": ["employee_id", "deduction_amount", "currency", "destination_tenant", "destination_installment_id", "pay_period"],
        "properties": {
          "employee_id": {"type": "string"},
          "deduction_amount": {"type": "string"},
          "currency": {"type": "string"},
          "destination_tenant": {"type": "string"},
          "destination_installment_id": {"type": "string"},
          "pay_period": {"type": "string", "example": "2026-12"}
        }
      },
      "BridgeConsentRequest": {
        "type": "object",
        "required": ["personal_principal", "bridge_id", "decision", "consent_method"],
        "properties": {
          "personal_principal": {"type": "string"},
          "bridge_id": {"type": "string"},
          "decision": {"type": "string", "enum": ["grant", "revoke"]},
          "consent_method": {"type": "string", "enum": ["pre_authorized_recurring", "one_time_inline", "passkey_confirm"]}
        }
      },
      "BridgeCommitRequest": {
        "type": "object",
        "required": ["bridge_id", "truetime_window", "tenant_set"],
        "properties": {
          "bridge_id": {"type": "string"},
          "truetime_window": {
            "type": "object",
            "required": ["earliest", "latest", "uncertainty_ms"],
            "properties": {
              "earliest": {"type": "string", "format": "date-time"},
              "latest": {"type": "string", "format": "date-time"},
              "uncertainty_ms": {"type": "integer", "maximum": 10}
            }
          },
          "tenant_set": {
            "type": "array",
            "minItems": 3,
            "maxItems": 3,
            "items": {"type": "string"}
          }
        }
      }
    }
  }
}
