{
  "openapi": "3.1.0",
  "info": {
    "title": "j170 Annual Emissions Report API",
    "version": "1.0.0",
    "description": "Endpoints for MFI Annual Scope-1+2+3 emissions report with Scope-3 supply-chain data ingest via connect µservice, multi-framework composition (CDP + SEC + ESRS-E1 + IFRS-S2), E&Y assurance via Merkle replay, SBTi alignment trajectory. Implements ADR-0251 (compliance pack), ADR-0244 (tenant scoping), ADR-0263 (audit dual-seal), ADR-0252 (TrueTime), ADR-0248 (cellular)."
  },
  "servers": [
    {"url": "https://compliance.marlboro-forge-industries-inc-cleveland-oh-us.oyatie.cloud"}
  ],
  "paths": {
    "/v1/emissions-reports/initialize": {
      "post": {
        "operationId": "initializeEmissionsReport",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/EmissionsReportInitRequest"}}}},
        "responses": {"200": {"description": "Workflow initialized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EmissionsReportInitResponse"}}}}}
      }
    },
    "/v1/structured-extracts/utility-bill": {
      "post": {
        "operationId": "extractUtilityBill",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/StructuredExtractRequest"}}}},
        "responses": {"200": {"description": "Extraction completed"}}
      }
    },
    "/v1/cross-tenant-data-exchange/initiate": {
      "post": {
        "operationId": "initiateCrossTenantRequest",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CrossTenantInitiateRequest"}}}},
        "responses": {"200": {"description": "Cross-tenant channel opened"}}
      }
    },
    "/v1/cross-tenant-data-exchange/submit": {
      "post": {
        "operationId": "submitSupplierData",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SupplierDataSubmission"}}}},
        "responses": {"200": {"description": "Submission dual-sealed", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SupplierDataSubmissionResponse"}}}}}
      }
    },
    "/v1/entities/map-supplier-to-supply-chain-partner": {
      "post": {
        "operationId": "mapSupplierToOntology",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/OntologyMappingRequest"}}}},
        "responses": {"200": {"description": "Ontology mapped"}}
      }
    },
    "/v1/merkle-proof-replays/initiate": {
      "post": {
        "operationId": "initiateMerkleReplay",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/MerkleReplayRequest"}}}},
        "responses": {"200": {"description": "Replay session opened"}}
      }
    },
    "/v1/emissions-reports/{id}/compose": {
      "post": {
        "operationId": "composeMultiFrameworkReport",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ComposeRequest"}}}},
        "responses": {"200": {"description": "All framework variants composed"}}
      }
    },
    "/v1/emissions-reports/{id}/filing-permit-vote": {
      "post": {
        "operationId": "submitFilingPermitVote",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FilingPermitVote"}}}},
        "responses": {"200": {"description": "Vote accepted"}}
      }
    },
    "/v1/filings/submit-to-{framework_authority}": {
      "post": {
        "operationId": "submitFilingToAuthority",
        "parameters": [{"name": "framework_authority", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthoritySubmission"}}}},
        "responses": {"202": {"description": "Submission accepted by authority"}}
      }
    }
  },
  "components": {
    "schemas": {
      "EmissionsReportInitRequest": {
        "type": "object",
        "required": ["fiscal_year", "scope_coverage", "frameworks"],
        "properties": {
          "fiscal_year": {"type": "string", "pattern": "^FY[0-9]{4}$"},
          "scope_coverage": {"type": "array", "items": {"type": "string"}},
          "frameworks": {"type": "array", "items": {"type": "string"}},
          "assurance_provider": {"type": "string"},
          "carry_forward_from_previous_fy": {"type": "array", "items": {"type": "string"}}
        }
      },
      "EmissionsReportInitResponse": {
        "type": "object",
        "properties": {
          "report_id": {"type": "string"},
          "workflow_id": {"type": "string"},
          "total_tasks_materialized": {"type": "integer"},
          "phase_breakdown": {"type": "object"},
          "audit_seal": {"type": "string"}
        }
      },
      "StructuredExtractRequest": {
        "type": "object",
        "properties": {
          "source_pdf_url": {"type": "string"},
          "extract_schema": {"type": "string"},
          "expected_fields": {"type": "array", "items": {"type": "string"}},
          "submitter_principal": {"type": "string"}
        }
      },
      "CrossTenantInitiateRequest": {
        "type": "object",
        "required": ["request_id", "scope_category", "data_schema_required", "deadline", "nda_reference"],
        "properties": {
          "request_id": {"type": "string"},
          "scope_category": {"type": "string"},
          "data_schema_required": {"type": "string"},
          "deadline": {"type": "string", "format": "date"},
          "nda_reference": {"type": "string"},
          "scope_year": {"type": "string"},
          "data_submitter_principal_invited": {"type": "string"}
        }
      },
      "SupplierDataSubmission": {
        "type": "object",
        "required": ["request_id", "scope_category", "data_schema", "activity_data", "data_submitter_principal", "nda_acknowledged"],
        "properties": {
          "request_id": {"type": "string"},
          "scope_category": {"type": "string"},
          "data_schema": {"type": "string"},
          "activity_data": {"type": "object"},
          "data_submitter_principal": {"type": "string"},
          "data_submitter_passkey_attestation": {"type": "string"},
          "nda_acknowledged": {"type": "boolean"},
          "audit_chain_dual_seal_acknowledged": {"type": "boolean"}
        }
      },
      "SupplierDataSubmissionResponse": {
        "type": "object",
        "properties": {
          "submission_id": {"type": "string"},
          "audit_seal": {"type": "string"},
          "dual_seal_tenants": {"type": "array", "items": {"type": "string"}},
          "merkle_root_for_submission": {"type": "string"},
          "truetime_uncertainty_ms": {"type": "number"},
          "ontology_mapping_triggered": {"type": "boolean"}
        }
      },
      "OntologyMappingRequest": {
        "type": "object",
        "properties": {
          "supplier_entity_name": {"type": "string"},
          "supplier_tenant": {"type": "string"},
          "ontology_node_type": {"type": "string"},
          "emissions_attribution_tags": {"type": "object"}
        }
      },
      "MerkleReplayRequest": {
        "type": "object",
        "properties": {
          "engagement_id": {"type": "string"},
          "assurance_partner": {"type": "string"},
          "replay_scope": {"type": "array", "items": {"type": "string"}},
          "engagement_dates": {"type": "array", "items": {"type": "string", "format": "date"}}
        }
      },
      "ComposeRequest": {
        "type": "object",
        "properties": {
          "report_id": {"type": "string"},
          "frameworks": {"type": "array", "items": {"type": "string"}},
          "single_source_merkle_root": {"type": "string"},
          "translator_required_for": {"type": "array", "items": {"type": "string"}},
          "translator_provider": {"type": "string"}
        }
      },
      "FilingPermitVote": {
        "type": "object",
        "properties": {
          "report_id": {"type": "string"},
          "voter_principal": {"type": "string"},
          "voter_role": {"type": "string"},
          "decision": {"type": "string", "enum": ["PERMIT", "DENY", "ABSTAIN"]},
          "rationale_en_US": {"type": "string"},
          "voter_passkey_attestation": {"type": "string"}
        }
      },
      "AuthoritySubmission": {
        "type": "object",
        "properties": {
          "framework": {"type": "string"},
          "target_authority_tenant": {"type": "string"},
          "report_artifact_id": {"type": "string"},
          "merkle_root": {"type": "string"},
          "signer": {"type": "string"},
          "signer_qes_provider": {"type": "string"},
          "filing_window_close_utc": {"type": "string", "format": "date-time"}
        }
      }
    }
  }
}
