{
  "openapi": "3.1.0",
  "info": {
    "title": "LP K-1 Reconciliation API",
    "version": "1.0.0",
    "description": "LP K-1 reconciliation + tax-character + state apportionment + FTC + AMT + 199A + 1411 NIIT endpoints for j175.",
    "x-journey-id": "j175-aanya-kapoor-LP-portfolio-tax-and-K1-distribution",
    "x-related-adrs": [
      "ADR-0243-cedar-as-universal-gate",
      "ADR-0244-tenant-as-universal-scoping-primitive",
      "ADR-0251-compliance-pack-primitive",
      "ADR-0263-observability-emission-contract"
    ]
  },
  "servers": [
    {
      "url": "https://finops-portal.aanya-kapoor-personal-2008.oyatie.app/v1",
      "description": "Aanya's personal tenant finops-portal"
    }
  ],
  "paths": {
    "/lp-cockpit/open": {
      "get": {
        "operationId": "openLPCockpit",
        "x-cedar-permit": "personal_tenant + accredited + qualified_purchaser + passkey + face",
        "x-audit-class": "EVT-J175-LP-COCKPIT-OPENED-Δ000",
        "responses": { "200": { "description": "Cockpit opened" } }
      }
    },
    "/finops/k1/ingest": {
      "post": {
        "operationId": "ingestK1",
        "x-cedar-permit": "fund_gp + lp_recipient",
        "x-audit-class": "EVT-J175-K1-INGESTED-001",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/K1IngestRequest" }
            }
          }
        },
        "responses": { "201": { "description": "K-1 ingested" } }
      }
    },
    "/finops/lp-capital-account/reconcile": {
      "post": {
        "operationId": "reconcileLPCapitalAccount",
        "x-cedar-permit": "personal_tenant + finops_portal",
        "x-audit-class": "EVT-J175-CAPITAL-ACCOUNT-RECONCILED-002",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LPCapitalAccountReconcileRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Reconciled" } }
      }
    },
    "/finops/tax-character/categorize": {
      "post": {
        "operationId": "categorizeTaxCharacter",
        "x-cedar-permit": "personal_tenant + finops_portal",
        "x-audit-class": "EVT-J175-TAX-CHARACTER-003",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TaxCharacterCategorizeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax character categorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TaxCharacterCategorizeResponse" }
              }
            }
          }
        }
      }
    },
    "/finops/section-199a/compute": {
      "post": {
        "operationId": "computeSection199A",
        "x-cedar-permit": "personal_tenant + finops_portal",
        "x-audit-class": "EVT-J175-SECTION-199A-COMPUTED-004",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Section199AComputeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "199A computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Section199AComputeResponse" }
              }
            }
          }
        }
      }
    },
    "/finops/section-1411-niit/compute": {
      "post": {
        "operationId": "computeSection1411NIIT",
        "x-cedar-permit": "personal_tenant + finops_portal",
        "x-audit-class": "EVT-J175-SECTION-1411-NIIT-005",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Section1411NIITComputeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NIIT computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Section1411NIITComputeResponse" }
              }
            }
          }
        }
      }
    },
    "/compliance/state-apportionment/compute": {
      "post": {
        "operationId": "computeStateApportionment",
        "x-cedar-permit": "personal_tenant + compliance",
        "x-audit-class": "EVT-J175-STATE-APPORTIONMENT-006",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StateApportionmentRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "State apportionment computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/StateApportionmentResponse" }
              }
            }
          }
        }
      }
    },
    "/compliance/foreign-tax-credit/compute": {
      "post": {
        "operationId": "computeFTC",
        "x-cedar-permit": "personal_tenant + compliance",
        "x-audit-class": "EVT-J175-FOREIGN-TAX-CREDIT-007",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Form1116FTCComputeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "FTC computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Form1116FTCComputeResponse" }
              }
            }
          }
        }
      }
    },
    "/compliance/amt/compute": {
      "post": {
        "operationId": "computeAMT",
        "x-cedar-permit": "personal_tenant + compliance",
        "x-audit-class": "EVT-J175-AMT-COMPUTED-008",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AMTComputeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AMT computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AMTComputeResponse" }
              }
            }
          }
        }
      }
    },
    "/drive/k1-worm/archive": {
      "post": {
        "operationId": "archiveK1WORM",
        "x-cedar-permit": "personal_tenant + drive + worm + 7y_retention",
        "x-audit-class": "EVT-J175-WORM-ARCHIVED-011",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/K1WORMArchiveRequest" }
            }
          }
        },
        "responses": { "201": { "description": "WORM archived" } }
      }
    },
    "/drive/cpa-package/share": {
      "post": {
        "operationId": "shareCPAPackage",
        "x-cedar-permit": "personal_tenant + drive + cpa_engagement_active",
        "x-audit-class": "EVT-J175-CPA-PACKAGE-SENT-Δ012a",
        "responses": { "201": { "description": "Package shared" } }
      }
    },
    "/connect/gp-lp-channel/send": {
      "post": {
        "operationId": "sendGPLPMessage",
        "x-cedar-permit": "gp_lp_channel_member + payload_class_allowlist",
        "x-audit-class": "EVT-J175-GP-LP-CLARIFICATION-Δ010",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/GPLPMessageRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Message sent" } }
      }
    }
  },
  "components": {
    "schemas": {
      "K1IngestRequest": {
        "type": "object",
        "required": ["lp_principal", "fund_gp", "fund_name", "filename", "pdf_content_b64", "content_sha256", "tax_year"],
        "properties": {
          "lp_principal": { "type": "string" },
          "fund_gp": { "type": "string", "enum": ["a16z_fund_vii", "sequoia_us_growth_ix", "kkr_asian_fund_v", "insight_venture_xii"] },
          "fund_name": { "type": "string" },
          "fund_vintage": { "type": "string" },
          "filename": { "type": "string" },
          "pdf_content_b64": { "type": "string" },
          "content_sha256": { "type": "string" },
          "tax_year": { "type": "string", "pattern": "^[0-9]{4}$" },
          "filing_form": { "type": "string", "enum": ["Form_1065_Schedule_K-1"] },
          "schedule_k_3_attached": { "type": "boolean" }
        }
      },
      "LPCapitalAccountReconcileRequest": {
        "type": "object",
        "required": ["lp_session_id", "fund_capital_accounts", "aggregate_lp_capital_eod"],
        "properties": {
          "lp_session_id": { "type": "string" },
          "fund_capital_accounts": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["fund_name", "opening_capital_account_2026", "closing_capital_account_2026"],
              "properties": {
                "fund_name": { "type": "string" },
                "opening_capital_account_2026": { "type": "number" },
                "contributions_2026": { "type": "number" },
                "distributions_2026": { "type": "number" },
                "ordinary_income_allocated": { "type": "number" },
                "capital_gain_allocated_LT": { "type": "number" },
                "capital_gain_allocated_ST": { "type": "number" },
                "section_199a_allocated": { "type": "number" },
                "foreign_source_income_allocated": { "type": "number" },
                "closing_capital_account_2026": { "type": "number" },
                "gp_capital_account_statement_id": { "type": "string" }
              }
            },
            "minItems": 4,
            "maxItems": 4
          },
          "aggregate_lp_capital_eod_2026": { "type": "number" },
          "total_committed": { "type": "number" },
          "uncalled_remaining": { "type": "number" }
        }
      },
      "TaxCharacterCategorizeRequest": {
        "type": "object",
        "required": ["lp_session_id", "per_fund"],
        "properties": {
          "lp_session_id": { "type": "string" },
          "per_fund": { "type": "array", "items": { "type": "object" } }
        }
      },
      "TaxCharacterCategorizeResponse": {
        "type": "object",
        "required": ["compute_id", "per_character_aggregate_usd", "grand_total_usd"],
        "properties": {
          "compute_id": { "type": "string" },
          "per_character_aggregate_usd": { "type": "object", "additionalProperties": { "type": "number" } },
          "grand_total_usd": { "type": "number" }
        }
      },
      "Section199AComputeRequest": {
        "type": "object",
        "required": ["qbi_aggregate", "w2_income", "taxable_income_projected", "filing_status"],
        "properties": {
          "qbi_aggregate": { "type": "number" },
          "w2_income": { "type": "number" },
          "taxable_income_projected": { "type": "number" },
          "filing_status": { "type": "string", "enum": ["married_filing_jointly", "single", "head_of_household"] }
        }
      },
      "Section199AComputeResponse": {
        "type": "object",
        "required": ["qbi_aggregate", "gross_199a_at_20pct", "phaseout_state", "effective_199a_deduction_after_phaseout"],
        "properties": {
          "qbi_aggregate": { "type": "number" },
          "gross_199a_at_20pct": { "type": "number" },
          "phaseout_state": { "type": "string", "enum": ["not_in_phaseout", "partial_phaseout", "fully_phased_out"] },
          "effective_199a_deduction_after_phaseout": { "type": "number" }
        }
      },
      "Section1411NIITComputeRequest": {
        "type": "object",
        "required": ["net_investment_income", "magi", "magi_threshold"],
        "properties": {
          "net_investment_income": { "type": "number" },
          "magi": { "type": "number" },
          "magi_threshold": { "type": "number" }
        }
      },
      "Section1411NIITComputeResponse": {
        "type": "object",
        "required": ["niit_base", "niit_rate", "niit_owed"],
        "properties": {
          "niit_base": { "type": "number" },
          "niit_rate": { "type": "number", "enum": [0.038] },
          "niit_owed": { "type": "number" }
        }
      },
      "StateApportionmentRequest": {
        "type": "object",
        "required": ["lp_session_id", "residence_state", "per_fund"],
        "properties": {
          "lp_session_id": { "type": "string" },
          "residence_state": { "type": "string", "enum": ["CA", "NY", "MA", "TX", "WA", "CO", "TN", "FL"] },
          "per_fund": { "type": "array", "items": { "type": "object" } }
        }
      },
      "StateApportionmentResponse": {
        "type": "object",
        "required": ["per_state_aanya_income_usd", "ca_projected_tax_usd", "out_of_state_credit_aggregate_usd", "net_ca_tax_after_credit_usd"],
        "properties": {
          "per_state_aanya_income_usd": { "type": "object", "additionalProperties": { "type": "number" } },
          "ca_projected_tax_usd": { "type": "number" },
          "out_of_state_credit_aggregate_usd": { "type": "number" },
          "net_ca_tax_after_credit_usd": { "type": "number" }
        }
      },
      "Form1116FTCComputeRequest": {
        "type": "object",
        "required": ["lp_session_id", "foreign_taxes_paid"],
        "properties": {
          "lp_session_id": { "type": "string" },
          "foreign_taxes_paid": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "jurisdiction": { "type": "string" },
                "amount_usd": { "type": "number" },
                "fund_gp": { "type": "string" }
              }
            }
          }
        }
      },
      "Form1116FTCComputeResponse": {
        "type": "object",
        "required": ["ftc_basket_passive", "ftc_creditable_this_year", "ftc_carryforward_to_next_year"],
        "properties": {
          "ftc_basket_passive": { "type": "number" },
          "ftc_basket_general": { "type": "number" },
          "ftc_creditable_this_year": { "type": "number" },
          "ftc_carryforward_to_next_year": { "type": "number" }
        }
      },
      "AMTComputeRequest": {
        "type": "object",
        "required": ["amti", "amt_exemption_mfj", "regular_tax"],
        "properties": {
          "amti": { "type": "number" },
          "amt_exemption_mfj": { "type": "number" },
          "phaseout_completion": { "type": "number" },
          "regular_tax": { "type": "number" }
        }
      },
      "AMTComputeResponse": {
        "type": "object",
        "required": ["amti_minus_exemption", "amt_tentative", "amt_owed", "amt_zone"],
        "properties": {
          "amti_minus_exemption": { "type": "number" },
          "amt_tentative": { "type": "number" },
          "amt_owed": { "type": "number", "minimum": 0 },
          "amt_zone": { "type": "boolean" }
        }
      },
      "K1WORMArchiveRequest": {
        "type": "object",
        "required": ["lp_session_id", "worm_cell", "seal_class", "retention_years_minimum", "indelible_storage_attestation", "artifacts"],
        "properties": {
          "lp_session_id": { "type": "string" },
          "worm_cell": { "type": "string", "enum": ["us-west-tier-1-worm-irs-retention"] },
          "seal_class": { "type": "string", "enum": ["irs-aligned-worm-class-1"] },
          "retention_years_minimum": { "type": "integer", "minimum": 7 },
          "indelible_storage_attestation": { "type": "boolean", "enum": [true] },
          "time_stamp_authority_id": { "type": "string" },
          "artifacts": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["artifact_id", "filename", "sha256", "artifact_class"],
              "properties": {
                "artifact_id": { "type": "string" },
                "filename": { "type": "string" },
                "size_bytes": { "type": "integer" },
                "sha256": { "type": "string" },
                "mime_type": { "type": "string" },
                "artifact_class": { "type": "string", "enum": ["k1_pdf", "capital_account_statement", "partner_allocation_schedule", "foreign_tax_credit_footnote"] },
                "fund_gp": { "type": "string" }
              }
            },
            "minItems": 16,
            "maxItems": 16
          }
        }
      },
      "GPLPMessageRequest": {
        "type": "object",
        "required": ["channel_id", "sender_principal", "payload_class", "mls_encrypted_payload_b64"],
        "properties": {
          "channel_id": { "type": "string" },
          "sender_principal": { "type": "string" },
          "payload_class": { "type": "string", "enum": ["k1_clarification_question", "k1_clarification_answer", "capital_call_notice", "distribution_notice", "partner_allocation_clarification", "annual_meeting_logistics"] },
          "mls_encrypted_payload_b64": { "type": "string" },
          "sent_at": { "type": "string", "format": "date-time" }
        }
      }
    },
    "securitySchemes": {
      "passkey_face_combo": { "type": "apiKey", "in": "header", "name": "X-Oyatie-Passkey-Face-Token" }
    }
  },
  "security": [ { "passkey_face_combo": [] } ]
}
