{
  "openapi": "3.1.0",
  "info": {
    "title": "Quarterly Estimated Tax Payment API",
    "version": "1.0.0",
    "description": "IRS Direct Pay + 8 state revenue department dispatch endpoints for j175.",
    "x-journey-id": "j175-aanya-kapoor-LP-portfolio-tax-and-K1-distribution"
  },
  "servers": [
    {
      "url": "https://payments.aanya-kapoor-personal-2008.oyatie.app/v1",
      "description": "Aanya's personal tenant payments µservice"
    }
  ],
  "paths": {
    "/payments/irs-direct-pay/dispatch": {
      "post": {
        "operationId": "dispatchIRSDirectPay",
        "x-cedar-permit": "personal_tenant + sanctions_clean_for_govt",
        "x-audit-class": "EVT-J175-ESTIMATED-TAX-IRS-Δ009a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/IRSDirectPayDispatchRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IRS payment dispatched + ACKed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentDispatchResponse" }
              }
            }
          }
        }
      }
    },
    "/payments/state-revenue/dispatch": {
      "post": {
        "operationId": "dispatchStateRevenue",
        "x-cedar-permit": "personal_tenant + state_in_allowlist",
        "x-audit-class": "EVT-J175-ESTIMATED-TAX-STATE",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StateRevenueDispatchRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "State payment dispatched + ACKed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaymentDispatchResponse" }
              }
            }
          }
        }
      }
    },
    "/payments/safe-harbor/check": {
      "post": {
        "operationId": "checkSafeHarbor",
        "x-cedar-permit": "personal_tenant + finops_portal",
        "x-audit-class": "EVT-J175-SAFE-HARBOR-CHECKED",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tax_year", "prior_year_total_tax", "current_year_projected_tax", "q1_paid", "q2_paid", "q3_paid", "q4_paid"],
                "properties": {
                  "tax_year": { "type": "string" },
                  "prior_year_total_tax": { "type": "number" },
                  "prior_year_agi": { "type": "number" },
                  "current_year_projected_tax": { "type": "number" },
                  "q1_paid": { "type": "number" },
                  "q2_paid": { "type": "number" },
                  "q3_paid": { "type": "number" },
                  "q4_paid": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Safe harbor check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["safe_harbor_met", "applicable_safe_harbor_rule", "underpayment_penalty_risk"],
                  "properties": {
                    "safe_harbor_met": { "type": "boolean" },
                    "applicable_safe_harbor_rule": { "type": "string", "enum": ["90pct_current_year", "110pct_prior_year_agi_above_150k", "100pct_prior_year_agi_below_150k"] },
                    "underpayment_penalty_risk": { "type": "string", "enum": ["none", "low", "moderate", "high"] }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IRSDirectPayDispatchRequest": {
        "type": "object",
        "required": ["tax_year", "quarter", "amount_usd", "payment_method", "filer_ssn_last4", "payment_at"],
        "properties": {
          "tax_year": { "type": "string", "pattern": "^[0-9]{4}$" },
          "quarter": { "type": "string", "enum": ["Q1", "Q2", "Q3", "Q4"] },
          "amount_usd": { "type": "number", "minimum": 1 },
          "payment_method": { "type": "string", "enum": ["ACH", "credit_card"] },
          "irs_direct_pay_account_id": { "type": "string" },
          "filer_ssn_last4": { "type": "string", "pattern": "^[0-9]{4}$|^\\[REDACTED\\]$" },
          "payment_at": { "type": "string", "format": "date-time" }
        }
      },
      "StateRevenueDispatchRequest": {
        "type": "object",
        "required": ["tax_year", "quarter", "state", "state_revenue_dept", "amount_usd", "payment_at"],
        "properties": {
          "tax_year": { "type": "string", "pattern": "^[0-9]{4}$" },
          "quarter": { "type": "string", "enum": ["Q1", "Q2", "Q3", "Q4"] },
          "state": { "type": "string", "enum": ["CA", "NY", "MA", "TX", "WA", "CO", "TN", "FL"] },
          "state_revenue_dept": { "type": "string", "enum": ["CA_FTB", "NY_DTF", "MA_DOR", "CO_DOR"] },
          "amount_usd": { "type": "number", "minimum": 0 },
          "payment_method": { "type": "string" },
          "payment_at": { "type": "string", "format": "date-time" }
        }
      },
      "PaymentDispatchResponse": {
        "type": "object",
        "required": ["payment_id", "ack_received", "ack_at"],
        "properties": {
          "payment_id": { "type": "string" },
          "ack_received": { "type": "boolean" },
          "ack_at": { "type": "string", "format": "date-time" },
          "confirmation_number": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "passkey_face_combo": { "type": "apiKey", "in": "header", "name": "X-Oyatie-Passkey-Face-Token" }
    }
  },
  "security": [ { "passkey_face_combo": [] } ]
}
