{
  "openapi": "3.1.0",
  "info": {
    "title": "AGM Vote Tally API",
    "version": "1.0.0",
    "description": "Per-share-class vote tally + dual-sign certification + Merkle anchor for j172.",
    "x-journey-id": "j172-lev-kahn-investor-relations-shareholder-meeting-livestream",
    "x-related-adrs": [
      "ADR-0243-cedar-as-universal-gate",
      "ADR-0244-tenant-as-universal-scoping-primitive",
      "ADR-0252-hlc-default-truetime-tier"
    ]
  },
  "servers": [
    {
      "url": "https://governance.helios-industries-inc-nyse-hlos.oyatie.app/v1",
      "description": "Helios governance µservice"
    }
  ],
  "paths": {
    "/governance/agm/voting/open": {
      "post": {
        "operationId": "openVoting",
        "x-cedar-permit": "gc_secretary + governance + per_proposal",
        "x-audit-class": "EVT-J172-VOTING-OPENED-Δ005a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OpenVotingRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Voting opened" } }
      }
    },
    "/governance/agm/voting/close": {
      "post": {
        "operationId": "closeVoting",
        "x-cedar-permit": "gc_secretary + governance",
        "x-audit-class": "EVT-J172-VOTING-CLOSED-Δ005b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agm_session_id", "proposal_id", "closed_at_utc"],
                "properties": {
                  "agm_session_id": { "type": "string" },
                  "proposal_id": { "type": "string" },
                  "closed_at_utc": { "type": "string", "format": "date-time" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Voting closed" } }
      }
    },
    "/governance/agm/rolling-tally/stream": {
      "get": {
        "operationId": "streamRollingTally",
        "x-cedar-permit": "governance + per_share_class_visibility",
        "x-audit-class": "EVT-J172-ROLLING-TALLY-STREAM",
        "parameters": [
          {
            "name": "agm_session_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "proposal_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Rolling tally envelope stream (Server-Sent Events / WebSocket)",
            "content": {
              "text/event-stream": {
                "schema": { "$ref": "#/components/schemas/RollingTallyEnvelope" }
              }
            }
          }
        }
      }
    },
    "/governance/agm/vote-tally/certify-computershare": {
      "post": {
        "operationId": "certifyComputershare",
        "x-cedar-permit": "computershare_registrar_tally_service + per_share_class",
        "x-audit-class": "EVT-J172-VOTE-TALLY-COMPUTERSHARE-SIGN",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ComputershareSignRequest" }
            }
          }
        },
        "responses": { "200": { "description": "Computershare signed" } }
      }
    },
    "/governance/agm/vote-tally/certify-inspector": {
      "post": {
        "operationId": "certifyInspector",
        "x-cedar-permit": "carl_hagberg_inspector_of_elections + computershare_sign_present",
        "x-audit-class": "EVT-J172-VOTE-TALLY-INSPECTOR-SIGN",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InspectorSignRequest" }
            }
          }
        },
        "responses": { "200": { "description": "Inspector signed" } }
      }
    },
    "/governance/agm/vote-tally/certify-final": {
      "post": {
        "operationId": "certifyFinal",
        "x-cedar-permit": "dual_sign_required + computershare_sign_present + carl_hagberg_sign_present + merkle_anchor_emitted",
        "x-audit-class": "EVT-J172-VOTE-TALLY-005",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DualSignCertifyRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vote tally certified dual-signed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CertifyFinalResponse" }
              }
            }
          },
          "403": { "description": "Cedar deny: dual-sign incomplete" }
        }
      }
    },
    "/audit-chain/agm-anchor/emit": {
      "post": {
        "operationId": "emitAGMAnchor",
        "x-cedar-permit": "governance_service + per_share_class",
        "x-audit-class": "EVT-J172-MERKLE-ANCHORS-007",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmitAGMAnchorRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Merkle anchor emitted" } }
      }
    },
    "/governance/agm/final-certification": {
      "post": {
        "operationId": "finalCertification",
        "x-cedar-permit": "gc + computershare + carl_hagberg",
        "x-audit-class": "EVT-J172-FINAL-CERTIFICATION-Δ005f",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agm_session_id", "all_items_tallied", "all_items_dual_signed", "all_items_merkle_anchored", "external_transparency_log"],
                "properties": {
                  "agm_session_id": { "type": "string" },
                  "all_items_tallied": { "type": "boolean", "enum": [true] },
                  "all_items_dual_signed": { "type": "boolean", "enum": [true] },
                  "all_items_merkle_anchored": { "type": "boolean", "enum": [true] },
                  "external_transparency_log": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Final certification recorded" } }
      }
    }
  },
  "components": {
    "schemas": {
      "OpenVotingRequest": {
        "type": "object",
        "required": ["agm_session_id", "proposal_id", "share_classes", "voting_window_utc", "dual_sign_required"],
        "properties": {
          "agm_session_id": { "type": "string" },
          "proposal_id": { "type": "string" },
          "share_classes": {
            "type": "array",
            "items": { "type": "string", "enum": ["common_A", "common_B_founder"] },
            "minItems": 1
          },
          "voting_window_utc": {
            "type": "array",
            "items": { "type": "string", "format": "date-time" },
            "minItems": 2,
            "maxItems": 2
          },
          "rolling_tally_enabled": { "type": "boolean" },
          "dual_sign_required": { "type": "boolean", "enum": [true] },
          "dual_signers": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "RollingTallyEnvelope": {
        "type": "object",
        "required": ["proposal_id", "share_class", "in_favor", "against", "abstain", "total_votes", "tally_t", "merkle_root"],
        "properties": {
          "proposal_id": { "type": "string" },
          "share_class": { "type": "string", "enum": ["common_A", "common_B_founder"] },
          "votes_pre_recorded_proxy": { "type": "integer" },
          "votes_live_during_meeting": { "type": "integer" },
          "total_votes": { "type": "integer" },
          "in_favor": { "type": "integer" },
          "against": { "type": "integer" },
          "abstain": { "type": "integer" },
          "tally_t": { "type": "string", "format": "date-time" },
          "merkle_root": { "type": "string" }
        }
      },
      "ComputershareSignRequest": {
        "type": "object",
        "required": ["proposal_id", "share_class", "computershare_sign_principal", "computershare_sign_t", "final_in_favor", "final_against", "final_abstain", "final_total", "merkle_root_per_share_class"],
        "properties": {
          "proposal_id": { "type": "string" },
          "share_class": { "type": "string" },
          "computershare_sign_principal": { "type": "string" },
          "computershare_sign_t": { "type": "string", "format": "date-time" },
          "final_in_favor": { "type": "integer" },
          "final_against": { "type": "integer" },
          "final_abstain": { "type": "integer" },
          "final_total": { "type": "integer" },
          "merkle_root_per_share_class": { "type": "string" }
        }
      },
      "InspectorSignRequest": {
        "type": "object",
        "required": ["proposal_id", "share_class", "carl_hagberg_sign_principal", "carl_hagberg_sign_t", "computershare_sign_present", "merkle_root_per_share_class"],
        "properties": {
          "proposal_id": { "type": "string" },
          "share_class": { "type": "string" },
          "carl_hagberg_sign_principal": { "type": "string" },
          "carl_hagberg_sign_t": { "type": "string", "format": "date-time" },
          "computershare_sign_present": { "type": "boolean", "enum": [true] },
          "merkle_root_per_share_class": { "type": "string" }
        }
      },
      "DualSignCertifyRequest": {
        "type": "object",
        "required": ["proposal_id", "share_class", "final_in_favor", "final_against", "final_abstain", "final_total", "computershare_sign_present", "carl_hagberg_sign_present", "merkle_root_per_share_class"],
        "properties": {
          "proposal_id": { "type": "string" },
          "share_class": { "type": "string" },
          "final_in_favor": { "type": "integer" },
          "final_against": { "type": "integer" },
          "final_abstain": { "type": "integer" },
          "final_total": { "type": "integer" },
          "computershare_sign_present": { "type": "boolean", "enum": [true] },
          "carl_hagberg_sign_present": { "type": "boolean", "enum": [true] },
          "merkle_root_per_share_class": { "type": "string" }
        }
      },
      "CertifyFinalResponse": {
        "type": "object",
        "required": ["proposal_id", "share_class", "dual_sign_state", "certified_at"],
        "properties": {
          "proposal_id": { "type": "string" },
          "share_class": { "type": "string" },
          "dual_sign_state": { "type": "string", "enum": ["certified_dual_signed"] },
          "certified_at": { "type": "string", "format": "date-time" }
        }
      },
      "EmitAGMAnchorRequest": {
        "type": "object",
        "required": ["anchor_id", "agm_session_id", "proposal_id", "share_class", "merkle_root_b64", "proof_class"],
        "properties": {
          "anchor_id": { "type": "string" },
          "agm_session_id": { "type": "string" },
          "proposal_id": { "type": "string" },
          "share_class": { "type": "string" },
          "merkle_root_b64": { "type": "string" },
          "external_transparency_log_batch": { "type": "string" },
          "proof_class": { "type": "string", "enum": ["inclusion_proof"] },
          "emitted_at": { "type": "string", "format": "date-time" }
        }
      }
    },
    "securitySchemes": {
      "service_principal": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Oyatie-Service-Principal-JWT"
      }
    }
  },
  "security": [
    { "service_principal": [] }
  ]
}
