{
  "openapi": "3.1.0",
  "info": {
    "title": "AGM Livestream API",
    "version": "1.0.0",
    "description": "Helios Industries AGM livestream + multi-language streams + Q&A queue + Reg FD gate + recording for j172.",
    "x-journey-id": "j172-lev-kahn-investor-relations-shareholder-meeting-livestream",
    "x-related-adrs": [
      "ADR-0243-cedar-as-universal-gate",
      "ADR-0244-tenant-as-universal-scoping-primitive",
      "ADR-0251-compliance-pack-primitive",
      "ADR-0252-hlc-default-truetime-tier",
      "ADR-0253-http3-quic-default-protocol",
      "ADR-0254-kubernetes-everywhere-pods-cloud-hypervisor",
      "ADR-0263-observability-emission-contract"
    ]
  },
  "servers": [
    {
      "url": "https://meet.helios-industries-inc-nyse-hlos.oyatie.app/v1",
      "description": "Helios Industries primary tenant"
    }
  ],
  "paths": {
    "/agm/command-console/open": {
      "get": {
        "operationId": "openIRCommandConsole",
        "x-cedar-permit": "investor_relations_director + passkey + yubikey + cfo_co_sign",
        "x-audit-class": "EVT-J172-AGM-COMMAND-CONSOLE-OPENED-Δ000",
        "responses": { "200": { "description": "Console opened" } }
      }
    },
    "/agm/language-stream/activate": {
      "post": {
        "operationId": "activateLanguageStream",
        "x-cedar-permit": "ir_director + cfo_co_sign + interpreter_credential_valid",
        "x-audit-class": "EVT-J172-LANGUAGE-STREAM-ADDED",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LanguageStreamActivateRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Language stream activated" } }
      }
    },
    "/agm/dry-run": {
      "post": {
        "operationId": "runAGMDryRun",
        "x-cedar-permit": "ir_director",
        "x-audit-class": "EVT-J172-DRY-RUN-PASSED-Δ001b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agm_session_id": { "type": "string" },
                  "test_class": { "type": "string" },
                  "iteration_count": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Dry-run complete" } }
      }
    },
    "/agm/livestream/open": {
      "post": {
        "operationId": "openLivestream",
        "x-cedar-permit": "ir_director + meet + reg_fd_gate_armed",
        "x-audit-class": "EVT-J172-LIVESTREAM-OPENED-001",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OpenLivestreamRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Livestream opened" } }
      }
    },
    "/agm/livestream/close": {
      "post": {
        "operationId": "closeLivestream",
        "x-cedar-permit": "ir_director",
        "x-audit-class": "EVT-J172-LIVESTREAM-CLOSED-Δ001c",
        "responses": { "200": { "description": "Livestream closed" } }
      }
    },
    "/reg-fd-gate/fire": {
      "post": {
        "operationId": "fireRegFDGate",
        "x-cedar-permit": "meet + reg_fd_gate + window_within_tolerance",
        "x-audit-class": "EVT-J172-REG-FD-SIMULTANEOUS-DISCLOSURE-006",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegFDGateFireRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gate fired",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RegFDGateFireResponse" }
              }
            }
          },
          "403": { "description": "Cedar deny: window exceeded" }
        }
      }
    },
    "/q-and-a/submit": {
      "post": {
        "operationId": "submitQuestion",
        "x-cedar-permit": "shareholder_authenticated + agm_session_open",
        "x-audit-class": "EVT-J172-Q-AND-A-SUBMITTED-Δ004a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SubmitQuestionRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Question submitted" } }
      }
    },
    "/identity/agm/auth/direct-registered": {
      "post": {
        "operationId": "authDirectRegistered",
        "x-cedar-permit": "computershare_proxyview_sso + passkey",
        "x-audit-class": "EVT-J172-SHAREHOLDERS-AUTHENTICATED-002",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DirectRegisteredAuthRequest" }
            }
          }
        },
        "responses": { "200": { "description": "Authenticated" } }
      }
    },
    "/identity/agm/auth/street-name": {
      "post": {
        "operationId": "authStreetName",
        "x-cedar-permit": "broker_sso + broker_control_number",
        "x-audit-class": "EVT-J172-SHAREHOLDERS-AUTHENTICATED-002",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/StreetNameAuthRequest" }
            }
          }
        },
        "responses": { "200": { "description": "Authenticated" } }
      }
    },
    "/identity/agm/auth/institutional": {
      "post": {
        "operationId": "authInstitutional",
        "x-cedar-permit": "proxyview_token + institutional_holdings_records",
        "x-audit-class": "EVT-J172-SHAREHOLDERS-AUTHENTICATED-002",
        "responses": { "200": { "description": "Authenticated" } }
      }
    },
    "/drive/sec-17a-4f/seal": {
      "post": {
        "operationId": "sealSEC17a4fWORM",
        "x-cedar-permit": "ir_director + drive_service + sec_17a_4f",
        "x-audit-class": "EVT-J172-SEC-17A-4F-WORM-SEALED-008",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SEC17a4fSealRequest" }
            }
          }
        },
        "responses": { "201": { "description": "WORM sealed" } }
      }
    },
    "/sec-edgar/form-8k/file": {
      "post": {
        "operationId": "fileSECForm8K",
        "x-cedar-permit": "gc_secretary + sec_edgar_bridge",
        "x-audit-class": "EVT-J172-SEC-FORM-8K-FILED-Δ008a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SECForm8KFileRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Form 8-K filed" } }
      }
    }
  },
  "components": {
    "schemas": {
      "LanguageStreamActivateRequest": {
        "type": "object",
        "required": ["agm_session_id", "language_code", "interpreter_principal", "target_region_cell"],
        "properties": {
          "agm_session_id": { "type": "string" },
          "language_code": { "type": "string", "enum": ["en-US", "en-UK", "zh-Hans", "ko-KR", "ja-JP"] },
          "interpreter_principal": { "type": "string" },
          "interpreter_credential": { "type": "string" },
          "interpretation_mode": { "type": "string", "enum": ["auto_only", "simultaneous", "consecutive"] },
          "target_region_cell": { "type": "string" },
          "closed_caption_path": { "type": "string" },
          "target_latency_ms": { "type": "integer" },
          "sla_window_utc": { "type": "array", "items": { "type": "string", "format": "date-time" }, "minItems": 2, "maxItems": 2 },
          "authorization_chain": { "type": "array", "items": { "type": "string" } }
        }
      },
      "OpenLivestreamRequest": {
        "type": "object",
        "required": ["agm_session_id", "language_streams", "reg_fd_gate", "recording_worm_cell", "opened_at_utc"],
        "properties": {
          "agm_session_id": { "type": "string" },
          "language_streams": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "language_code": { "type": "string" },
                "interpreter_principal": { "type": "string" },
                "closed_caption_path": { "type": "string" },
                "target_region_cell": { "type": "string" },
                "target_latency_ms": { "type": "integer" }
              }
            }
          },
          "reg_fd_gate": {
            "type": "object",
            "properties": {
              "armed": { "type": "boolean" },
              "window_ms": { "type": "integer", "maximum": 200 },
              "release_paths": { "type": "array", "items": { "type": "string" } }
            }
          },
          "recording_worm_cell": { "type": "string" },
          "recording_seal_class": { "type": "string" },
          "opened_at_utc": { "type": "string", "format": "date-time" }
        }
      },
      "RegFDGateFireRequest": {
        "type": "object",
        "required": ["material_info_id", "material_info_class", "target_disclosure_utc", "window_tolerance_ms", "release_paths"],
        "properties": {
          "material_info_id": { "type": "string" },
          "material_info_class": { "type": "string" },
          "sealed_material_envelope_b64": { "type": "string" },
          "sealed_envelope_release_token": { "type": "string" },
          "target_disclosure_utc": { "type": "string", "format": "date-time" },
          "window_tolerance_ms": { "type": "integer", "maximum": 200 },
          "release_paths": { "type": "array", "items": { "type": "string" } },
          "interpreter_cues_all_received": { "type": "boolean" },
          "auto_detector_armed": { "type": "boolean" }
        }
      },
      "RegFDGateFireResponse": {
        "type": "object",
        "required": ["material_info_id", "actual_fire_utc", "actual_window_ms", "status"],
        "properties": {
          "material_info_id": { "type": "string" },
          "actual_fire_utc": { "type": "string", "format": "date-time" },
          "actual_window_ms": { "type": "integer" },
          "per_path_fire_t": {
            "type": "object",
            "additionalProperties": { "type": "string", "format": "date-time" }
          },
          "status": { "type": "string", "enum": ["PASS", "FAIL_OUT_OF_WINDOW"] },
          "audit_event_id": { "type": "string" }
        }
      },
      "SubmitQuestionRequest": {
        "type": "object",
        "required": ["agm_session_id", "shareholder_principal", "shareholder_class", "question_text_b64"],
        "properties": {
          "agm_session_id": { "type": "string" },
          "shareholder_principal": { "type": "string" },
          "shareholder_class": { "type": "string", "enum": ["institutional", "retail_direct_registered", "retail_beneficial_via_broker", "proxy_advisor", "press"] },
          "question_text_b64": { "type": "string" },
          "question_language": { "type": "string" },
          "question_topic_hint": { "type": "string" },
          "submitted_at": { "type": "string", "format": "date-time" }
        }
      },
      "DirectRegisteredAuthRequest": {
        "type": "object",
        "required": ["shareholder_id", "agm_session_id", "computershare_proxyview_sso_token"],
        "properties": {
          "shareholder_id": { "type": "string" },
          "agm_session_id": { "type": "string" },
          "computershare_proxyview_sso_token": { "type": "string" },
          "auth_method": { "type": "string" }
        }
      },
      "StreetNameAuthRequest": {
        "type": "object",
        "required": ["shareholder_id", "broker_tenant", "broker_control_number", "agm_session_id", "broker_sso_token"],
        "properties": {
          "shareholder_id": { "type": "string" },
          "broker_tenant": { "type": "string" },
          "broker_control_number": { "type": "string" },
          "agm_session_id": { "type": "string" },
          "broker_sso_token": { "type": "string" },
          "auth_method": { "type": "string" }
        }
      },
      "SEC17a4fSealRequest": {
        "type": "object",
        "required": ["agm_session_id", "worm_cell", "seal_class", "retention_years_minimum", "indelible_storage_attestation", "artifacts"],
        "properties": {
          "agm_session_id": { "type": "string" },
          "worm_cell": { "type": "string" },
          "seal_class": { "type": "string" },
          "retention_years_minimum": { "type": "integer", "minimum": 6 },
          "indelible_storage_attestation": { "type": "boolean", "enum": [true] },
          "time_stamp_authority_id": { "type": "string" },
          "audit_trail_attached": { "type": "boolean", "enum": [true] },
          "artifacts": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["artifact_id", "filename", "sha256", "artifact_class"],
              "properties": {
                "artifact_id": { "type": "string" },
                "filename": { "type": "string" },
                "size_bytes": { "type": "integer" },
                "sha256": { "type": "string" },
                "mime_type": { "type": "string" },
                "artifact_class": { "type": "string", "enum": ["recording", "slide_deck", "transcript", "prepared_remarks", "vote_tally_record", "dual_sign_attestation", "merkle_anchor_bundle"] },
                "language_code": { "type": "string" }
              }
            }
          }
        }
      },
      "SECForm8KFileRequest": {
        "type": "object",
        "required": ["filing_id", "filer_cik", "filing_type", "items", "filed_at_utc", "signing_principal", "signing_capacity"],
        "properties": {
          "filing_id": { "type": "string" },
          "filer_cik": { "type": "string" },
          "filing_type": { "type": "string", "enum": ["8-K"] },
          "items": { "type": "array", "items": { "type": "string" } },
          "filing_date_target_utc": { "type": "string", "format": "date-time" },
          "filed_at_utc": { "type": "string", "format": "date-time" },
          "signing_principal": { "type": "string" },
          "signing_capacity": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "passkey_yubikey_combo": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Oyatie-Passkey-YubiKey-Token"
      }
    }
  },
  "security": [
    { "passkey_yubikey_combo": [] }
  ]
}
