{
  "openapi": "3.1.0",
  "info": {
    "title": "j169 ASEAN-6 Launch API",
    "version": "1.0.0",
    "description": "Endpoints for Veritem Health Asia 6-country simultaneous launch with locale-pack overlay, NLLB-200 content localization, ambassador onboarding, A/B cohort splits, per-country launch flips, payment processor cross-tenant, EU-AI-Act-Art-50 content transparency."
  },
  "servers": [
    {"url": "https://marketing.veritem-health-asia-pte-ltd-sg.oyatie.cloud"}
  ],
  "paths": {
    "/v1/launches/{launch_id}/readiness": {
      "get": {
        "operationId": "getLaunchReadiness",
        "parameters": [
          {"name": "launch_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "oya-tenant", "in": "header", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {"200": {"description": "Readiness payload", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LaunchReadiness"}}}}}
      }
    },
    "/v1/localizations/batch": {
      "post": {
        "operationId": "batchLocalize",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LocalizationBatchRequest"}}}},
        "responses": {"200": {"description": "Localization batch result"}}
      }
    },
    "/v1/ambassadors/credential-issue": {
      "post": {
        "operationId": "issueAmbassadorCredential",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AmbassadorCredentialRequest"}}}},
        "responses": {"200": {"description": "Credential issued"}}
      }
    },
    "/v1/cohort-rules/per-country/{country_code}": {
      "put": {
        "operationId": "setCountryCohortRules",
        "parameters": [
          {"name": "country_code", "in": "path", "required": true, "schema": {"type": "string", "enum": ["SG", "ID", "TH", "VN", "PH", "MY"]}}
        ],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CohortRulesRequest"}}}},
        "responses": {"200": {"description": "Cohort rules sealed"}}
      }
    },
    "/v1/launches/{id}/go-no-go-vote": {
      "post": {
        "operationId": "submitGoNoGoVote",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GoNoGoVote"}}}},
        "responses": {"200": {"description": "Vote accepted"}}
      }
    },
    "/v1/flags/launch_active/per-country/{country_code}": {
      "put": {
        "operationId": "flipPerCountryLaunchFlag",
        "parameters": [{"name": "country_code", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PerCountryFlagRequest"}}}},
        "responses": {"200": {"description": "Flag flipped"}}
      }
    },
    "/v1/processors/{processor_id}/initialize": {
      "post": {
        "operationId": "initializeProcessor",
        "parameters": [{"name": "processor_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProcessorInitRequest"}}}},
        "responses": {"200": {"description": "Processor initialized"}}
      }
    },
    "/v1/launches/{id}/day-7-report": {
      "get": {
        "operationId": "getDay7Report",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "Day-7 report", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Day7Report"}}}}}
      }
    },
    "/v1/attestations/cross-border-transfer": {
      "post": {
        "operationId": "submitCrossBorderAttestation",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CrossBorderAttestationRequest"}}}},
        "responses": {"202": {"description": "Attestation submitted"}}
      }
    }
  },
  "components": {
    "schemas": {
      "LaunchReadiness": {
        "type": "object",
        "properties": {
          "launch_id": {"type": "string"},
          "status": {"type": "string"},
          "days_to_launch": {"type": "integer"},
          "countries": {"type": "array", "items": {"$ref": "#/components/schemas/CountryReadinessRow"}},
          "languages": {"type": "array", "items": {"type": "string"}},
          "currencies": {"type": "array", "items": {"type": "string"}},
          "ambassadors_confirmed": {"type": "integer"},
          "audit_seal": {"type": "string"}
        }
      },
      "CountryReadinessRow": {
        "type": "object",
        "properties": {
          "code": {"type": "string"},
          "md_signoff_principal": {"type": "string"},
          "md_signoff_at": {"type": "string"},
          "checklist_green": {"type": "integer"},
          "checklist_total": {"type": "integer"},
          "tenant": {"type": "string"}
        }
      },
      "LocalizationBatchRequest": {
        "type": "object",
        "required": ["source_language", "target_languages", "strings"],
        "properties": {
          "source_language": {"type": "string"},
          "target_languages": {"type": "array", "items": {"type": "string"}},
          "strings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {"key": {"type": "string"}, "source": {"type": "string"}}
            }
          },
          "cultural_adaptation_overlays": {"type": "object", "additionalProperties": {"type": "array", "items": {"type": "string"}}},
          "ai_content_transparency_required": {"type": "boolean"},
          "human_editor_review_required": {"type": "boolean"}
        }
      },
      "AmbassadorCredentialRequest": {
        "type": "object",
        "properties": {
          "ambassador_principal": {"type": "string"},
          "country_code": {"type": "string"},
          "tier": {"type": "string", "enum": ["tier-1", "tier-2", "tier-3"]},
          "retainer_local_currency_per_month": {"type": "number"},
          "per_signup_commission_local_currency": {"type": "number"},
          "attribution_tracking_url": {"type": "string", "format": "uri"},
          "content_languages": {"type": "array", "items": {"type": "string"}},
          "social_channels": {"type": "array", "items": {"type": "object"}},
          "ndab_signed": {"type": "boolean"},
          "consent_gdpr_equivalent_signed": {"type": "boolean"}
        }
      },
      "CohortRulesRequest": {
        "type": "object",
        "properties": {
          "country_code": {"type": "string"},
          "cohorts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {"type": "string", "enum": ["control", "treatment_a", "treatment_b"]},
                "percentage": {"type": "number"},
                "onboarding_flow": {"type": "string"}
              }
            }
          },
          "signer_md": {"type": "string"},
          "signer_cmo": {"type": "string"},
          "signer_compliance": {"type": "string"},
          "research_ethics_review_passed": {"type": "boolean"},
          "research_ethics_reviewer_principal": {"type": "string"},
          "effective_at_utc": {"type": "string", "format": "date-time"}
        }
      },
      "GoNoGoVote": {
        "type": "object",
        "properties": {
          "launch_id": {"type": "string"},
          "decision": {"type": "string", "enum": ["PERMIT", "DENY", "ABSTAIN"]},
          "voter_principal": {"type": "string"},
          "voter_role": {"type": "string"},
          "rationale_en_SG": {"type": "string"},
          "voter_passkey_attestation": {"type": "string"}
        }
      },
      "PerCountryFlagRequest": {
        "type": "object",
        "properties": {
          "flag_id": {"type": "string"},
          "country_code": {"type": "string"},
          "value": {"type": "boolean"},
          "effective_at_utc": {"type": "string", "format": "date-time"},
          "effective_at_local_iana": {"type": "string"},
          "scope": {"type": "string"},
          "rationale": {"type": "string"}
        }
      },
      "ProcessorInitRequest": {
        "type": "object",
        "properties": {
          "processor_id": {"type": "string"},
          "country_code": {"type": "string"},
          "currency": {"type": "string"},
          "pricing_tier_local_currency": {"type": "object"},
          "veritem_merchant_id_at_processor": {"type": "string"},
          "callback_url": {"type": "string", "format": "uri"},
          "compliance_attestation": {"type": "string"}
        }
      },
      "Day7Report": {
        "type": "object",
        "properties": {
          "launch_id": {"type": "string"},
          "day_7_total_signups": {"type": "integer"},
          "target_signups": {"type": "integer"},
          "beat_pct": {"type": "number"},
          "per_country": {"type": "array", "items": {"type": "object"}},
          "cohort_winners": {"type": "object"},
          "ambassador_attribution_pct": {"type": "number"},
          "top_ambassadors": {"type": "array", "items": {"type": "object"}},
          "audit_seal": {"type": "string"},
          "merkle_root": {"type": "string"}
        }
      },
      "CrossBorderAttestationRequest": {
        "type": "object",
        "properties": {
          "scope": {"type": "string"},
          "transfer_records_count": {"type": "integer"},
          "countries_involved": {"type": "array", "items": {"type": "string"}},
          "asean_privacy_framework_attestation": {"type": "boolean"},
          "per_country_consent_obtained_pct": {"type": "number"},
          "merkle_root": {"type": "string"},
          "auditor_submissions": {"type": "array", "items": {"type": "object"}}
        }
      }
    }
  }
}
