openapi: 3.0.3
info:
  title: Slack Web API (oya-connector-slack-adapter snapshot)
  version: 2024-01-01-snapshot
  description: |
    Snapshot of the Slack Web API surfaces this adapter covers. Source of truth
    is https://api.slack.com/methods. Reduced to the subset oya-connector-slack-adapter
    targets so an LLM agent can codegen client stubs without crawling the full catalog.
servers:
  - url: https://slack.com/api
paths:
  /conversations.list:
    get:
      operationId: conversationsList
      parameters:
        - in: query
          name: cursor
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 100, maximum: 200 }
      responses:
        '200':
          description: Channels page
  /conversations.history:
    get:
      operationId: conversationsHistory
      parameters:
        - in: query
          name: channel
          required: true
          schema: { type: string }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200': { description: Messages page }
  /chat.postMessage:
    post:
      operationId: chatPostMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channel: { type: string }
                text: { type: string }
              required: [channel, text]
      responses:
        '200': { description: Message posted }
  /chat.update:
    post:
      operationId: chatUpdate
      responses: { '200': { description: Updated } }
  /chat.delete:
    post:
      operationId: chatDelete
      responses: { '200': { description: Deleted } }
  /files.upload:
    post:
      operationId: filesUpload
      responses: { '200': { description: File uploaded } }
components:
  securitySchemes:
    botToken:
      type: http
      scheme: bearer
security:
  - botToken: []
