{
  "openapi": "3.1.0",
  "info": {
    "title": "Cross-Tenant Privilege Boundary API",
    "version": "1.0.0",
    "description": "Cross-tenant principal mapping + privilege boundary enforcement + community-appeal handoff bridge for j171.",
    "x-journey-id": "j171-felix-tan-ombudsperson-cross-tenant-mediation-with-privilege",
    "x-related-adrs": [
      "ADR-0244-tenant-as-universal-scoping-primitive",
      "ADR-0243-cedar-as-universal-gate",
      "ADR-0263-observability-emission-contract"
    ]
  },
  "servers": [
    {
      "url": "https://cross-tenant-bridge.oyatie.app/v1",
      "description": "Cross-tenant bridge service"
    }
  ],
  "paths": {
    "/community/appeal/initiate": {
      "post": {
        "operationId": "initiateCommunityAppeal",
        "summary": "Initiate a community-appeal + optionally forward to ombudsperson handoff",
        "x-cedar-permit": "personal_tenant_principal + verified_face + community_post_owner",
        "x-audit-class": "EVT-J171-COMPLAINANT-INTAKE-INITIATED-Δ000",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CommunityAppealInitiateRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Appeal initiated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CommunityAppealInitiateResponse" }
              }
            }
          }
        }
      }
    },
    "/community/ombuds-handoff/queue": {
      "post": {
        "operationId": "queueOmbudsHandoff",
        "summary": "Queue the community-to-ombuds handoff via the cross-tenant bridge service",
        "x-cedar-permit": "ombuds_bridge_service_principal + privilege_class_valid",
        "x-audit-class": "EVT-J171-COMMUNITY-APPEAL-HANDOFF-001",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateOmbudsCaseRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Ombuds case created and queued for ombudsperson intake",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OmbudsCaseCreatedResponse" }
              }
            }
          }
        }
      }
    },
    "/cross-tenant/principal-mapping": {
      "post": {
        "operationId": "createCrossTenantPrincipalMapping",
        "summary": "Create a cross-tenant principal mapping (personal → employer → ombuds tenant)",
        "x-cedar-permit": "ombuds_bridge_service + privilege_class_validation_passed",
        "x-audit-class": "EVT-J171-CROSS-TENANT-MAPPING-CREATED-Δ000a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CrossTenantPrincipalMapping" }
            }
          }
        },
        "responses": {
          "201": { "description": "Mapping created" },
          "403": { "description": "Cedar deny: privilege class invalid" }
        }
      }
    },
    "/cross-tenant/principal-mapping/{case_id}": {
      "get": {
        "operationId": "readCrossTenantPrincipalMapping",
        "summary": "Read the cross-tenant principal mapping for a case",
        "x-cedar-permit": "ombudsperson_certified_ioa ONLY",
        "x-forbid": "all other principals",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Mapping returned to ombudsperson only",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CrossTenantPrincipalMapping" }
              }
            }
          },
          "403": { "description": "Cedar deny: principal not ombudsperson_certified_ioa" }
        }
      }
    },
    "/community/moderator-appeal-close-handoff": {
      "post": {
        "operationId": "sendModeratorAppealCloseHandoff",
        "summary": "Send a redacted close-handoff from ombuds office back to community moderators",
        "x-cedar-permit": "ombudsperson_certified_ioa + community_appeal_close_handoff_send",
        "x-audit-class": "EVT-J171-COMMUNITY-APPEAL-RESOLVED-REDACTED-Δ007b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ModeratorAppealCloseHandoffRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Redacted handoff sent" }
        }
      }
    },
    "/observability/redaction-attestation": {
      "post": {
        "operationId": "emitRedactionAttestation",
        "summary": "Emit a redaction-attestation event proving 100% redaction over the case window",
        "x-cedar-permit": "observability_emitter + redaction_rule_version_valid",
        "x-audit-class": "EVT-J171-OBSERVABILITY-REDACTED-011",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RedactionVerification" }
            }
          }
        },
        "responses": {
          "201": { "description": "Attestation emitted" }
        }
      }
    },
    "/hr-transfer-bridge/transfer/activate": {
      "post": {
        "operationId": "activateTransfer",
        "summary": "Activate complainant transfer to non-overlapping team with anti-retaliation monitoring",
        "x-cedar-permit": "ombudsperson_certified_ioa + transfer_authority_path_valid + complainant_consent",
        "x-audit-class": "EVT-J171-TRANSFER-ACTIVATED-Δ006f",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TransferActivateRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Transfer activated" }
        }
      }
    },
    "/hr-transfer-bridge/anti-retaliation-monitor": {
      "post": {
        "operationId": "antiRetaliationMonitorCheck",
        "summary": "Run anti-retaliation monitoring scan",
        "x-cedar-permit": "anti-retaliation-monitor service principal",
        "x-audit-class": "EVT-J171-ANTI-RETALIATION-MONITORING-CHECK",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["transfer_id", "scan_date"],
                "properties": {
                  "transfer_id": { "type": "string" },
                  "scan_date": { "type": "string", "format": "date" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitoring scan complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfer_id": { "type": "string" },
                    "scan_date": { "type": "string", "format": "date" },
                    "retaliation_events_detected": { "type": "integer" },
                    "monitoring_active": { "type": "boolean" },
                    "months_remaining": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CommunityAppealInitiateRequest": {
        "type": "object",
        "required": ["appealing_principal", "appealed_post_id", "appeal_paths"],
        "properties": {
          "appealing_principal": {
            "type": "object",
            "properties": {
              "principal_id": { "type": "string" },
              "tenant_id": { "type": "string" },
              "tenant_class": { "type": "string", "enum": ["personal"] }
            }
          },
          "appealed_post_id": { "type": "string" },
          "appeal_paths": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": { "type": "string", "enum": ["community_moderator_review", "ombudsperson_office_handoff"] },
                "selected": { "type": "boolean" }
              }
            }
          },
          "narrative_text_b64": { "type": "string" },
          "narrative_lang_primary": { "type": "string" },
          "narrative_lang_secondary": { "type": "string" },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": { "type": "string" },
                "size_bytes": { "type": "integer" },
                "content_sha256": { "type": "string" }
              }
            }
          },
          "initiated_at": { "type": "string", "format": "date-time" }
        }
      },
      "CommunityAppealInitiateResponse": {
        "type": "object",
        "required": ["appeal_id", "community_moderator_appeal_id", "ombuds_handoff_id"],
        "properties": {
          "appeal_id": { "type": "string" },
          "community_moderator_appeal_id": { "type": "string" },
          "ombuds_handoff_id": { "type": "string" },
          "ombuds_case_id_provisional": { "type": "string" }
        }
      },
      "CreateOmbudsCaseRequest": {
        "type": "object",
        "required": ["complainant_personal_tenant_id", "complainant_personal_principal", "complainant_employer_tenant_id", "complainant_employer_record_id", "ombuds_office_tenant_id", "privilege_class"],
        "properties": {
          "complainant_personal_tenant_id": { "type": "string" },
          "complainant_personal_principal": { "type": "string" },
          "complainant_employer_tenant_id": { "type": "string" },
          "complainant_employer_record_id": { "type": "string" },
          "ombuds_office_tenant_id": { "type": "string" },
          "narrative_text_b64": { "type": "string" },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": { "type": "string" },
                "size_bytes": { "type": "integer" },
                "content_sha256": { "type": "string" }
              }
            }
          },
          "source_community_post_id": { "type": "string" },
          "privilege_class": { "type": "string", "enum": ["ombudsperson_privileged"] },
          "received_at": { "type": "string", "format": "date-time" }
        }
      },
      "OmbudsCaseCreatedResponse": {
        "type": "object",
        "required": ["case_id", "intake_queue_position"],
        "properties": {
          "case_id": { "type": "string" },
          "intake_queue_position": { "type": "integer" },
          "queued_at": { "type": "string", "format": "date-time" }
        }
      },
      "CrossTenantPrincipalMapping": {
        "type": "object",
        "required": ["case_id", "personal_principal", "employer_tenant_id", "employer_record_id", "ombuds_office_tenant_id", "privilege_class"],
        "properties": {
          "case_id": { "type": "string" },
          "personal_principal": { "type": "string" },
          "employer_tenant_id": { "type": "string" },
          "employer_record_id": { "type": "string" },
          "ombuds_office_tenant_id": { "type": "string" },
          "privilege_class": { "type": "string", "enum": ["ombudsperson_privileged"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ModeratorAppealCloseHandoffRequest": {
        "type": "object",
        "required": ["appeal_id", "case_id", "close_state", "redacted"],
        "properties": {
          "appeal_id": { "type": "string" },
          "case_id": { "type": "string" },
          "close_state": { "type": "string", "enum": ["closed_ombudsperson_mediated_no_substance_disclosed"] },
          "redacted": { "type": "boolean", "enum": [true] },
          "moderator_visibility_class": { "type": "string", "enum": ["close_status_only"] }
        }
      },
      "RedactionVerification": {
        "type": "object",
        "required": ["case_id", "metrics_emissions_total", "redacted_metrics_emissions", "redaction_pct", "payload_class_leakage_count", "metric_taxonomy_redaction_rule_version"],
        "properties": {
          "case_id": { "type": "string" },
          "metrics_emissions_total": { "type": "integer" },
          "redacted_metrics_emissions": { "type": "integer" },
          "redaction_pct": { "type": "number" },
          "payload_class_leakage_count": { "type": "integer" },
          "metric_taxonomy_redaction_rule_version": { "type": "string" },
          "verified_at": { "type": "string", "format": "date-time" }
        }
      },
      "TransferActivateRequest": {
        "type": "object",
        "required": ["transfer_id", "employee_record", "from_team", "to_team", "salary_preserved", "seniority_preserved", "bonus_eligibility_preserved", "effective_date", "transfer_authority_path"],
        "properties": {
          "transfer_id": { "type": "string" },
          "employee_record": { "type": "string" },
          "from_team": { "type": "string" },
          "to_team": { "type": "string" },
          "salary_preserved": { "type": "boolean", "enum": [true] },
          "seniority_preserved": { "type": "boolean", "enum": [true] },
          "bonus_eligibility_preserved": { "type": "boolean", "enum": [true] },
          "one_time_allowance_sgd": { "type": "integer" },
          "effective_date": { "type": "string", "format": "date" },
          "anti_retaliation_protection_active": { "type": "boolean", "enum": [true] },
          "retaliation_monitoring_duration_months": { "type": "integer", "minimum": 24 },
          "transfer_authority_path": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "passkey_yubikey_combo": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Oyatie-Passkey-YubiKey-Token"
      },
      "service_principal": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Oyatie-Service-Principal-JWT"
      }
    }
  },
  "security": [
    { "passkey_yubikey_combo": [] },
    { "service_principal": [] }
  ]
}
