{
  "openapi": "3.1.0",
  "info": {
    "title": "Ombuds Intake API",
    "version": "1.0.0",
    "description": "Halberd-Mercer ombuds office intake + privileged channel + WORM evidence + Merkle anchor endpoints for j171.",
    "x-journey-id": "j171-felix-tan-ombudsperson-cross-tenant-mediation-with-privilege",
    "x-related-adrs": [
      "ADR-0243-cedar-as-universal-gate",
      "ADR-0244-tenant-as-universal-scoping-primitive",
      "ADR-0245-substrate-vs-product-layering",
      "ADR-0246-mls-rfc-9420-e2ee-personal-messenger",
      "ADR-0251-compliance-pack-primitive",
      "ADR-0263-observability-emission-contract",
      "ADR-0253-http3-quic-default-protocol"
    ]
  },
  "servers": [
    {
      "url": "https://api.halberd-mercer-holdings-corporate-sg.oyatie.app/v1",
      "description": "Halberd-Mercer corporate ombuds tenant"
    }
  ],
  "paths": {
    "/ombuds/intake/queue": {
      "get": {
        "operationId": "getOmbudsIntakeQueue",
        "summary": "Return the queue of intake cases for the ombudsperson",
        "x-cedar-permit": "ombudsperson_certified_ioa + passkey + title_attestation",
        "x-audit-class": "EVT-J171-OMBUDS-WORKSPACE-OPEN-Δ002a",
        "parameters": [
          {
            "name": "principal",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "role_assertion",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["ombudsperson_certified_ioa"] }
          },
          {
            "name": "title_attestation_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Queue of ombuds intake cases",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OmbudsIntakeQueueResponse" }
              }
            }
          },
          "403": { "description": "Cedar deny: principal not ombudsperson_certified_ioa" }
        }
      }
    },
    "/ombuds/case/{case_id}/open": {
      "post": {
        "operationId": "openOmbudsCase",
        "summary": "Open a privileged case view for the ombudsperson",
        "x-cedar-permit": "ombudsperson_certified_ioa + case_assigned_to_principal",
        "x-audit-class": "EVT-J171-INTAKE-INITIATED-002",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "example": "ombuds-case-Δ47" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OmbudsCaseOpenRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Privileged case view opened",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OmbudsCaseSummary" }
              }
            }
          },
          "403": { "description": "Cedar deny: privilege class mismatch" }
        }
      }
    },
    "/messenger/privileged-channel/open": {
      "post": {
        "operationId": "openPrivilegedChannel",
        "summary": "Open the MLS E2EE privileged dyad channel",
        "x-cedar-permit": "ombudsperson_certified_ioa + dyad_size_2 + complainant_consent",
        "x-audit-class": "EVT-J171-PRIVILEGED-CHANNEL-OPENED-003",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OpenPrivilegedChannelRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Privileged channel created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PrivilegedChannel" }
              }
            }
          },
          "403": { "description": "Cedar deny: dyad size != 2 or complainant consent absent" }
        }
      }
    },
    "/messenger/privileged-channel/send": {
      "post": {
        "operationId": "sendPrivilegedMessage",
        "summary": "Send a privileged dyad message (payload-class allowlist enforced)",
        "x-cedar-permit": "dyad_member + payload_class_in_allowlist + mls_envelope_intact",
        "x-audit-class": "EVT-J171-PRIVILEGED-MESSAGE-Δ{n}",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SendPrivilegedMessageRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Privileged message sent",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PrivilegedMessageReceipt" }
              }
            }
          },
          "403": { "description": "Cedar deny: payload class outside allowlist OR not dyad member" }
        }
      }
    },
    "/drive/privileged-worm/create": {
      "post": {
        "operationId": "createPrivilegedWORMRoom",
        "summary": "Create the WORM evidence room with 7y retention",
        "x-cedar-permit": "ombudsperson_certified_ioa + privilege_class + dyad_size_2",
        "x-audit-class": "EVT-J171-EVIDENCE-ROOM-CREATED-Δ004a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePrivilegedWORMRoomRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "WORM room created" },
          "403": { "description": "Cedar deny" }
        }
      }
    },
    "/drive/privileged-worm/write": {
      "post": {
        "operationId": "writePrivilegedWORMItem",
        "summary": "Write an evidence item to the WORM room (seal applied post-write)",
        "x-cedar-permit": "write_principal_in_allowlist + privilege_class + item_class_in_allowlist",
        "x-audit-class": "EVT-J171-EVIDENCE-WORM-WRITTEN-004",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WORMWriteRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Item written + sealed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WORMWriteResponse" }
              }
            }
          },
          "403": { "description": "Cedar deny: write principal not in allowlist" }
        }
      }
    },
    "/audit-chain/privileged-anchor/emit": {
      "post": {
        "operationId": "emitPrivilegedAnchor",
        "summary": "Emit a Merkle anchor with privileged-content tag (inclusion proof only)",
        "x-cedar-permit": "drive_service + privileged_anchor_emit_role",
        "x-audit-class": "EVT-J171-MERKLE-PRIVILEGED-ANCHOR-005",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmitPrivilegedAnchorRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Anchor emitted" }
        }
      }
    },
    "/audit-chain/privileged-anchor/inclusion-proof": {
      "post": {
        "operationId": "requestInclusionProof",
        "summary": "Request an inclusion proof under regulator compulsion (proof only; payload NOT disclosed)",
        "x-cedar-permit": "regulator_compulsion_order_id_present + corporate_counsel_review_present",
        "x-audit-class": "EVT-J171-REGULATOR-COMPULSION-PROOF-EMITTED",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InclusionProofRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inclusion proof emitted (payload NOT included)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InclusionProofResponse" }
              }
            }
          },
          "403": { "description": "Cedar deny: no court order or counsel review missing" }
        }
      }
    },
    "/governance/ombuds-outcome/record": {
      "post": {
        "operationId": "recordOmbudsOutcome",
        "summary": "Record the mediation outcome in governance",
        "x-cedar-permit": "ombudsperson_certified_ioa + outcome_record_role",
        "x-audit-class": "EVT-J171-MEDIATION-OUTCOME-007",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MediationOutcomeRecordRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Outcome recorded" }
        }
      }
    },
    "/ombuds/case/{case_id}/archive": {
      "post": {
        "operationId": "archiveOmbudsCase",
        "summary": "Archive a closed ombuds case",
        "x-cedar-permit": "ombudsperson_certified_ioa + case_owner_principal",
        "x-audit-class": "EVT-J171-CASE-ARCHIVED-Δ007",
        "parameters": [
          {
            "name": "case_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CaseArchiveRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Case archived" }
        }
      }
    },
    "/audit-chain/cedar-deny-coverage": {
      "get": {
        "operationId": "getCedarDenyCoverage",
        "summary": "Read the Cedar deny coverage report for a case",
        "x-cedar-permit": "ombudsperson_certified_ioa + case_owner",
        "x-audit-class": "EVT-J171-CEDAR-DENY-COVERAGE-008",
        "parameters": [
          {
            "name": "case_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Deny coverage report",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CedarDenyCoverageReport" }
              }
            }
          }
        }
      }
    },
    "/compliance/pack-manifest": {
      "get": {
        "operationId": "getPackManifest",
        "summary": "Return the pack manifest assertion for the case",
        "x-cedar-permit": "compliance_service + ombudsperson_visibility",
        "x-audit-class": "EVT-J171-PACK-MANIFEST-009",
        "parameters": [
          {
            "name": "case_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Pack manifest",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PackManifestAssertion" }
              }
            }
          }
        }
      }
    },
    "/ombuds-intake/mandatory-reporter/evaluate": {
      "post": {
        "operationId": "evaluateMandatoryReporter",
        "summary": "Run the mandatory-reporter exception evaluator (deny-test row)",
        "x-cedar-permit": "audit_chain_service + mandatory_reporter_evaluator",
        "x-audit-class": "EVT-J171-MANDATORY-REPORTER-NOT-TRIGGERED-010",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/MandatoryReporterEvaluateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evaluation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MandatoryReporterEvaluateResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PrincipalRef": {
        "type": "object",
        "required": ["principal_id", "tenant_id", "tenant_class"],
        "properties": {
          "principal_id": { "type": "string" },
          "tenant_id": { "type": "string" },
          "tenant_class": { "type": "string", "enum": ["personal", "corporate", "subsidiary"] }
        }
      },
      "OmbudsIntakeQueueResponse": {
        "type": "object",
        "required": ["cases"],
        "properties": {
          "cases": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/OmbudsCaseSummary" }
          }
        }
      },
      "OmbudsCaseSummary": {
        "type": "object",
        "required": ["case_id", "state", "class_label", "priority_tier", "privilege_class", "intake_time"],
        "properties": {
          "case_id": { "type": "string" },
          "state": { "type": "string", "enum": ["intake_received", "triage", "privileged_channel_open", "evidence_collected", "mediation", "resolution", "archive", "escalation_to_governance"] },
          "class_label": { "type": "string" },
          "priority_tier": { "type": "string", "enum": ["P1", "P2", "P3"] },
          "privilege_class": { "type": "string", "enum": ["ombudsperson_privileged", "ombudsperson_privileged_dyad", "community_public", "confidential_executive"] },
          "intake_time": { "type": "string", "format": "date-time" }
        }
      },
      "OmbudsCaseOpenRequest": {
        "type": "object",
        "required": ["case_id", "principal", "privilege_class_assertion"],
        "properties": {
          "case_id": { "type": "string" },
          "principal": { "$ref": "#/components/schemas/PrincipalRef" },
          "privilege_class_assertion": { "type": "string" }
        }
      },
      "OpenPrivilegedChannelRequest": {
        "type": "object",
        "required": ["case_id", "channel_class", "permitted_principals", "retention_class", "cell_primary", "mls_group_id"],
        "properties": {
          "case_id": { "type": "string" },
          "channel_class": { "type": "string", "enum": ["ombudsperson_privileged_dyad"] },
          "permitted_principals": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PrincipalRef" },
            "minItems": 2,
            "maxItems": 2
          },
          "retention_class": { "type": "string", "enum": ["ombudsperson_privileged_7y", "ombudsperson_privileged_25y_if_minor"] },
          "cell_primary": { "type": "string" },
          "cell_mirror": { "type": "string" },
          "metadata_visibility": { "type": "string", "enum": ["redacted", "visible"] },
          "mls_group_id": { "type": "string" },
          "mls_epoch": { "type": "integer", "minimum": 0 },
          "mandatory_reporter_exception_armed": { "type": "boolean" }
        }
      },
      "PrivilegedChannel": {
        "type": "object",
        "required": ["channel_id", "channel_class", "member_count", "mls_group_id"],
        "properties": {
          "channel_id": { "type": "string" },
          "channel_class": { "type": "string" },
          "member_count": { "type": "integer", "minimum": 2, "maximum": 2 },
          "mls_group_id": { "type": "string" },
          "mls_epoch": { "type": "integer" },
          "retention_class": { "type": "string" },
          "cell_primary": { "type": "string" },
          "cell_mirror": { "type": "string" }
        }
      },
      "SendPrivilegedMessageRequest": {
        "type": "object",
        "required": ["channel_id", "sender_principal", "payload_class", "mls_encrypted_payload_b64"],
        "properties": {
          "channel_id": { "type": "string" },
          "sender_principal": { "$ref": "#/components/schemas/PrincipalRef" },
          "payload_class": {
            "type": "string",
            "enum": [
              "ombudsperson_clarification_question",
              "ombudsperson_mediation_option",
              "ombudsperson_resolution_proposal",
              "complainant_narrative",
              "complainant_evidence_attachment",
              "complainant_decision_intent",
              "system_meta_message"
            ]
          },
          "mls_encrypted_payload_b64": { "type": "string" },
          "text_lang_primary": { "type": "string" },
          "text_lang_secondary": { "type": "string" },
          "sent_at": { "type": "string", "format": "date-time" }
        }
      },
      "PrivilegedMessageReceipt": {
        "type": "object",
        "required": ["message_id", "channel_id", "audit_event_id"],
        "properties": {
          "message_id": { "type": "string" },
          "channel_id": { "type": "string" },
          "audit_event_id": { "type": "string" },
          "mls_epoch": { "type": "integer" },
          "received_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreatePrivilegedWORMRoomRequest": {
        "type": "object",
        "required": ["room_id", "privilege_class", "retention_class", "cell_primary", "write_principals"],
        "properties": {
          "room_id": { "type": "string" },
          "privilege_class": { "type": "string", "enum": ["ombudsperson_privileged"] },
          "retention_class": { "type": "string" },
          "retention_basis_id": { "type": "string" },
          "cell_primary": { "type": "string" },
          "cell_mirror": { "type": "string" },
          "worm_seal_class": { "type": "string" },
          "write_principals": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PrincipalRef" }
          },
          "read_principals": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PrincipalRef" }
          },
          "regulator_compulsion_path_enabled": { "type": "boolean" },
          "e2ee_at_rest_algo": { "type": "string", "enum": ["chacha20-poly1305"] },
          "key_derivation": { "type": "string" }
        }
      },
      "WORMWriteRequest": {
        "type": "object",
        "required": ["room_id", "item_id", "filename", "content_b64", "content_sha256", "item_class", "author_principal"],
        "properties": {
          "room_id": { "type": "string" },
          "item_id": { "type": "string" },
          "filename": { "type": "string" },
          "content_b64": { "type": "string" },
          "content_sha256": { "type": "string" },
          "content_mime_type": { "type": "string" },
          "content_size_bytes": { "type": "integer" },
          "author_principal": { "$ref": "#/components/schemas/PrincipalRef" },
          "item_class": { "type": "string", "enum": ["whatsapp_screenshot", "contemporaneous_note", "reconstruction", "respondent_notification_acknowledgment", "written_apology", "ombuds_recommendation"] },
          "authored_at": { "type": "string", "format": "date-time" },
          "uploaded_at": { "type": "string", "format": "date-time" },
          "privileged_content_tag": { "type": "boolean" }
        }
      },
      "WORMWriteResponse": {
        "type": "object",
        "required": ["item_id", "merkle_leaf_id", "seal_state"],
        "properties": {
          "item_id": { "type": "string" },
          "merkle_leaf_id": { "type": "string" },
          "seal_state": { "type": "string", "enum": ["sealed"] },
          "sealed_at": { "type": "string", "format": "date-time" }
        }
      },
      "EmitPrivilegedAnchorRequest": {
        "type": "object",
        "required": ["anchor_id", "case_id", "leaf_count", "merkle_root", "privilege_content_tag", "proof_class"],
        "properties": {
          "anchor_id": { "type": "string" },
          "case_id": { "type": "string" },
          "leaf_count": { "type": "integer" },
          "merkle_root": { "type": "string" },
          "privilege_content_tag": { "type": "string" },
          "external_transparency_log_batch": { "type": "string" },
          "proof_class": { "type": "string", "enum": ["inclusion_proof_only_without_payload", "payload_disclosure_with_court_order"] },
          "compulsion_paths": {
            "type": "array",
            "items": { "type": "string", "enum": ["EU_WD_Article_22", "SOX_806_subpoena", "KR_ACRC_Article_13_demand", "SG_Court_Order"] }
          }
        }
      },
      "InclusionProofRequest": {
        "type": "object",
        "required": ["anchor_id", "regulator_compulsion_order_id", "regulator_class", "corporate_counsel_review_present"],
        "properties": {
          "anchor_id": { "type": "string" },
          "regulator_compulsion_order_id": { "type": "string" },
          "regulator_class": { "type": "string" },
          "corporate_counsel_review_present": { "type": "boolean" }
        }
      },
      "InclusionProofResponse": {
        "type": "object",
        "required": ["anchor_id", "proof_bytes_b64", "proof_class"],
        "properties": {
          "anchor_id": { "type": "string" },
          "proof_bytes_b64": { "type": "string" },
          "proof_class": { "type": "string", "enum": ["inclusion_proof_only_without_payload"] }
        }
      },
      "MediationOutcomeRecordRequest": {
        "type": "object",
        "required": ["outcome_id", "case_id", "outcome_class", "elements"],
        "properties": {
          "outcome_id": { "type": "string" },
          "case_id": { "type": "string" },
          "outcome_class": { "type": "string" },
          "elements": { "type": "array", "items": { "type": "string" } },
          "anti_retaliation_protection_active": { "type": "boolean" },
          "audit_chain_anchor_count": { "type": "integer" },
          "external_transparency_log_final_batch": { "type": "string" }
        }
      },
      "CaseArchiveRequest": {
        "type": "object",
        "required": ["case_id", "final_state", "close_reason_code", "retention_class", "retention_end_date"],
        "properties": {
          "case_id": { "type": "string" },
          "final_state": { "type": "string", "enum": ["archive"] },
          "close_reason_code": { "type": "string" },
          "total_duration_days": { "type": "number" },
          "respondent_action_class": { "type": "string" },
          "complainant_action_class": { "type": "string" },
          "retention_class": { "type": "string" },
          "retention_end_date": { "type": "string", "format": "date" },
          "anti_retaliation_monitoring_active": { "type": "boolean" },
          "regulator_compulsion_state": { "type": "string" },
          "mandatory_reporter_exception_state": { "type": "string" },
          "community_appeal_handoff_state": { "type": "string" }
        }
      },
      "CedarDenyCoverageReport": {
        "type": "object",
        "required": ["case_id", "denied_enumeration_attempts", "observability_redaction_pct"],
        "properties": {
          "case_id": { "type": "string" },
          "denied_enumeration_attempts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "principal": { "type": "string" },
                "count": { "type": "integer" },
                "first": { "type": "string", "format": "date-time" }
              }
            }
          },
          "denied_payload_class_attempts": { "type": "integer" },
          "mandatory_reporter_exception_state": { "type": "string" },
          "regulator_compulsion_state": { "type": "string" },
          "observability_redaction_pct": { "type": "number" }
        }
      },
      "PackManifestAssertion": {
        "type": "object",
        "required": ["case_id", "active_packs", "cross_validation_state"],
        "properties": {
          "case_id": { "type": "string" },
          "active_packs": { "type": "array", "items": { "type": "string" } },
          "cross_validation_state": { "type": "string", "enum": ["passed", "failed"] },
          "pack_manifest_signature": { "type": "string" },
          "asserted_at": { "type": "string", "format": "date-time" }
        }
      },
      "MandatoryReporterEvaluateRequest": {
        "type": "object",
        "required": ["case_id", "child_safety_flag", "criminal_threat_flag", "imminent_harm_flag"],
        "properties": {
          "case_id": { "type": "string" },
          "child_safety_flag": { "type": "boolean" },
          "criminal_threat_flag": { "type": "boolean" },
          "imminent_harm_flag": { "type": "boolean" },
          "secondary_ombudsperson_concurrence_present": { "type": "boolean" }
        }
      },
      "MandatoryReporterEvaluateResponse": {
        "type": "object",
        "required": ["case_id", "evaluation_result", "deny_test_row_id"],
        "properties": {
          "case_id": { "type": "string" },
          "evaluation_result": { "type": "string", "enum": ["not_triggered", "triggered_with_concurrence", "triggered_pending_concurrence"] },
          "deny_test_row_id": { "type": "string" },
          "evaluated_at": { "type": "string", "format": "date-time" }
        }
      }
    },
    "securitySchemes": {
      "passkey_yubikey_combo": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Oyatie-Passkey-YubiKey-Token"
      }
    }
  },
  "security": [
    { "passkey_yubikey_combo": [] }
  ]
}
