{
  "openapi": "3.1.0",
  "info": {
    "title": "j168 Quarterly Ops Review + SEV-2 Debrief API",
    "version": "1.0.0",
    "description": "Endpoints for Aurelia Robotics quarterly operations review, SEV-2 incident debrief, corrective-action tracking, and OKR-cycle capex Cedar gating. Implements ADR-0243 (Cedar gate), ADR-0244 (tenant scoping), ADR-0263 (audit dual-seal), ADR-0252 (TrueTime fence), ADR-0248 (cellular)."
  },
  "servers": [
    {"url": "https://ops.aurelia-robotics-internacional-sa-de-cv-mx.oyatie.cloud", "description": "Aurelia ops endpoint"}
  ],
  "paths": {
    "/v1/quarters/{quarter}/snapshot": {
      "get": {
        "operationId": "getQuarterlySnapshot",
        "parameters": [
          {"name": "quarter", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^Q[1-4]-[0-9]{4}$"}},
          {"name": "oya-tenant", "in": "header", "required": true, "schema": {"type": "string"}},
          {"name": "oya-content-locale", "in": "header", "required": false, "schema": {"type": "string", "enum": ["ja-JP", "es-MX", "en-US"]}}
        ],
        "responses": {
          "200": {"description": "Quarterly snapshot payload", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/QuarterlySnapshot"}}}},
          "403": {"description": "Cedar policy denied"},
          "409": {"description": "Snapshot sealed read-only (modification attempt)"}
        }
      }
    },
    "/v1/incidents/{id}/debrief-open": {
      "post": {
        "operationId": "openIncidentDebrief",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DebriefOpenRequest"}}}},
        "responses": {
          "200": {"description": "Debrief opened", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DebriefResponse"}}}},
          "403": {"description": "Cedar policy denied (e.g., incident_not_closed)"}
        }
      }
    },
    "/v1/debriefs/{id}/five-whys-step": {
      "post": {
        "operationId": "submitFiveWhysStep",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FiveWhysStep"}}}},
        "responses": {
          "200": {"description": "Step recorded"}
        }
      }
    },
    "/v1/corrective-actions/bulk": {
      "post": {
        "operationId": "bulkMaterializeCorrectiveActions",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CorrectiveActionsBulk"}}}},
        "responses": {
          "200": {"description": "Bulk materialized"}
        }
      }
    },
    "/v1/cross-tenant-attestations": {
      "post": {
        "operationId": "submitCustomerAttestation",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CustomerAttestation"}}}},
        "responses": {
          "200": {"description": "Attestation dual-sealed"}
        }
      }
    },
    "/v1/merkle-attestations": {
      "post": {
        "operationId": "createMerkleAttestation",
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/MerkleAttestationRequest"}}}},
        "responses": {
          "200": {"description": "Merkle attested"}
        }
      }
    },
    "/v1/changes/{id}/capex-line-item-vote": {
      "post": {
        "operationId": "submitCapexLineItemVote",
        "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CapexLineItemVote"}}}},
        "responses": {
          "200": {"description": "Vote accepted"},
          "403": {"description": "Cedar policy denied"},
          "412": {"description": "Precondition failed (CRA not signed, business-hours violated, etc.)"}
        }
      }
    },
    "/v1/quarterly-reports/{quarter}/submit": {
      "post": {
        "operationId": "submitQuarterlyReport",
        "parameters": [{"name": "quarter", "in": "path", "required": true, "schema": {"type": "string"}}],
        "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/QuarterlyReportSubmission"}}}},
        "responses": {
          "202": {"description": "Report submitted to auditors"}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QuarterlySnapshot": {
        "type": "object",
        "required": ["quarter", "snapshot_generated_at_utc", "tenant", "cells", "audit_seal", "merkle_root"],
        "properties": {
          "quarter": {"type": "string"},
          "snapshot_generated_at_utc": {"type": "string", "format": "date-time"},
          "snapshot_generated_at_local": {"type": "string"},
          "tenant": {"type": "string"},
          "cells": {"type": "array", "items": {"$ref": "#/components/schemas/CellMetrics"}},
          "audit_seal": {"type": "string"},
          "merkle_root": {"type": "string"}
        }
      },
      "CellMetrics": {
        "type": "object",
        "properties": {
          "cell_id": {"type": "string"},
          "azs": {"type": "array", "items": {"type": "string"}},
          "metrics": {
            "type": "object",
            "properties": {
              "p99_latency_ms": {"type": "number"},
              "throughput_req_per_sec": {"type": "number"},
              "error_budget_burn_rate": {"type": "number"},
              "capacity_util_pct": {"type": "number"},
              "headcount_per_az": {"type": "number"},
              "nps": {"type": "number"},
              "on_call_burnout_score": {"type": "number"},
              "incidents": {"type": "object", "properties": {"sev_1": {"type": "integer"}, "sev_2": {"type": "integer"}, "sev_3": {"type": "integer"}}}
            }
          }
        }
      },
      "DebriefOpenRequest": {
        "type": "object",
        "required": ["facilitator_principal", "scheduled_at_utc", "attendees", "framework"],
        "properties": {
          "facilitator_principal": {"type": "string"},
          "scheduled_at_utc": {"type": "string", "format": "date-time"},
          "scheduled_at_local": {"type": "string"},
          "attendees": {"type": "array", "items": {"type": "string"}},
          "framework": {"type": "string", "enum": ["5-whys", "ishikawa", "kepner-tregoe"]},
          "regulatory_anchors": {"type": "array", "items": {"type": "string"}}
        }
      },
      "DebriefResponse": {
        "type": "object",
        "properties": {
          "debrief_id": {"type": "string"},
          "state": {"type": "string"},
          "audit_seal": {"type": "string"},
          "timeline_pre_populated": {"type": "boolean"},
          "incident_timeline_record_count": {"type": "integer"}
        }
      },
      "FiveWhysStep": {
        "type": "object",
        "required": ["step", "question", "answer_en_US"],
        "properties": {
          "step": {"type": "integer", "minimum": 1, "maximum": 5},
          "question": {"type": "string"},
          "answer_ja_JP": {"type": "string"},
          "answer_en_US": {"type": "string"},
          "answer_es_MX": {"type": "string"},
          "evidence_audit_seals": {"type": "array", "items": {"type": "string"}}
        }
      },
      "CorrectiveActionsBulk": {
        "type": "object",
        "required": ["linked_debrief", "items", "total_eng_hours", "capex_estimate_mxn"],
        "properties": {
          "linked_debrief": {"type": "string"},
          "items": {"type": "array", "items": {"$ref": "#/components/schemas/CorrectiveActionItem"}},
          "total_items": {"type": "integer"},
          "total_eng_hours": {"type": "number"},
          "blended_rate_mxn_per_hour": {"type": "number"},
          "capex_estimate_mxn": {"type": "number"}
        }
      },
      "CorrectiveActionItem": {
        "type": "object",
        "properties": {
          "title": {"type": "string"},
          "owner_team": {"type": "string"},
          "owner_principal": {"type": "string"},
          "estimated_eng_hours": {"type": "number"},
          "target_completion": {"type": "string", "format": "date"},
          "dependencies": {"type": "array", "items": {"type": "string"}}
        }
      },
      "CustomerAttestation": {
        "type": "object",
        "required": ["target_tenant", "target_principal", "attestation_type", "incident_id", "service_credit_mxn"],
        "properties": {
          "target_tenant": {"type": "string"},
          "target_principal": {"type": "string"},
          "attestation_type": {"type": "string"},
          "incident_id": {"type": "string"},
          "debrief_id": {"type": "string"},
          "evidence_bundle_merkle_root": {"type": "string"},
          "service_credit_mxn": {"type": "number"},
          "in_person_meeting_held_at": {"type": "string", "format": "date-time"},
          "in_person_meeting_location": {"type": "string"},
          "customer_signed_attestation": {"type": "boolean"},
          "customer_signer": {"type": "string"},
          "customer_signature_qes_provider": {"type": "string"},
          "content_locale": {"type": "string"},
          "mls_encryption_active": {"type": "boolean"}
        }
      },
      "MerkleAttestationRequest": {
        "type": "object",
        "required": ["scope", "merkle_root", "scope_includes", "signers"],
        "properties": {
          "scope": {"type": "string"},
          "merkle_root": {"type": "string"},
          "scope_includes": {"type": "array", "items": {"type": "string"}},
          "signers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "principal": {"type": "string"},
                "qes_provider": {"type": "string"}
              }
            }
          }
        }
      },
      "CapexLineItemVote": {
        "type": "object",
        "required": ["change_record_id", "capex_line_item_id", "amount_mxn", "voter_principal", "decision"],
        "properties": {
          "change_record_id": {"type": "string"},
          "capex_line_item_id": {"type": "string"},
          "amount_mxn": {"type": "number"},
          "okr_cycle": {"type": "string"},
          "voter_principal": {"type": "string"},
          "decision": {"type": "string", "enum": ["PERMIT", "DENY", "ABSTAIN"]},
          "rationale_es_MX": {"type": "string"},
          "rationale_en_US": {"type": "string"},
          "voter_passkey_attestation": {"type": "string"},
          "linked_incident": {"type": "string"}
        }
      },
      "QuarterlyReportSubmission": {
        "type": "object",
        "properties": {
          "quarter": {"type": "string"},
          "tenant": {"type": "string"},
          "merkle_root": {"type": "string"},
          "scope": {"type": "array", "items": {"type": "string"}},
          "submissions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "auditor_tenant": {"type": "string"},
                "evidence_packs": {"type": "array", "items": {"type": "string"}}
              }
            }
          },
          "signer": {"type": "string"},
          "signer_qes_provider": {"type": "string"}
        }
      }
    }
  }
}
