{
  "openapi": "3.1.0",
  "info": {
    "title": "Treasury EOD API",
    "version": "1.0.0",
    "description": "BHI Treasury EOD reconciliation + cash position + FX delta + intercompany netting + sweep + LCR endpoints for j174.",
    "x-journey-id": "j174-sven-eriksson-treasury-eod-position-reconciliation",
    "x-related-adrs": [
      "ADR-0243-cedar-as-universal-gate",
      "ADR-0248-amazon-shape-cellular-architecture",
      "ADR-0251-compliance-pack-primitive",
      "ADR-0252-hlc-default-truetime-tier",
      "ADR-0263-observability-emission-contract"
    ]
  },
  "servers": [
    {
      "url": "https://api.bohlin-hjelmqvist-industries-ab-parent.oyatie.app/v1",
      "description": "BHI parent treasury"
    }
  ],
  "paths": {
    "/treasury/cockpit/open": {
      "get": {
        "operationId": "openTreasuryCockpit",
        "x-cedar-permit": "treasury_operations_manager + CTP + passkey",
        "x-audit-class": "EVT-J174-COCKPIT-OPENED-Δ000",
        "responses": { "200": { "description": "Cockpit opened" } }
      }
    },
    "/treasury/cash-position/compute": {
      "post": {
        "operationId": "computeCashPosition",
        "x-cedar-permit": "treasury_ops_mgr + cut_window_open",
        "x-audit-class": "EVT-J174-CASH-POSITION-COMPUTED-002",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CashPositionComputeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cash position computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CashPositionComputeResponse" }
              }
            }
          }
        }
      }
    },
    "/treasury/fx-delta-hedge/compute": {
      "post": {
        "operationId": "computeFXDeltaHedge",
        "x-cedar-permit": "treasury_ops_mgr + hedge_book_read",
        "x-audit-class": "EVT-J174-FX-DELTA-HEDGE-003",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FXDeltaHedgeComputeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "FX delta computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FXDeltaHedgeComputeResponse" }
              }
            }
          }
        }
      }
    },
    "/treasury/intercompany-netting/compute": {
      "post": {
        "operationId": "computeIntercompanyNetting",
        "x-cedar-permit": "treasury + intercompany",
        "x-audit-class": "EVT-J174-INTERCOMPANY-NETTING-004",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/IntercompanyNettingRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Netting computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IntercompanyNettingResponse" }
              }
            }
          }
        }
      }
    },
    "/treasury/cash-sweep/prepare": {
      "post": {
        "operationId": "prepareCashSweep",
        "x-cedar-permit": "treasury_ops_mgr",
        "x-audit-class": "EVT-J174-CASH-SWEEP-PREPARED-Δ005-prep",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CashSweepPrepareRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Sweep prepared" } }
      }
    },
    "/treasury/cash-sweep/co-sign": {
      "post": {
        "operationId": "coSignCashSweep",
        "x-cedar-permit": "group_treasurer + ACT_FIA + passkey",
        "x-audit-class": "EVT-J174-CASH-SWEEP-CO-SIGN-Δ005a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CashSweepCoSignRequest" }
            }
          }
        },
        "responses": { "200": { "description": "Co-signed" } }
      }
    },
    "/treasury/cash-sweep/execute": {
      "post": {
        "operationId": "executeCashSweep",
        "x-cedar-permit": "treasury_ops_mgr + co_sign + sanctions_clean + amount_under_ceiling",
        "x-audit-class": "EVT-J174-CASH-SWEEP-005",
        "responses": {
          "201": { "description": "Sweep executed" },
          "403": { "description": "Cedar deny: co-sign missing or sanctions hit" }
        }
      }
    },
    "/finops/lcr/compute": {
      "post": {
        "operationId": "computeLCR",
        "x-cedar-permit": "treasury_ops_mgr + lcr_compute",
        "x-audit-class": "EVT-J174-LCR-COMPUTED-006",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LCRComputeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "LCR computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LCRComputeResponse" }
              }
            }
          }
        }
      }
    },
    "/audit-chain/eod-account-anchor/emit": {
      "post": {
        "operationId": "emitEODAccountAnchor",
        "x-cedar-permit": "audit_chain_service + inclusion_proof + ifrs_9 + ias_21",
        "x-audit-class": "EVT-J174-MERKLE-EOD-007",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EODAccountAnchorRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Anchor emitted" } }
      }
    },
    "/treasury/eod/post": {
      "post": {
        "operationId": "postEOD",
        "x-cedar-permit": "treasury_ops_mgr + state_transition + all_preconditions",
        "x-audit-class": "EVT-J174-EOD-POSTED-Δ010",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EODPostedRequest" }
            }
          }
        },
        "responses": { "200": { "description": "EOD posted" } }
      }
    }
  },
  "components": {
    "schemas": {
      "CashPositionComputeRequest": {
        "type": "object",
        "required": ["eod_session_id", "cut_window", "fx_rate_source_primary", "fx_rate_snapshot_t", "reference_currency"],
        "properties": {
          "eod_session_id": { "type": "string" },
          "cut_window": { "type": "string", "enum": ["asia_cut", "sg_cut", "europe_cut", "london_cut", "us_cut", "stockholm_night_cut", "final"] },
          "fx_rate_source_primary": { "type": "string" },
          "fx_rate_source_backup": { "type": "string" },
          "fx_rate_snapshot_t": { "type": "string", "format": "date-time" },
          "fx_rate_spread_tolerance_pct": { "type": "number" },
          "reference_currency": { "type": "string", "enum": ["SEK", "EUR", "USD"] },
          "include_intraday_mt942": { "type": "boolean" }
        }
      },
      "CashPositionComputeResponse": {
        "type": "object",
        "required": ["compute_id", "per_entity_position_eur", "per_currency_position_eur", "group_position_interim_eur"],
        "properties": {
          "compute_id": { "type": "string" },
          "per_entity_position_eur": { "type": "object", "additionalProperties": { "type": "number" } },
          "per_currency_position_eur": { "type": "object", "additionalProperties": { "type": "number" } },
          "group_position_interim_eur": { "type": "number" },
          "projected_eod_group_eur": { "type": "number" },
          "projected_eod_overnight_usd": { "type": "number" },
          "computed_at": { "type": "string", "format": "date-time" },
          "hlc_compute_timestamp": { "type": "string" }
        }
      },
      "FXDeltaHedgeComputeRequest": {
        "type": "object",
        "required": ["eod_session_id", "rebalance_trigger_threshold_pct"],
        "properties": {
          "eod_session_id": { "type": "string" },
          "hedge_book_snapshot_t": { "type": "string", "format": "date-time" },
          "categories_to_evaluate": { "type": "array", "items": { "type": "string" } },
          "rebalance_trigger_threshold_pct": { "type": "number", "minimum": 0, "maximum": 0.05 }
        }
      },
      "FXDeltaHedgeComputeResponse": {
        "type": "object",
        "required": ["fx_delta_id", "max_delta_pct_today", "rebalance_triggered"],
        "properties": {
          "fx_delta_id": { "type": "string" },
          "per_category": { "type": "array", "items": { "type": "object" } },
          "max_delta_pct_today": { "type": "number" },
          "rebalance_triggered": { "type": "boolean" },
          "hedge_book_pnl_today_sek": { "type": "number" },
          "underlying_gain_today_sek": { "type": "number" },
          "net_today_sek": { "type": "number" },
          "hedge_book_pnl_ytd_sek": { "type": "number" }
        }
      },
      "IntercompanyNettingRequest": {
        "type": "object",
        "required": ["eod_session_id", "entities", "reference_currency", "netting_period", "in_house_bank_id"],
        "properties": {
          "eod_session_id": { "type": "string" },
          "entities": { "type": "array", "items": { "type": "string" } },
          "reference_currency": { "type": "string" },
          "netting_period": { "type": "string" },
          "in_house_bank_id": { "type": "string" }
        }
      },
      "IntercompanyNettingResponse": {
        "type": "object",
        "required": ["netting_id", "matrix_dimension", "net_per_entity_eur", "total_netted_volume_eur", "settlement_method"],
        "properties": {
          "netting_id": { "type": "string" },
          "matrix_dimension": { "type": "integer" },
          "pairs": { "type": "array", "items": { "type": "object" } },
          "net_per_entity_eur": { "type": "object", "additionalProperties": { "type": "number" } },
          "total_netted_volume_eur": { "type": "number" },
          "settlement_method": { "type": "string", "enum": ["in_house_bank_book_transfer"] },
          "settlement_t": { "type": "string", "format": "date-time" },
          "hlc_settlement_timestamp": { "type": "string" }
        }
      },
      "CashSweepPrepareRequest": {
        "type": "object",
        "required": ["eod_session_id", "target_overnight_amount_usd", "mmf_allocations", "overnight_deposit_allocations"],
        "properties": {
          "eod_session_id": { "type": "string" },
          "target_overnight_amount_usd": { "type": "number", "maximum": 500000000 },
          "mmf_allocations": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["vehicle_name", "vehicle_issuer", "amount_usd", "yield_1d_pct"],
              "properties": {
                "vehicle_name": { "type": "string" },
                "vehicle_issuer": { "type": "string" },
                "amount_usd": { "type": "number" },
                "yield_1d_pct": { "type": "number" }
              }
            }
          },
          "overnight_deposit_allocations": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["bank_principal", "amount_usd", "yield_1d_pct"],
              "properties": {
                "bank_principal": { "type": "string" },
                "amount_usd": { "type": "number" },
                "yield_1d_pct": { "type": "number" }
              }
            }
          }
        }
      },
      "CashSweepCoSignRequest": {
        "type": "object",
        "required": ["sweep_id", "co_signer_principal", "co_signer_role_assertion", "approval_decision", "co_signed_at"],
        "properties": {
          "sweep_id": { "type": "string" },
          "co_signer_principal": { "type": "string" },
          "co_signer_role_assertion": { "type": "string", "enum": ["group_treasurer_act_fia_certified"] },
          "co_signer_passkey_assertion_token": { "type": "string" },
          "co_signer_yubikey_attestation": { "type": "string" },
          "approval_decision": { "type": "string", "enum": ["approve", "reject"] },
          "co_signed_at": { "type": "string", "format": "date-time" }
        }
      },
      "LCRComputeRequest": {
        "type": "object",
        "required": ["eod_session_id", "reference_currency", "compute_t"],
        "properties": {
          "eod_session_id": { "type": "string" },
          "reference_currency": { "type": "string" },
          "compute_t": { "type": "string", "format": "date-time" },
          "include_30d_outflow_projection": { "type": "boolean" },
          "include_inflow_cap_75pct": { "type": "boolean" }
        }
      },
      "LCRComputeResponse": {
        "type": "object",
        "required": ["lcr_id", "hqla_total_eur", "net_outflow_30d_eur", "lcr_ratio", "ratio_threshold_met"],
        "properties": {
          "lcr_id": { "type": "string" },
          "hqla_level_1_eur": { "type": "number" },
          "hqla_level_2a_eur": { "type": "number" },
          "hqla_level_2b_eur": { "type": "number" },
          "hqla_total_eur": { "type": "number" },
          "outflow_30d_retail_eur": { "type": "number" },
          "outflow_30d_wholesale_eur": { "type": "number" },
          "outflow_30d_secured_eur": { "type": "number" },
          "outflow_30d_derivative_eur": { "type": "number" },
          "inflow_30d_eur": { "type": "number" },
          "net_outflow_30d_eur": { "type": "number" },
          "lcr_ratio": { "type": "number", "minimum": 0 },
          "ratio_threshold_met": { "type": "boolean" }
        }
      },
      "EODAccountAnchorRequest": {
        "type": "object",
        "required": ["anchor_id", "eod_session_id", "account_identifier", "closing_balance_amount", "merkle_root_b64", "proof_class", "ifrs_9_attestation", "ias_21_fx_translation_attestation"],
        "properties": {
          "anchor_id": { "type": "string" },
          "eod_session_id": { "type": "string" },
          "account_identifier": { "type": "string" },
          "bank_tenant": { "type": "string" },
          "entity": { "type": "string" },
          "currency": { "type": "string" },
          "closing_balance_amount": { "type": "number" },
          "merkle_root_b64": { "type": "string" },
          "external_transparency_log_batch": { "type": "string" },
          "proof_class": { "type": "string", "enum": ["inclusion_proof"] },
          "ifrs_9_attestation": { "type": "boolean", "enum": [true] },
          "ias_21_fx_translation_attestation": { "type": "boolean", "enum": [true] }
        }
      },
      "EODPostedRequest": {
        "type": "object",
        "required": ["eod_session_id", "state_transition_from", "state_transition_to", "group_position_final_eur", "overnight_position_actual_usd", "lcr_ratio", "merkle_anchors_emitted"],
        "properties": {
          "eod_session_id": { "type": "string" },
          "state_transition_from": { "type": "string" },
          "state_transition_to": { "type": "string", "enum": ["eod_posted"] },
          "group_position_final_eur": { "type": "number" },
          "overnight_position_actual_usd": { "type": "number" },
          "lcr_ratio": { "type": "number" },
          "merkle_anchors_emitted": { "type": "integer", "minimum": 47, "maximum": 47 }
        }
      }
    },
    "securitySchemes": {
      "passkey_yubikey_combo": { "type": "apiKey", "in": "header", "name": "X-Oyatie-Passkey-YubiKey-Token" }
    }
  },
  "security": [ { "passkey_yubikey_combo": [] } ]
}
