{
  "openapi": "3.1.0",
  "info": {
    "title": "SWIFT MT940/MT942 Statement Ingestion API",
    "version": "1.0.0",
    "description": "SWIFT MT940 EOD + MT942 intraday statement ingestion endpoints for j174.",
    "x-journey-id": "j174-sven-eriksson-treasury-eod-position-reconciliation"
  },
  "servers": [
    {
      "url": "https://payments.bohlin-hjelmqvist-industries-ab-parent.oyatie.app/v1",
      "description": "BHI payments µservice"
    }
  ],
  "paths": {
    "/payments/swift-mt940/ingest": {
      "post": {
        "operationId": "ingestSwiftMT940",
        "x-cedar-permit": "bank_tenant + sender_bic_valid + receiver_bic_bhi",
        "x-audit-class": "EVT-J174-MT940-INGESTION-Δ001b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SwiftMT940IngestRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statement ingested",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SwiftMT940IngestResponse" }
              }
            }
          },
          "403": { "description": "Cedar deny: invalid sender BIC" }
        }
      }
    },
    "/payments/swift-mt942/ingest": {
      "post": {
        "operationId": "ingestSwiftMT942",
        "x-cedar-permit": "bank_tenant + sender_bic_valid + receiver_bic_bhi",
        "x-audit-class": "EVT-J174-INTRADAY-MT942-ROLLUP-Δ001a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SwiftMT942IngestRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Intraday statement ingested" }
        }
      }
    },
    "/payments/swift-mt940/composite": {
      "get": {
        "operationId": "getMT940Composite",
        "x-cedar-permit": "treasury_ops_mgr + cut_window",
        "x-audit-class": "EVT-J174-MT940-INGESTION-001",
        "parameters": [
          {
            "name": "cut_window",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["asia_cut", "sg_cut", "europe_cut", "london_cut", "us_cut", "stockholm_night_cut", "daily"] }
          },
          {
            "name": "eod_session_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Composite rollup",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MT940CompositeRollup" }
              }
            }
          }
        }
      }
    },
    "/payments/swift-iso-20022-mx/ingest": {
      "post": {
        "operationId": "ingestISO20022MX",
        "x-cedar-permit": "bank_tenant + iso_20022_mx_supported",
        "x-audit-class": "EVT-J174-ISO-20022-MX-INGESTED",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ISO20022MXIngestRequest" }
            }
          }
        },
        "responses": { "200": { "description": "ISO 20022 MX statement ingested" } }
      }
    }
  },
  "components": {
    "schemas": {
      "SwiftMT940IngestRequest": {
        "type": "object",
        "required": ["mt940_message_id", "sender_bic", "receiver_bic", "account_identifier", "statement_type", "opening_balance_currency", "opening_balance_amount", "closing_balance_currency", "closing_balance_amount", "dispatched_at"],
        "properties": {
          "mt940_message_id": { "type": "string" },
          "sender_bic": { "type": "string", "pattern": "^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$" },
          "receiver_bic": { "type": "string", "enum": ["BOHLSESS"] },
          "account_identifier": { "type": "string" },
          "statement_type": { "type": "string", "enum": ["MT940_EOD"] },
          "opening_balance_currency": { "type": "string" },
          "opening_balance_amount": { "type": "number" },
          "opening_balance_basis": { "type": "string" },
          "closing_balance_currency": { "type": "string" },
          "closing_balance_amount": { "type": "number" },
          "closing_balance_basis": { "type": "string" },
          "booked_movements_count": { "type": "integer" },
          "intraday_turnover_amount": { "type": "number" },
          "dispatched_at": { "type": "string", "format": "date-time" }
        }
      },
      "SwiftMT940IngestResponse": {
        "type": "object",
        "required": ["mt940_message_id", "ingestion_latency_seconds", "audit_event_id"],
        "properties": {
          "mt940_message_id": { "type": "string" },
          "ingestion_latency_seconds": { "type": "integer", "maximum": 120 },
          "audit_event_id": { "type": "string" }
        }
      },
      "SwiftMT942IngestRequest": {
        "type": "object",
        "required": ["mt942_message_id", "sender_bic", "receiver_bic", "account_identifier", "intraday_balance_currency", "intraday_balance_amount", "intraday_window_start", "intraday_window_end", "dispatched_at"],
        "properties": {
          "mt942_message_id": { "type": "string" },
          "sender_bic": { "type": "string" },
          "receiver_bic": { "type": "string", "enum": ["BOHLSESS"] },
          "account_identifier": { "type": "string" },
          "intraday_balance_currency": { "type": "string" },
          "intraday_balance_amount": { "type": "number" },
          "booked_movements_since_last_report": { "type": "integer" },
          "intraday_window_start": { "type": "string" },
          "intraday_window_end": { "type": "string" },
          "dispatched_at": { "type": "string", "format": "date-time" }
        }
      },
      "MT940CompositeRollup": {
        "type": "object",
        "required": ["cut_window", "cut_window_open_t", "cut_window_close_t", "total_mt940_received", "total_mt940_ingested", "ingestion_p95_latency_seconds"],
        "properties": {
          "cut_window": { "type": "string" },
          "cut_window_open_t": { "type": "string", "format": "date-time" },
          "cut_window_close_t": { "type": "string", "format": "date-time" },
          "total_mt940_received": { "type": "integer" },
          "total_mt940_ingested": { "type": "integer" },
          "ingestion_p95_latency_seconds": { "type": "integer", "maximum": 120 },
          "total_intraday_turnover_eur_equivalent": { "type": "number" },
          "total_eod_balance_eur_equivalent": { "type": "number" },
          "parse_errors": { "type": "integer", "maximum": 0 },
          "mt942_vs_mt940_reconciliation_discrepancy_eur": { "type": "number", "maximum": 0.01, "minimum": -0.01 }
        }
      },
      "ISO20022MXIngestRequest": {
        "type": "object",
        "required": ["camt_message_id", "camt_message_class", "sender_bic", "receiver_bic", "xml_payload_b64"],
        "properties": {
          "camt_message_id": { "type": "string" },
          "camt_message_class": { "type": "string", "enum": ["camt.053", "camt.052"] },
          "sender_bic": { "type": "string" },
          "receiver_bic": { "type": "string" },
          "xml_payload_b64": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "service_principal": { "type": "apiKey", "in": "header", "name": "X-Oyatie-Service-Principal-JWT" },
      "bank_swift_token": { "type": "apiKey", "in": "header", "name": "X-Oyatie-Bank-SWIFT-JWT" }
    }
  },
  "security": [
    { "service_principal": [] },
    { "bank_swift_token": [] }
  ]
}
