{
  "openapi": "3.1.0",
  "info": {
    "title": "j167 Cutover Orchestration API",
    "version": "1.0.0",
    "description": "Endpoints for Aurelia Platform v3.x → v4.0 cohort-staged cutover. Implements ADR-0110 (changeset state machine), ADR-0111 (merge-queue projected state), ADR-0244 (tenant scoping), ADR-0263 (audit dual-seal), ADR-0252 (TrueTime fence), ADR-0248 (cellular topology)."
  },
  "servers": [
    {"url": "https://governance.aurelia-robotics-internacional-sa-de-cv-mx.oyatie.cloud", "description": "Aurelia governance endpoint"}
  ],
  "paths": {
    "/v1/changes/{change_id}/readiness": {
      "get": {
        "operationId": "getChangeReadiness",
        "summary": "Get cutover readiness checklist",
        "parameters": [
          {"name": "change_id", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^CHG-[A-Z0-9-]+$"}},
          {"name": "oya-tenant", "in": "header", "required": true, "schema": {"type": "string"}},
          {"name": "oya-cell", "in": "header", "required": true, "schema": {"type": "string"}},
          {"name": "oya-content-locale", "in": "header", "required": false, "schema": {"type": "string", "enum": ["es-MX", "en-US"]}}
        ],
        "responses": {
          "200": {
            "description": "Readiness payload",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ReadinessPayload"}}}
          },
          "403": {"description": "Cedar policy denied"},
          "404": {"description": "Change record not found"}
        }
      }
    },
    "/v1/changes/{change_id}/cohort-transition-vote": {
      "post": {
        "operationId": "submitCohortTransitionVote",
        "summary": "Submit Cedar permit vote for cohort transition",
        "parameters": [
          {"name": "change_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "oya-tenant", "in": "header", "required": true, "schema": {"type": "string"}},
          {"name": "oya-truetime-uncertainty-ms", "in": "header", "required": true, "schema": {"type": "number"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VoteRequest"}}}
        },
        "responses": {
          "200": {"description": "Vote accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VoteResponse"}}}},
          "403": {"description": "Cedar policy denied"},
          "412": {"description": "Precondition failed (SLO not green, business-hours violated, etc.)"},
          "503": {"description": "TrueTime fence uncertain"}
        }
      }
    },
    "/v1/applies": {
      "post": {
        "operationId": "applyTerraformModule",
        "summary": "Apply Terraform module v-bump to cells",
        "requestBody": {
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TerraformApplyRequest"}}}
        },
        "responses": {
          "202": {"description": "Apply scheduled", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TerraformApplyResponse"}}}}
        }
      }
    },
    "/v1/flags/{flag_id}/rules": {
      "put": {
        "operationId": "updateTrafficSplit",
        "summary": "Update feature-flag traffic-split rule",
        "parameters": [
          {"name": "flag_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TrafficSplitRule"}}}
        },
        "responses": {
          "200": {"description": "Rule applied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlagUpdateResponse"}}}}
        }
      }
    },
    "/v1/slos/{slo_id}/burn-rate": {
      "get": {
        "operationId": "getSLOBurnRate",
        "summary": "Get SLO error-budget burn rate",
        "parameters": [
          {"name": "slo_id", "in": "path", "required": true, "schema": {"type": "string"}},
          {"name": "cell", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "window", "in": "query", "required": false, "schema": {"type": "string", "default": "12m"}}
        ],
        "responses": {
          "200": {"description": "Burn rate payload", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BurnRatePayload"}}}}
        }
      }
    },
    "/v1/bytecode-cache/pre-warm": {
      "post": {
        "operationId": "preWarmBytecodeCache",
        "summary": "Pre-warm policy-engine bytecode cache",
        "requestBody": {
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreWarmRequest"}}}
        },
        "responses": {
          "202": {"description": "Job scheduled", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreWarmResponse"}}}}
        }
      }
    },
    "/v1/incidents/{id}/rollback-vote": {
      "post": {
        "operationId": "submitRollbackVote",
        "summary": "Submit rollback decision vote",
        "parameters": [
          {"name": "id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RollbackVoteRequest"}}}
        },
        "responses": {
          "200": {"description": "Vote accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RollbackVoteResponse"}}}},
          "403": {"description": "Cedar policy denied (e.g., outside 4-hour window)"}
        }
      }
    },
    "/v1/flags/v3_api_enabled": {
      "put": {
        "operationId": "sunsetV3API",
        "summary": "Hard-sunset v3.x API globally",
        "requestBody": {
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SunsetRequest"}}}
        },
        "responses": {
          "200": {"description": "Sunset scheduled or applied", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SunsetResponse"}}}}
        }
      }
    },
    "/v1/attestations/{type}": {
      "post": {
        "operationId": "submitAttestation",
        "summary": "Submit compliance attestation (ISO-27001 / SOC2 / EU-AI-Act / MX-NOM-151)",
        "parameters": [
          {"name": "type", "in": "path", "required": true, "schema": {"type": "string", "enum": ["iso-27001-a-12-1-2", "soc2-cc8-1", "eu-ai-act-art-17-notification", "mx-nom-151"]}}
        ],
        "requestBody": {
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AttestationRequest"}}}
        },
        "responses": {
          "202": {"description": "Attestation submitted"}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ReadinessPayload": {
        "type": "object",
        "required": ["change_id", "status", "readiness_checklist", "cra_signature", "cab_signoff_quorum", "audit_seal"],
        "properties": {
          "change_id": {"type": "string"},
          "status": {"type": "string", "enum": ["pre_review", "ready_for_cohort_a_initiating", "cohort_a_initiating", "cohort_a_stable", "cohort_b_initiating", "cohort_b_stable", "cohort_c_initiating", "cohort_c_stable", "cohort_d_initiating", "cohort_d_stable", "stabilization", "v3_sunset_complete", "closed"]},
          "readiness_checklist": {
            "type": "object",
            "properties": {
              "total_items": {"type": "integer"},
              "green_items": {"type": "integer"},
              "categories": {"type": "object", "additionalProperties": {"type": "object", "properties": {"total": {"type": "integer"}, "green": {"type": "integer"}}}}
            }
          },
          "cra_signature": {"$ref": "#/components/schemas/QESSignature"},
          "cab_signoff_quorum": {"type": "array", "items": {"$ref": "#/components/schemas/QuorumVote"}},
          "audit_seal": {"type": "string"}
        }
      },
      "VoteRequest": {
        "type": "object",
        "required": ["target_cohort", "decision", "voter_principal", "voter_passkey_attestation"],
        "properties": {
          "target_cohort": {"type": "string", "enum": ["cohort_a", "cohort_b", "cohort_c", "cohort_d"]},
          "decision": {"type": "string", "enum": ["PERMIT", "DENY", "ABSTAIN"]},
          "voter_principal": {"type": "string"},
          "voter_passkey_attestation": {"type": "string"},
          "voter_face_id_attestation": {"type": "string"},
          "rationale_es_MX": {"type": "string"},
          "rationale_en_US": {"type": "string"}
        }
      },
      "VoteResponse": {
        "type": "object",
        "properties": {
          "vote_id": {"type": "string"},
          "decision": {"type": "string"},
          "quorum_progress": {"type": "object", "properties": {"current": {"type": "integer"}, "required": {"type": "integer"}}},
          "quorum_decision": {"type": "string", "enum": ["PERMIT", "DENY", "INCOMPLETE"]},
          "audit_seal": {"type": "string"},
          "dual_seal_tenants": {"type": "array", "items": {"type": "string"}},
          "truetime_uncertainty_ms": {"type": "number"},
          "trigger_workflow": {"type": "string"}
        }
      },
      "TerraformApplyRequest": {
        "type": "object",
        "required": ["module", "version", "targets", "strategy"],
        "properties": {
          "module": {"type": "string"},
          "version": {"type": "string", "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$"},
          "targets": {"type": "array", "items": {"type": "string"}},
          "strategy": {"type": "string", "enum": ["parallel", "serial-with-checkpoint", "blue-green"]},
          "checkpoint_interval_seconds": {"type": "integer"},
          "rollback_on_failure": {"type": "boolean"},
          "triggered_by": {"type": "object", "properties": {"change_record": {"type": "string"}, "cohort_permit_seal": {"type": "string"}}}
        }
      },
      "TerraformApplyResponse": {
        "type": "object",
        "properties": {
          "apply_id": {"type": "string"},
          "status": {"type": "string", "enum": ["queued", "in_progress", "completed", "failed_after_partial"]},
          "per_cell_state": {"type": "object", "additionalProperties": {"$ref": "#/components/schemas/CellApplyState"}},
          "estimated_complete_at": {"type": "string", "format": "date-time"}
        }
      },
      "CellApplyState": {
        "type": "object",
        "properties": {
          "state": {"type": "string", "enum": ["queued", "applying", "applied", "failed"]},
          "progress_pct": {"type": "number"},
          "last_resource": {"type": "string"}
        }
      },
      "TrafficSplitRule": {
        "type": "object",
        "required": ["rule_id", "active", "version_targeting", "traffic_split", "cell_scope"],
        "properties": {
          "rule_id": {"type": "string"},
          "active": {"type": "boolean"},
          "version_targeting": {"type": "object", "properties": {"target_version": {"type": "string"}, "fallback_version": {"type": "string"}}},
          "traffic_split": {"type": "object", "properties": {"type": {"type": "string", "enum": ["percentage", "explicit_list"]}, "percentage": {"type": "number"}}},
          "cell_scope": {"type": "array", "items": {"type": "string"}},
          "effective_at": {"type": "string", "format": "date-time"},
          "expires_at": {"type": ["string", "null"], "format": "date-time"},
          "rationale": {"type": "string"}
        }
      },
      "FlagUpdateResponse": {
        "type": "object",
        "properties": {
          "rule_id": {"type": "string"},
          "applied_at": {"type": "string", "format": "date-time"},
          "audit_seal": {"type": "string"},
          "first_request_routed_v4_at": {"type": "string", "format": "date-time"}
        }
      },
      "BurnRatePayload": {
        "type": "object",
        "properties": {
          "slo_id": {"type": "string"},
          "cell": {"type": "string"},
          "window_minutes": {"type": "integer"},
          "baseline_p99_ms": {"type": "number"},
          "current_p99_ms": {"type": "number"},
          "delta_pct": {"type": "number"},
          "threshold_p99_ms": {"type": "number"},
          "regression_detected": {"type": "boolean"},
          "first_breach_at": {"type": "string", "format": "date-time"},
          "sustained_minutes": {"type": "integer"},
          "error_budget_burn_rate": {"type": "number"},
          "page_routing": {"type": "object"},
          "audit_seal": {"type": "string"}
        }
      },
      "PreWarmRequest": {
        "type": "object",
        "required": ["policy_bundle_version", "principal_shapes", "cell"],
        "properties": {
          "policy_bundle_version": {"type": "string"},
          "principal_shapes": {"type": "array", "items": {"type": "string"}},
          "cell": {"type": "string"},
          "estimated_complete_minutes": {"type": "integer"},
          "triggered_by_incident": {"type": "string"}
        }
      },
      "PreWarmResponse": {
        "type": "object",
        "properties": {
          "job_id": {"type": "string"},
          "status": {"type": "string"},
          "estimated_complete_at": {"type": "string", "format": "date-time"},
          "audit_seal": {"type": "string"}
        }
      },
      "RollbackVoteRequest": {
        "type": "object",
        "required": ["decision", "voter_principal", "voter_passkey_attestation"],
        "properties": {
          "decision": {"type": "string", "enum": ["ROLLBACK_NOW", "ROLLBACK_AFTER_HOTFIX", "NO_ROLLBACK"]},
          "voter_principal": {"type": "string"},
          "rationale": {"type": "string"},
          "voted_at": {"type": "string", "format": "date-time"},
          "voter_passkey_attestation": {"type": "string"}
        }
      },
      "RollbackVoteResponse": {
        "type": "object",
        "properties": {
          "quorum_decision": {"type": "string"},
          "incident_status": {"type": "string"},
          "follow_up_action": {"type": "string"},
          "audit_seal": {"type": "string"},
          "dual_seal_tenants": {"type": "array", "items": {"type": "string"}}
        }
      },
      "SunsetRequest": {
        "type": "object",
        "properties": {
          "value": {"type": "boolean"},
          "scope": {"type": "string"},
          "effective_at": {"type": "string", "format": "date-time"},
          "reason": {"type": "string"},
          "downstream_shutdown_triggers": {"type": "array", "items": {"type": "string"}}
        }
      },
      "SunsetResponse": {
        "type": "object",
        "properties": {
          "flag_id": {"type": "string"},
          "new_value": {"type": "boolean"},
          "applied_at": {"type": "string", "format": "date-time"},
          "downstream_shutdown_status": {"type": "object"},
          "audit_seal": {"type": "string"},
          "merkle_root_for_change_record": {"type": "string"}
        }
      },
      "AttestationRequest": {
        "type": "object",
        "properties": {
          "change_record_id": {"type": "string"},
          "attestation_type": {"type": "string"},
          "evidence_bundle_merkle_root": {"type": "string"},
          "scope": {"type": "array", "items": {"type": "string"}},
          "signer": {"type": "string"},
          "signed_at": {"type": "string", "format": "date-time"},
          "qes_provider": {"type": "string"}
        }
      },
      "QESSignature": {
        "type": "object",
        "properties": {
          "signer": {"type": "string"},
          "signed_at": {"type": "string", "format": "date-time"},
          "qes_provider": {"type": "string"}
        }
      },
      "QuorumVote": {
        "type": "object",
        "properties": {
          "principal": {"type": "string"},
          "voted_at": {"type": "string", "format": "date-time"},
          "decision": {"type": "string"}
        }
      }
    }
  }
}
