{
  "openapi": "3.2.0",
  "info": {
    "title": "finops-portal — Year-End Reconcile (j153)",
    "version": "1.0.0-j153",
    "description": "OpenAPI 3.2.0 for the year-end Schedule-C reconcile endpoint as used by journey j153."
  },
  "servers": [
    {"url": "https://api.oya.network", "description": "Production"}
  ],
  "paths": {
    "/v1/tenants/{tenant_id}/finops/year-end-reconcile": {
      "post": {
        "operationId": "yearEndReconcile",
        "summary": "Compute the Schedule-C 1040 draft for the tax year",
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "security": [{"oyaPasskeyBearer": ["finops.year_end_reconcile"]}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/YearEndReconcileRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reconcile complete",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/YearEndReconcileResponse"}
              }
            }
          },
          "403": {"description": "Cedar deny"},
          "422": {"description": "Validation"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oyaPasskeyBearer": {"type": "http", "scheme": "bearer", "bearerFormat": "OYA-Passkey-StepUp-JWT"}
    },
    "schemas": {
      "YearEndReconcileRequest": {
        "type": "object",
        "required": ["tax_year", "rails_included"],
        "properties": {
          "tax_year": {"type": "integer", "minimum": 2020, "maximum": 2099},
          "rails_included": {
            "type": "array",
            "items": {"type": "string", "enum": ["stripe_connect", "venmo", "zelle", "cashapp", "ach_direct"]}
          },
          "include_mileage": {"type": "boolean", "default": true},
          "include_cdtfa_draft": {"type": "boolean", "default": false},
          "produce_pdf": {"type": "boolean", "default": true},
          "produce_json": {"type": "boolean", "default": true}
        }
      },
      "YearEndReconcileResponse": {
        "type": "object",
        "required": ["schedule_c_id", "lines", "audit_event_id"],
        "properties": {
          "schedule_c_id": {"type": "string"},
          "lines": {"$ref": "#/components/schemas/ScheduleCLines"},
          "mileage": {"$ref": "#/components/schemas/MileageSummary"},
          "1099_k_summary": {"$ref": "#/components/schemas/Form1099KSummary"},
          "pdf_url": {"type": "string"},
          "audit_event_id": {"type": "string"}
        }
      },
      "ScheduleCLines": {
        "type": "object",
        "description": "All values are cents (integers) to avoid floating-point issues",
        "properties": {
          "line_1_gross": {"type": "integer"},
          "line_2_returns": {"type": "integer", "default": 0},
          "line_4_cogs": {"type": "integer"},
          "line_7_gross_income": {"type": "integer"},
          "line_8_advertising": {"type": "integer"},
          "line_9_car_truck": {"type": "integer"},
          "line_10_commissions_fees": {"type": "integer"},
          "line_13_depreciation": {"type": "integer"},
          "line_22_supplies": {"type": "integer"},
          "line_23_taxes_licenses": {"type": "integer"},
          "line_27a_other": {"type": "integer"},
          "line_28_total_expenses": {"type": "integer"},
          "line_29_tentative_profit": {"type": "integer"},
          "line_30_home_office": {"type": "integer", "default": 0},
          "line_31_net_profit": {"type": "integer"}
        }
      },
      "MileageSummary": {
        "type": "object",
        "properties": {
          "trip_count": {"type": "integer"},
          "miles": {"type": "integer"},
          "rate_cents_per_mile": {"type": "number"},
          "deductible_cents": {"type": "integer"}
        }
      },
      "Form1099KSummary": {
        "type": "object",
        "properties": {
          "threshold_cents": {"type": "integer"},
          "stripe_connect_gross_cents": {"type": "integer"},
          "venmo_gross_cents": {"type": "integer"},
          "zelle_gross_cents": {"type": "integer"},
          "expected_1099_k_issuers": {"type": "array", "items": {"type": "string"}}
        }
      }
    }
  }
}
