{
  "openapi": "3.1.0",
  "info": {
    "title": "j154 — Co-marketing campaign launch",
    "version": "1.0.0",
    "description": "Arms and launches a joint co-marketing campaign across two partner tenants + a shared joint-controller tenant. Enforces ADR-0273 sender-domain alignment, ADR-0272 cookie-consent posture, and the trinity Cedar bundle."
  },
  "servers": [
    {"url": "https://api.oya.network/marketing-automation/v1", "description": "Production gateway"}
  ],
  "paths": {
    "/v1/campaigns/{campaign_id}/launch": {
      "post": {
        "operationId": "launchCoMarketingCampaign",
        "summary": "Arm and launch the campaign at a scheduled wall-clock time",
        "security": [{"oyaPasskeyOAuth": ["marketing.campaign_launch"]}],
        "parameters": [
          {"name": "campaign_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LaunchRequest"}}}
        },
        "responses": {
          "202": {
            "description": "Campaign armed for scheduled launch",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LaunchArmed"}}}
          },
          "403": {"$ref": "#/components/responses/Forbidden"},
          "409": {"$ref": "#/components/responses/Conflict"}
        }
      }
    },
    "/v1/campaigns/{campaign_id}/pre-flight": {
      "post": {
        "operationId": "campaignPreFlight",
        "summary": "Run the pre-launch checklist deterministically",
        "security": [{"oyaPasskeyOAuth": ["marketing.campaign_preflight"]}],
        "parameters": [
          {"name": "campaign_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Pre-flight results",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PreFlightResult"}}}
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oyaPasskeyOAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://identity.oya.network/oauth/authorize",
            "tokenUrl": "https://identity.oya.network/oauth/token",
            "scopes": {
              "marketing.campaign_launch": "Launch a co-marketing campaign",
              "marketing.campaign_preflight": "Run a campaign pre-flight check"
            }
          }
        }
      }
    },
    "schemas": {
      "LaunchRequest": {
        "type": "object",
        "required": ["campaign_id", "scheduled_launch_at", "sequences_in_scope", "launching_principal", "approval_chain_present", "deliverability_pre_check_passed", "dpa_attestation_id", "cedar_bundle_id"],
        "properties": {
          "campaign_id": {"type": "string"},
          "scheduled_launch_at": {"type": "string", "format": "date-time"},
          "sequences_in_scope": {"type": "array", "items": {"type": "string"}},
          "linkedin_ads_in_scope": {"type": "array", "items": {"type": "string"}},
          "google_display_in_scope": {"type": "array", "items": {"type": "string"}},
          "launching_principal": {"type": "string", "format": "email"},
          "approval_chain_present": {
            "type": "array",
            "minItems": 2,
            "items": {"type": "string", "format": "email"},
            "description": "Must include the CMO (or named authorised role) of every partner tenant in the trinity"
          },
          "deliverability_pre_check_passed": {"type": "boolean", "const": true},
          "dpa_attestation_id": {"type": "string"},
          "cedar_bundle_id": {"type": "string"}
        }
      },
      "LaunchArmed": {
        "type": "object",
        "required": ["launch_id", "state", "estimated_first_hour_email_volume"],
        "properties": {
          "launch_id": {"type": "string"},
          "state": {"type": "string", "enum": ["armed_for_scheduled_launch"]},
          "estimated_first_hour_email_volume": {"type": "integer", "minimum": 0},
          "linkedin_first_hour_impression_target": {"type": "integer", "minimum": 0},
          "google_display_first_hour_impression_target": {"type": "integer", "minimum": 0}
        }
      },
      "PreFlightResult": {
        "type": "object",
        "required": ["campaign_id", "checks", "all_passed"],
        "properties": {
          "campaign_id": {"type": "string"},
          "checks": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["name", "status"],
              "properties": {
                "name": {
                  "type": "string",
                  "enum": [
                    "sender_domains_dkim_aligned",
                    "landing_pages_consent_banner",
                    "per_country_reputation_floor",
                    "dpa_on_file_in_all_tenants",
                    "cedar_bundle_deployed",
                    "crm_routing_rules_active",
                    "linkedin_ads_paused_ready",
                    "google_display_paused_ready",
                    "escrow_funded",
                    "bounce_complaint_thresholds_wired",
                    "dsa_transparency_log_wired"
                  ]
                },
                "status": {"type": "string", "enum": ["pass", "fail", "warn"]},
                "detail": {"type": "string"}
              }
            }
          },
          "all_passed": {"type": "boolean"}
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "human_explanation"],
        "properties": {
          "error": {"type": "string"},
          "human_explanation": {"type": "string"},
          "recovery_path": {"type": "string"},
          "audit_event_id": {"type": "string"}
        }
      }
    },
    "responses": {
      "Forbidden": {
        "description": "Approval chain incomplete or Cedar denied",
        "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
      },
      "Conflict": {
        "description": "Pre-flight gate failed (missing DPA, deliverability floor, etc.)",
        "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
      }
    }
  }
}
