{
  "openapi": "3.1.0",
  "info": {
    "title": "j154 — Shared co-marketing tenant provisioning",
    "version": "1.0.0",
    "description": "Trinity-tenant lifecycle for B2B channel-partner co-marketing under GDPR Art 26 joint-controller doctrine. Bound to ADR-0244 (tenant scoping) + ADR-0311 (dual-tenant identity boundary)."
  },
  "servers": [
    {"url": "https://api.oya.network/tenancy/v1", "description": "Production gateway"}
  ],
  "paths": {
    "/v1/tenants/shared-co-marketing": {
      "post": {
        "operationId": "provisionSharedCoMarketingTenant",
        "summary": "Open a shared tenant for a joint-controller co-marketing campaign",
        "security": [{"oyaPasskeyOAuth": ["tenancy.provision_shared_co_marketing"]}],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProvisionRequest"}}}
        },
        "responses": {
          "202": {
            "description": "Co-sign required from the other partner",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProvisionPendingCoSign"}}}
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "409": {"$ref": "#/components/responses/Conflict"}
        }
      }
    },
    "/v1/tenants/{provisioning_id}/co-sign": {
      "post": {
        "operationId": "coSignSharedTenantProvisioning",
        "summary": "Co-sign the shared-tenant provisioning from the second partner",
        "security": [{"oyaPasskeyOAuth": ["tenancy.co_sign_shared_co_marketing"]}],
        "parameters": [
          {"name": "provisioning_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CoSignRequest"}}}
        },
        "responses": {
          "201": {
            "description": "Shared tenant provisioned and active",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ProvisionedTenant"}}}
          },
          "403": {"$ref": "#/components/responses/Forbidden"},
          "409": {"$ref": "#/components/responses/Conflict"},
          "410": {"description": "Provisioning request expired"}
        }
      }
    },
    "/v1/tenants/{tenant_id}/wind-down": {
      "post": {
        "operationId": "windDownSharedTenant",
        "summary": "Transition a shared tenant from active to winding_down",
        "security": [{"oyaPasskeyOAuth": ["tenancy.wind_down_shared_co_marketing"]}],
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Tenant transitioned to winding_down",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TenantStateTransition"}}}
          },
          "409": {"$ref": "#/components/responses/Conflict"}
        }
      }
    },
    "/v1/tenants/{tenant_id}/archive": {
      "post": {
        "operationId": "archiveSharedTenant",
        "summary": "Transition a shared tenant from winding_down to archived",
        "security": [{"oyaPasskeyOAuth": ["tenancy.archive_shared_co_marketing"]}],
        "parameters": [
          {"name": "tenant_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {
            "description": "Tenant transitioned to archived; cold storage active",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TenantStateTransition"}}}
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oyaPasskeyOAuth": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://identity.oya.network/oauth/authorize",
            "tokenUrl": "https://identity.oya.network/oauth/token",
            "scopes": {
              "tenancy.provision_shared_co_marketing": "Open a shared tenant for joint co-marketing",
              "tenancy.co_sign_shared_co_marketing": "Co-sign a partner's provisioning request",
              "tenancy.wind_down_shared_co_marketing": "Wind down a shared co-marketing tenant",
              "tenancy.archive_shared_co_marketing": "Archive a wound-down shared tenant"
            }
          }
        }
      }
    },
    "schemas": {
      "ProvisionRequest": {
        "type": "object",
        "required": ["requested_tenant_id", "tenant_class", "joint_controllers", "data_residency_primary", "lifecycle_plan", "co_sign_required", "pack_overlays_requested"],
        "properties": {
          "requested_tenant_id": {
            "type": "string",
            "pattern": "^[a-z0-9-]{3,72}$",
            "example": "glacier-partnerlift-q1-2027-mfg-de-nl-be"
          },
          "tenant_class": {
            "type": "string",
            "enum": ["shared.co_marketing.joint_controller_pair", "shared.co_marketing.joint_controller_trio", "shared.co_marketing.joint_controller_consortium"]
          },
          "joint_controllers": {
            "type": "array",
            "minItems": 2,
            "maxItems": 6,
            "items": {"$ref": "#/components/schemas/JointController"}
          },
          "data_residency_primary": {
            "type": "string",
            "enum": ["eu-amsterdam-secondary", "eu-frankfurt-primary", "eu-paris-readonly-replica", "us-virginia-primary", "us-oregon-secondary", "ap-tokyo-primary", "ap-singapore-secondary", "kr-seoul-primary"]
          },
          "data_residency_replicas": {
            "type": "array",
            "items": {"type": "string"}
          },
          "lifecycle_plan": {"$ref": "#/components/schemas/LifecyclePlan"},
          "co_sign_required": {"type": "boolean"},
          "pack_overlays_requested": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["eu-gdpr", "nl-telecom", "eu-dsa", "icc-marketing", "us-ccpa", "us-canspam", "kr-pipa", "ap-pdpa", "us-hipaa", "eu-ai-act"]
            }
          }
        }
      },
      "JointController": {
        "type": "object",
        "required": ["tenant_id", "role", "sponsor_principal"],
        "properties": {
          "tenant_id": {"type": "string"},
          "role": {
            "type": "string",
            "enum": ["joint_controller_partnerlift", "joint_controller_glacier", "joint_controller_third", "joint_controller_consortium"]
          },
          "sponsor_principal": {"type": "string", "format": "email"}
        }
      },
      "LifecyclePlan": {
        "type": "object",
        "required": ["active_until", "wind_down_at", "archive_at", "retention_after_archive_years"],
        "properties": {
          "active_until": {"type": "string", "format": "date-time"},
          "wind_down_at": {"type": "string", "format": "date-time"},
          "archive_at": {"type": "string", "format": "date-time"},
          "retention_after_archive_years": {"type": "integer", "minimum": 1, "maximum": 30}
        }
      },
      "ProvisionPendingCoSign": {
        "type": "object",
        "required": ["provisioning_id", "status", "co_sign_pending_from", "co_sign_request_url", "expires_at"],
        "properties": {
          "provisioning_id": {"type": "string"},
          "status": {"type": "string", "enum": ["pending_co_sign"]},
          "co_sign_pending_from": {"type": "array", "items": {"type": "string", "format": "email"}},
          "co_sign_request_url": {"type": "string", "format": "uri"},
          "expires_at": {"type": "string", "format": "date-time"}
        }
      },
      "CoSignRequest": {
        "type": "object",
        "required": ["provisioning_id", "co_signer_principal", "co_signer_attestation", "accept_terms"],
        "properties": {
          "provisioning_id": {"type": "string"},
          "co_signer_principal": {"type": "string", "format": "email"},
          "co_signer_attestation": {
            "type": "object",
            "required": ["passkey_id", "ed25519_signature", "signed_payload_sha256"],
            "properties": {
              "passkey_id": {"type": "string"},
              "ed25519_signature": {"type": "string", "contentEncoding": "base64"},
              "signed_payload_sha256": {"type": "string", "pattern": "^[a-f0-9]{64}$"}
            }
          },
          "accept_terms": {"type": "boolean", "const": true}
        }
      },
      "ProvisionedTenant": {
        "type": "object",
        "required": ["tenant_id", "tenant_state", "data_residency_primary", "cedar_bundle_id", "joint_controllers_active", "kms_root_key_id", "audit_streams_primed"],
        "properties": {
          "tenant_id": {"type": "string"},
          "tenant_state": {"type": "string", "enum": ["provisioned", "active"]},
          "data_residency_primary": {"type": "string"},
          "cedar_bundle_id": {"type": "string"},
          "joint_controllers_active": {"type": "array", "items": {"type": "string"}},
          "kms_root_key_id": {"type": "string"},
          "audit_streams_primed": {"type": "array", "items": {"type": "string"}}
        }
      },
      "TenantStateTransition": {
        "type": "object",
        "required": ["tenant_id", "from_state", "to_state", "transition_at", "audit_event_id"],
        "properties": {
          "tenant_id": {"type": "string"},
          "from_state": {"type": "string", "enum": ["active", "winding_down", "archived"]},
          "to_state": {"type": "string", "enum": ["winding_down", "archived"]},
          "transition_at": {"type": "string", "format": "date-time"},
          "audit_event_id": {"type": "string"}
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "human_explanation"],
        "properties": {
          "error": {"type": "string"},
          "policy_id": {"type": "string"},
          "human_explanation": {"type": "string"},
          "recovery_path": {"type": "string"},
          "audit_event_id": {"type": "string"}
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed request",
        "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
      },
      "Forbidden": {
        "description": "Cedar denied",
        "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
      },
      "Conflict": {
        "description": "State conflict (e.g. tenant_id already in use, lifecycle invariant violated)",
        "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
      }
    }
  }
}
