openapi: 3.2.0
info:
  title: Epic FHIR R4 (oya-connector-epic-fhir-adapter snapshot)
  version: R4-snapshot
servers:
  - url: https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4
paths:
  /Patient:
    get:
      operationId: searchPatient
      parameters:
        - in: query
          name: _count
          schema: { type: integer, default: 100 }
      responses: { '200': { description: Patient Bundle } }
  /Patient/{id}:
    get:
      operationId: readPatient
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses: { '200': { description: Patient } }
  /Encounter:
    get:
      operationId: searchEncounter
      responses: { '200': { description: Encounter Bundle } }
  /MedicationRequest:
    get:
      operationId: searchMedicationRequest
      responses: { '200': { description: MedicationRequest Bundle } }
    post:
      operationId: createMedicationRequest
      responses: { '201': { description: Created } }
  /Observation:
    get:
      operationId: searchObservation
      responses: { '200': { description: Observation Bundle } }
    post:
      operationId: createObservation
      responses: { '201': { description: Created } }
components:
  securitySchemes:
    smartOnFhirBackend:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://fhir.epic.com/interconnect-fhir-oauth/oauth2/token
          scopes:
            'system/Patient.read': read patients
            'system/Encounter.read': read encounters
            'system/Observation.read': read observations
            'system/MedicationRequest.write': write medication requests
security:
  - smartOnFhirBackend: [system/Patient.read, system/Encounter.read, system/Observation.read]
