{
  "openapi": "3.1.0",
  "info": {
    "title": "j157 quality + recall API (Tipografia ↔ Antibiotice)",
    "version": "1.0.0",
    "description": "Operator-authoritative production line stop + recall workflow + cross-tenant customer notification API. Diacritic-fidelity preserved end-of-line via UTF-8 NFC. Cedar grants operator-level line-stop authority on certification + active shift + product class — NO manager-approval gate for FOGRA-PSO L2 operators on regulated product classes."
  },
  "servers": [
    {"url": "https://api.oya.cloud/v1", "description": "production"},
    {"url": "https://api.dev.oya.cloud/v1", "description": "dev"}
  ],
  "paths": {
    "/quality/production-lines/{press_id}/line-stop": {
      "post": {
        "operationId": "lineStop",
        "summary": "Operator-authoritative line stop with Cedar certification gate",
        "parameters": [
          {"name": "press_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LineStopRequest"}}}
        },
        "responses": {
          "200": {"description": "line stopped", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LineStopResponse"}}}},
          "403": {"description": "Cedar deny (cert/shift)"}
        },
        "x-cedar-action": "quality.production_line_stop",
        "x-audit-class": "EVT-J157-LINE-STOP-001",
        "x-no-manager-gate": true,
        "x-adr-refs": ["ADR-0244", "ADR-0243", "ADR-0263", "ADR-0250"]
      }
    },
    "/quality/defects/classify": {
      "post": {
        "operationId": "classifyDefect",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DefectClassifyRequest"}}}
        },
        "responses": {"201": {"description": "defect classified"}},
        "x-cedar-action": "quality.defect_classify",
        "x-audit-class": "EVT-J157-DEFECT-CLASSIFIED-004a"
      }
    },
    "/quality/defects/{defect_id}/root-cause-confirm": {
      "post": {
        "operationId": "confirmRootCause",
        "parameters": [
          {"name": "defect_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RootCauseConfirmRequest"}}}
        },
        "responses": {"200": {"description": "root cause confirmed"}},
        "x-cedar-action": "quality.root_cause_confirm",
        "x-audit-class": "EVT-J157-ROOT-CAUSE-CONFIRMED-009"
      }
    },
    "/quality/capa/file": {
      "post": {
        "operationId": "fileCapa",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CapaFileRequest"}}}
        },
        "responses": {
          "201": {"description": "CAPA filed under TrueTime fence"},
          "409": {"description": "endorsement missing or TrueTime fence violation"}
        },
        "x-cedar-action": "quality.capa_file",
        "x-audit-class": "EVT-J157-CAPA-FILED-008",
        "x-truetime-class": true,
        "x-dual-seal": true
      }
    },
    "/workflows/recall/instances": {
      "post": {
        "operationId": "createRecallWorkflow",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RecallCreateRequest"}}}
        },
        "responses": {"201": {"description": "recall created"}},
        "x-cedar-action": "workflow.recall_initiate",
        "x-audit-class": "EVT-J157-RECALL-WORKFLOW-CREATED-003"
      }
    },
    "/workflows/recall/{recall_id}/transition": {
      "post": {
        "operationId": "transitionRecall",
        "parameters": [
          {"name": "recall_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RecallTransitionRequest"}}}
        },
        "responses": {
          "200": {"description": "transition accepted"},
          "409": {"description": "invalid transition"}
        },
        "x-cedar-action": "workflow.recall_transition",
        "x-state-machine": "recall-state-machine.yaml",
        "x-dual-seal": true
      }
    },
    "/messenger/groups/{group_id}/post": {
      "post": {
        "operationId": "postRecallMessage",
        "parameters": [
          {"name": "group_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RecallMessagePostRequest"}}}
        },
        "responses": {"200": {"description": "message posted (E2EE)"}},
        "x-cedar-action": "messenger.post_recall",
        "x-audit-class": "EVT-J157-CUSTOMER-NOTIFY-005",
        "x-dual-seal": true
      }
    }
  },
  "components": {
    "schemas": {
      "LineStopRequest": {
        "type": "object",
        "required": ["principal", "tenant_ctx", "batch_id", "stop_initiated_at", "stop_reason", "operator_authority_basis", "evidence_snapshot"],
        "properties": {
          "principal": {"type": "string", "example": "diana.lazăr@tipografia-lazar-petrescu-ro", "description": "UTF-8 NFC; diacritics preserved"},
          "tenant_ctx": {"type": "string"},
          "batch_id": {"type": "string"},
          "stop_initiated_at": {"type": "string", "format": "date-time"},
          "stop_reason": {"type": "string"},
          "operator_authority_basis": {"type": "string", "enum": ["FOGRA-PSO-Operator-Level-2", "FOGRA-PSO-Operator-Level-1-with-manager-escalation"]},
          "evidence_snapshot": {
            "type": "object",
            "properties": {
              "delta_e_at_stop": {"type": "number"},
              "sheet_index_at_stop": {"type": "integer"},
              "press_camera_frame_id": {"type": "string"}
            }
          }
        }
      },
      "LineStopResponse": {
        "type": "object",
        "required": ["line_stop_id", "press_halt_command_sent_at", "press_halt_confirmed_at", "sheets_in_transit_quarantined", "good_sheets_count", "remaining_planned"],
        "properties": {
          "line_stop_id": {"type": "string"},
          "press_halt_command_sent_at": {"type": "string", "format": "date-time"},
          "press_halt_confirmed_at": {"type": "string", "format": "date-time"},
          "sheets_in_transit_quarantined": {"type": "integer"},
          "good_sheets_count": {"type": "integer"},
          "remaining_planned": {"type": "integer"}
        }
      },
      "DefectClassifyRequest": {
        "type": "object",
        "required": ["defect_id", "tenant_ctx", "batch_id", "defect_category", "iso_9001_severity", "telemetry_snapshot"],
        "properties": {
          "defect_id": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "batch_id": {"type": "string"},
          "defect_category": {"type": "string", "enum": ["color_drift", "registration_shift", "registration_shift_legal_text_clipping", "ink_density", "substrate_defect", "binding_defect", "other"]},
          "iso_9001_severity": {"type": "string", "enum": ["minor", "major", "critical"]},
          "fogra_pso_class": {"type": "string"},
          "telemetry_snapshot": {
            "type": "object",
            "properties": {
              "delta_e_at_first_breach": {"type": "number"},
              "registration_shift_mm_y": {"type": "number"},
              "registration_shift_mm_x": {"type": "number"},
              "affected_sheet_range_start": {"type": "integer"},
              "affected_sheet_range_end": {"type": "integer"},
              "affected_sheet_count": {"type": "integer"}
            }
          },
          "legal_text_clipping": {
            "type": "object",
            "properties": {
              "expected_text": {"type": "string", "description": "UTF-8 NFC; diacritics required"},
              "rendered_text": {"type": "string"},
              "clip_height_mm": {"type": "number"},
              "regulatory_class": {"type": "string", "enum": ["ANMDMR_approved_text_deviation", "EMA_PIL_deviation", "FDA_label_deviation", "non_regulatory"]}
            }
          }
        }
      },
      "RootCauseConfirmRequest": {
        "type": "object",
        "required": ["defect_id", "root_cause_category", "root_cause_specific", "root_cause_evidence_inspection_id", "confirmed_at", "confirmed_by", "endorsed_by"],
        "properties": {
          "defect_id": {"type": "string"},
          "root_cause_category": {"type": "string", "enum": ["mechanical_wear", "mechanical_wear_dampener_roller_cylinder", "operator_error", "substrate_lot_variability", "ink_lot_variability", "environmental", "software_drift", "other"]},
          "root_cause_specific": {"type": "string", "minLength": 16, "maxLength": 2048},
          "root_cause_evidence_inspection_id": {"type": "string"},
          "confirmed_at": {"type": "string", "format": "date-time"},
          "confirmed_by": {"type": "string"},
          "endorsed_by": {"type": "string"}
        }
      },
      "CapaFileRequest": {
        "type": "object",
        "required": ["capa_id", "defect_link", "correction", "corrective_action", "preventive_action", "filed_at", "filed_by", "endorsed_by"],
        "properties": {
          "capa_id": {"type": "string"},
          "defect_link": {"type": "string"},
          "correction": {"type": "array", "items": {"type": "string"}, "minItems": 1},
          "corrective_action": {"type": "array", "items": {"type": "string"}, "minItems": 1},
          "preventive_action": {"type": "array", "items": {"type": "string"}, "minItems": 1},
          "filed_at": {"type": "string", "format": "date-time"},
          "filed_by": {"type": "string"},
          "endorsed_by": {"type": "string"}
        }
      },
      "RecallCreateRequest": {
        "type": "object",
        "required": ["workflow_template_id", "tenant_ctx", "customer_tenant", "batch_id", "line_stop_id", "initial_state"],
        "properties": {
          "workflow_template_id": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "customer_tenant": {"type": "string"},
          "batch_id": {"type": "string"},
          "line_stop_id": {"type": "string"},
          "initial_state": {"type": "string", "enum": ["stop_called"]},
          "regulator_template_required": {"type": "string", "enum": ["ANMDMR", "EMA", "FDA", "NONE"]},
          "regulator_template_status": {"type": "string", "enum": ["prepared_hold", "sent", "not_required"]}
        }
      },
      "RecallTransitionRequest": {
        "type": "object",
        "required": ["recall_id", "from_state", "to_state", "transitioned_at"],
        "properties": {
          "recall_id": {"type": "string"},
          "from_state": {"type": "string", "enum": ["stop_called", "quarantine", "defect_root_cause", "customer_notify", "recall_execute", "closure_post_mortem"]},
          "to_state": {"type": "string", "enum": ["stop_called", "quarantine", "defect_root_cause", "customer_notify", "recall_execute", "closure_post_mortem"]},
          "transitioned_at": {"type": "string", "format": "date-time"},
          "evidence_links": {"type": "array", "items": {"type": "string"}}
        }
      },
      "RecallMessagePostRequest": {
        "type": "object",
        "required": ["principal", "group_id", "post_at", "ciphertext_b64", "notification_class"],
        "properties": {
          "principal": {"type": "string"},
          "group_id": {"type": "string"},
          "post_at": {"type": "string", "format": "date-time"},
          "mls_epoch_at_post": {"type": "integer"},
          "ciphertext_b64": {"type": "string", "format": "byte"},
          "structured_payload_hash_sha256": {"type": "string"},
          "notification_class": {"type": "string", "enum": ["customer_recall_initiate", "customer_recall_update", "customer_recall_close", "regulator_recall_initiate"]},
          "sla_response_within_hours": {"type": "integer", "maximum": 24}
        }
      }
    }
  }
}
