{
  "openapi": "3.0.3",
  "info": {
    "title": "Hartwell-Renshaw Board Meeting — meet board-mode API",
    "version": "1.0.0",
    "description": "OpenAPI for the j163 board-meeting choreography. Endpoints for SFU pre-flight, language pipeline pre-flight, consent matrix collection, recording envelope open/close, executive session engage/release, captioning stream, minutes archival, Merkle anchor.",
    "contact": {
      "name": "oyatie meet µservice",
      "email": "meet@oyatie.com"
    },
    "x-journey-id": "j163-av-coordinator-jordan-park-board-meeting-cross-time-zone",
    "x-adrs": [
      "ADR-0244-tenant-as-universal-scoping-primitive",
      "ADR-0243-cedar-as-universal-gate",
      "ADR-0263-observability-emission-contract",
      "ADR-0251-compliance-pack-primitive",
      "ADR-0253-http3-quic-default-protocol"
    ]
  },
  "servers": [
    {"url": "https://meet.us-east.oyatie.com/v1", "description": "US-East primary"},
    {"url": "https://meet.eu-frankfurt.oyatie.com/v1", "description": "EU-Frankfurt mirror"}
  ],
  "paths": {
    "/meet/board-mode/pre-flight/initiate": {
      "post": {
        "summary": "Initiate board-mode pre-flight",
        "x-cedar-action": "meet.pre_flight_initiate",
        "x-audit-event": "EVT-J163-PREFLIGHT-INITIATE-000",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/PreFlightInitiateRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pre-flight initiated",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PreFlightInitiateResponse"}
              }
            }
          },
          "403": {"description": "Cedar deny — not an av_coordinator or missing passkey"}
        }
      }
    },
    "/meet/board-mode/pre-flight/close": {
      "post": {
        "summary": "Close pre-flight gate; all cells + languages + mics validated",
        "x-cedar-action": "meet.pre_flight_close",
        "x-audit-event": "EVT-J163-PREFLIGHT-COMPLETE-001",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/PreFlightCloseRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Pre-flight closed; ready for consent collection"},
          "412": {"description": "Pre-condition failed (cell warm or language canary)"}
        }
      }
    },
    "/meet/board-mode/consent-matrix/close": {
      "post": {
        "summary": "Close consent matrix gate; all jurisdictions consented",
        "x-cedar-action": "meet.consent_matrix_close",
        "x-audit-event": "EVT-J163-CONSENT-MATRIX-COMPLETE-002",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/ConsentMatrixCloseRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Consent matrix closed; ready for envelope open"},
          "412": {"description": "Missing consent or missing EU AI Act 50 acknowledgment"}
        }
      }
    },
    "/recordings/envelope/open": {
      "post": {
        "summary": "Open recording envelope at nominal start",
        "x-cedar-action": "recordings.start_envelope",
        "x-audit-event": "EVT-J163-RECORDING-ENVELOPE-OPEN-004",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/RecordingEnvelopeOpenRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Envelope open; WORM lock engaged"},
          "412": {"description": "Pre-conditions not met (consent matrix, KMS roots, etc)"}
        }
      }
    },
    "/recordings/envelope/close": {
      "post": {
        "summary": "Close recording envelope; engage WORM retention timer",
        "x-cedar-action": "recordings.close_envelope",
        "x-audit-event": "EVT-J163-RECORDING-ENVELOPE-CLOSED-008",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/RecordingEnvelopeCloseRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Envelope closed; retention timer set to 7 years"},
          "403": {"description": "Cedar deny — not an av_coordinator"}
        }
      }
    },
    "/meet/board-mode/executive-session/engage": {
      "post": {
        "summary": "Engage executive session lock; AV coordinator audio path muted",
        "x-cedar-action": "meet.executive_session_engage",
        "x-audit-event": "EVT-J163-EXEC-SESSION-LOCKED-006",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/ExecSessionEngageRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Exec session locked"},
          "403": {"description": "Cedar deny — chair authorization missing"}
        }
      }
    },
    "/meet/board-mode/executive-session/release": {
      "post": {
        "summary": "Release exec session lock; AV coordinator audio path restored",
        "x-cedar-action": "meet.executive_session_release",
        "x-audit-event": "EVT-J163-EXEC-SESSION-RELEASED-007",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/ExecSessionReleaseRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Exec session released"},
          "412": {"description": "Vote quorum not reached"}
        }
      }
    },
    "/intelligence/captioning/preflight": {
      "post": {
        "summary": "Pre-flight language pipeline (Whisper + NLLB)",
        "x-cedar-action": "intelligence.preflight",
        "x-audit-event": "EVT-J163-PREFLIGHT-LANGUAGE-001a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/LanguagePreFlightRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-language + per-pair results",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/LanguagePreFlightResponse"}
              }
            }
          }
        }
      }
    },
    "/intelligence/captioning/stream/start": {
      "post": {
        "summary": "Start per-language caption stream",
        "x-cedar-action": "intelligence.captioning_stream_start",
        "x-audit-event": "EVT-J163-CAPTIONING-LIVE-005",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CaptionStreamStartRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Stream started"}
        }
      }
    },
    "/cells/warm-batch": {
      "post": {
        "summary": "Warm a batch of SFU cells",
        "x-cedar-action": "cell.warm_batch",
        "x-audit-event": "EVT-J163-CELL-WARM-COMPLETE-001a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CellWarmBatchRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cells warmed",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CellWarmBatchResponse"}
              }
            }
          }
        }
      }
    },
    "/drive/rooms/{room}/files": {
      "post": {
        "summary": "Write final signed minutes to drive WORM room",
        "x-cedar-action": "drive.write_room",
        "x-audit-event": "EVT-J163-MINUTES-DRIVE-WRITE-009a",
        "parameters": [
          {"name": "room", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/DriveWriteRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Written; WORM lock engaged; retention timer set"}
        }
      }
    },
    "/governance/board-bundle/anchor": {
      "post": {
        "summary": "Compute Merkle root + anchor to audit-chain spine + external transparency log",
        "x-cedar-action": "governance.merkle_anchor_audit_chain_spine",
        "x-audit-event": "EVT-J163-MINUTES-MERKLE-ANCHORED-009",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/MerkleAnchorRequest"}
            }
          }
        },
        "responses": {
          "200": {"description": "Anchored"}
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PreFlightInitiateRequest": {
        "type": "object",
        "required": ["tenant_id", "meeting_id", "meeting_class", "scheduled_start", "scheduled_end", "expected_sfu_cells", "expected_recording_cells"],
        "properties": {
          "tenant_id": {"type": "string", "example": "hartwell-renshaw-asset-mgmt-llc"},
          "meeting_id": {"type": "string", "example": "hartwell-renshaw-2027-q1-board"},
          "meeting_class": {"type": "string", "enum": ["board_of_directors"]},
          "scheduled_start": {"type": "string", "format": "date-time"},
          "scheduled_end": {"type": "string", "format": "date-time"},
          "operator_principal": {"type": "string"},
          "operator_role": {"type": "string", "enum": ["av_coordinator"]},
          "expected_sfu_cells": {
            "type": "array",
            "items": {"type": "string"},
            "minItems": 1,
            "example": ["us-east-nyc-tier-1-conf", "eu-frankfurt-tier-1-conf", "ap-tokyo-tier-2-conf", "sa-saopaulo-tier-3-conf", "ap-singapore-tier-2-conf", "af-lagos-tier-3-conf"]
          },
          "expected_recording_cells": {
            "type": "array",
            "items": {"type": "string"},
            "example": ["us-east-recordings-worm-1", "eu-frankfurt-recordings-mirror"]
          }
        }
      },
      "PreFlightInitiateResponse": {
        "type": "object",
        "properties": {
          "preflight_id": {"type": "string"},
          "initiated_at": {"type": "string", "format": "date-time"},
          "audit_event_id": {"type": "string"}
        }
      },
      "PreFlightCloseRequest": {
        "type": "object",
        "required": ["meeting_id", "all_cells_ready", "all_languages_ready"],
        "properties": {
          "meeting_id": {"type": "string"},
          "all_cells_ready": {"type": "boolean"},
          "all_languages_ready": {"type": "boolean"},
          "boardroom_mics_validated": {"type": "array", "items": {"type": "string"}},
          "closed_at": {"type": "string", "format": "date-time"}
        }
      },
      "ConsentMatrixCloseRequest": {
        "type": "object",
        "required": ["meeting_id", "all_consents_collected", "consent_count", "jurisdictions_covered"],
        "properties": {
          "meeting_id": {"type": "string"},
          "all_consents_collected": {"type": "boolean"},
          "consent_count": {"type": "integer", "minimum": 1},
          "jurisdictions_covered": {
            "type": "array",
            "items": {"type": "string"},
            "example": ["US", "EU-DE", "JP", "KR", "BR", "SG", "NG"]
          },
          "closed_at": {"type": "string", "format": "date-time"}
        }
      },
      "RecordingEnvelopeOpenRequest": {
        "type": "object",
        "required": ["meeting_id", "tenant_id", "primary_storage_cell", "retention_policy", "encryption"],
        "properties": {
          "meeting_id": {"type": "string"},
          "tenant_id": {"type": "string"},
          "primary_storage_cell": {"type": "string"},
          "mirror_storage_cells": {"type": "array", "items": {"type": "string"}},
          "retention_policy": {
            "type": "object",
            "properties": {
              "rule_id": {"type": "string", "example": "SEC-17a-4(f)"},
              "years": {"type": "integer", "minimum": 7},
              "worm": {"type": "boolean"},
              "indexed_search": {"type": "boolean"},
              "supervisor": {"type": "string"}
            }
          },
          "encryption": {
            "type": "object",
            "properties": {
              "alg": {"type": "string", "example": "AES-256-GCM-SIV"},
              "primary_kms_root": {"type": "string"},
              "mirror_kms_root": {"type": "string"}
            }
          },
          "captioning_pipeline": {
            "type": "object",
            "properties": {
              "asr_model": {"type": "string"},
              "mt_model": {"type": "string"},
              "languages": {"type": "array", "items": {"type": "string"}}
            }
          },
          "opened_at_nominal": {"type": "string", "format": "date-time"},
          "opened_at_actual": {"type": "string", "format": "date-time"},
          "hlc_offset_ms": {"type": "integer"}
        }
      },
      "RecordingEnvelopeCloseRequest": {
        "type": "object",
        "properties": {
          "meeting_id": {"type": "string"},
          "duration_seconds": {"type": "integer"},
          "total_bytes_primary": {"type": "integer"},
          "total_bytes_mirror": {"type": "integer"},
          "exec_session_segment": {
            "type": "object",
            "properties": {
              "start": {"type": "string", "format": "date-time"},
              "end": {"type": "string", "format": "date-time"},
              "duration_seconds": {"type": "integer"},
              "unlock_policy": {"type": "string"}
            }
          },
          "captioning_summary": {
            "type": "object",
            "properties": {
              "languages": {"type": "array", "items": {"type": "string"}},
              "max_drift_score_per_lang": {"type": "object", "additionalProperties": {"type": "number"}}
            }
          },
          "worm_lock_engaged": {"type": "boolean"},
          "worm_until": {"type": "string", "format": "date-time"},
          "closed_at": {"type": "string", "format": "date-time"}
        }
      },
      "ExecSessionEngageRequest": {
        "type": "object",
        "required": ["meeting_id", "chair_authorized_by"],
        "properties": {
          "meeting_id": {"type": "string"},
          "chair_authorized_by": {"type": "string"},
          "chair_passkey_assertion_b64": {"type": "string"},
          "participants_locked_in": {"type": "array", "items": {"type": "string"}},
          "participants_locked_out": {"type": "array", "items": {"type": "string"}},
          "av_coordinator_audio_path_muted": {"type": "boolean"},
          "asr_pipeline_suspended": {"type": "boolean"},
          "recording_segment_class": {"type": "string", "enum": ["executive_session_segment"]},
          "engaged_at": {"type": "string", "format": "date-time"}
        }
      },
      "ExecSessionReleaseRequest": {
        "type": "object",
        "properties": {
          "meeting_id": {"type": "string"},
          "released_by": {"type": "string"},
          "passkey_assertion_b64": {"type": "string"},
          "vote_quorum_reached": {"type": "boolean"},
          "vote_quorum_count": {"type": "integer"},
          "resolutions_emitted": {"type": "array", "items": {"type": "string"}},
          "released_at": {"type": "string", "format": "date-time"}
        }
      },
      "LanguagePreFlightRequest": {
        "type": "object",
        "properties": {
          "languages": {"type": "array", "items": {"type": "string"}},
          "asr_model_id": {"type": "string"},
          "mt_model_id": {"type": "string"},
          "canary_utterance": {"type": "string"},
          "expected_bleu_floors": {"type": "object", "additionalProperties": {"type": "number"}}
        }
      },
      "LanguagePreFlightResponse": {
        "type": "object",
        "properties": {
          "per_language_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "lang": {"type": "string"},
                "asr_warm": {"type": "boolean"},
                "canary_ok": {"type": "boolean"},
                "wer_baseline": {"type": "number"}
              }
            }
          },
          "per_pair_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pair": {"type": "string"},
                "bleu": {"type": "number"},
                "warm": {"type": "boolean"},
                "canary_ok": {"type": "boolean"}
              }
            }
          }
        }
      },
      "CaptionStreamStartRequest": {
        "type": "object",
        "properties": {
          "meeting_id": {"type": "string"},
          "language": {"type": "string"},
          "pivot_pair": {"type": "string"},
          "expected_drift_ceiling": {"type": "number"},
          "fanout_targets": {"type": "array", "items": {"type": "string"}}
        }
      },
      "CellWarmBatchRequest": {
        "type": "object",
        "properties": {
          "cells": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "cell_id": {"type": "string"},
                "warm_target": {"type": "string"},
                "deadline_seconds": {"type": "integer"}
              }
            }
          },
          "binding_class": {"type": "string"}
        }
      },
      "CellWarmBatchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "cell_id": {"type": "string"},
                "state": {"type": "string"},
                "elapsed_seconds": {"type": "integer"},
                "warn": {"type": "string"}
              }
            }
          }
        }
      },
      "DriveWriteRequest": {
        "type": "object",
        "properties": {
          "drive_room": {"type": "string"},
          "filename": {"type": "string"},
          "content_type": {"type": "string"},
          "size_bytes": {"type": "integer"},
          "sha256": {"type": "string"},
          "signed_by": {"type": "string"},
          "signature_alg": {"type": "string"},
          "counsel_review": {"type": "string"},
          "worm": {"type": "boolean"},
          "worm_until": {"type": "string", "format": "date-time"}
        }
      },
      "MerkleAnchorRequest": {
        "type": "object",
        "properties": {
          "meeting_id": {"type": "string"},
          "bundle_components": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {"type": "string"},
                "sha256": {"type": "string"}
              }
            }
          },
          "merkle_root": {"type": "string"},
          "anchor_targets": {"type": "array", "items": {"type": "string"}}
        }
      }
    }
  }
}
