openapi: 3.0.3
info:
  title: Microsoft Graph (Teams subset) — oya-connector-teams-adapter snapshot
  version: v1.0-snapshot
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  /teams/{teamId}/channels:
    get:
      operationId: listChannels
      parameters:
        - in: path
          name: teamId
          required: true
          schema: { type: string }
      responses: { '200': { description: Channels page } }
    post:
      operationId: createChannel
      responses: { '201': { description: Channel created } }
  /teams/{teamId}/channels/{channelId}:
    get:
      operationId: getChannel
      responses: { '200': { description: Channel } }
    patch:
      operationId: updateChannel
      responses: { '200': { description: Updated } }
    delete:
      operationId: deleteChannel
      responses: { '204': { description: Deleted } }
  /teams/{teamId}/channels/{channelId}/messages:
    post:
      operationId: postMessage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: object
                  properties:
                    content: { type: string }
                attachments:
                  type: array
                  items: { $ref: '#/components/schemas/AdaptiveCard' }
      responses: { '201': { description: Message posted } }
components:
  schemas:
    AdaptiveCard:
      type: object
      properties:
        contentType:
          type: string
          enum: [application/vnd.microsoft.card.adaptive]
        content: { type: object }
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            'https://graph.microsoft.com/.default': default scope
security:
  - oauth2: []
