{
  "openapi": "3.1.0",
  "info": {
    "title": "j160 cleaning-co cross-tenant bid + onboard API",
    "version": "1.0.0",
    "description": "Cross-tenant marketplace bid + contract sign + crew onboarding + biometric badge cross-tenant enrollment API. Czech state-systems integrations (ARES + OSSZ + ZP + FÚ + Datová schránka). Diacritic-strict mode for Czech + Vietnamese + Slovak + Ukrainian + Cyrillic. QES dual-tenant signing under TrueTime fence per ADR-0252."
  },
  "servers": [
    {"url": "https://api.oya.cloud/v1", "description": "production"},
    {"url": "https://api.dev.oya.cloud/v1", "description": "dev"}
  ],
  "paths": {
    "/marketplace/bid-requests/{bid_id}": {
      "get": {
        "operationId": "getBidRequest",
        "summary": "Read a published bid request",
        "parameters": [
          {"name": "bid_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "bid request returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BidRequest"}}}}
        },
        "x-cedar-action": "marketplace.bid_request_read",
        "x-audit-class": "EVT-J160-BID-REQUEST-READ-001"
      }
    },
    "/marketplace/bid-requests/{bid_id}/submit-bid": {
      "post": {
        "operationId": "submitBid",
        "summary": "Submit a structured bid",
        "parameters": [
          {"name": "bid_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BidSubmitRequest"}}}
        },
        "responses": {
          "200": {"description": "bid submitted; dual-sealed"},
          "403": {"description": "Cedar deny (FORBID-1 cert / FORBID-2 window / FORBID-8 ARES)"}
        },
        "x-cedar-action": "marketplace.bid_submit",
        "x-audit-class": "EVT-J160-BID-SUBMITTED-003",
        "x-dual-seal": true,
        "x-adr-refs": ["ADR-0249", "ADR-0244", "ADR-0263"]
      }
    },
    "/marketplace/bid-requests/{bid_id}/evaluate": {
      "post": {
        "operationId": "evaluateBid",
        "summary": "Record bid evaluation",
        "parameters": [
          {"name": "bid_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BidEvaluationRequest"}}}
        },
        "responses": {
          "200": {"description": "evaluation recorded"}
        },
        "x-cedar-action": "marketplace.bid_evaluate",
        "x-audit-class": "EVT-J160-BID-EVALUATED-004"
      }
    },
    "/marketplace/bid-requests/{bid_id}/award": {
      "post": {
        "operationId": "awardBid",
        "summary": "Issue award decision",
        "parameters": [
          {"name": "bid_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AwardNotificationRequest"}}}
        },
        "responses": {
          "200": {"description": "award notification sent + dual-sealed"}
        },
        "x-cedar-action": "marketplace.award_issue",
        "x-audit-class": "EVT-J160-AWARD-RECEIVED-005",
        "x-dual-seal": true
      }
    },
    "/clm/contracts/{contract_id}/draft-revision": {
      "post": {
        "operationId": "draftRevision",
        "summary": "Add a contract draft revision",
        "parameters": [
          {"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContractDraftRevisionRequest"}}}
        },
        "responses": {
          "200": {"description": "revision added"}
        },
        "x-cedar-action": "contract.draft_revision"
      }
    },
    "/clm/contracts/{contract_id}/qes-sign-dual-tenant": {
      "post": {
        "operationId": "qesSignDualTenant",
        "summary": "Sign contract via dual-tenant QES under TrueTime fence",
        "parameters": [
          {"name": "contract_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/QesSignDualTenantRequest"}}}
        },
        "responses": {
          "200": {"description": "contract signed under TrueTime fence"},
          "409": {"description": "TrueTime breach (FORBID-10) or incomplete signature (FORBID-7)"}
        },
        "x-cedar-action": "contract.qes_sign_dual_tenant",
        "x-audit-class": "EVT-J160-CONTRACT-SIGNED-006",
        "x-truetime-class": true,
        "x-dual-seal": true,
        "x-adr-refs": ["ADR-0252", "ADR-0263"]
      }
    },
    "/cz-datova-schranka/notifications": {
      "post": {
        "operationId": "datovaSchrankaNotify",
        "summary": "Notify Czech Datová schránka about contract metadata",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DatovaSchrankaNotificationRequest"}}}
        },
        "responses": {
          "200": {"description": "notification queued; legal-effect timer started"}
        },
        "x-cedar-action": "cz_datova_schranka.notify",
        "x-audit-class": "EVT-J160-DATOVA-SCHRANKA-NOTIFIED-006a"
      }
    },
    "/cz-ares/business/{ic}": {
      "get": {
        "operationId": "aresBusinessLookup",
        "summary": "Czech ARES business register lookup",
        "parameters": [
          {"name": "ic", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^[0-9]{8}$"}}
        ],
        "responses": {
          "200": {"description": "business record returned"}
        },
        "x-cedar-action": "cz_ares.lookup"
      }
    },
    "/cz-ossz/employee-registration": {
      "post": {
        "operationId": "osszEmployeeRegister",
        "summary": "OSSZ employee registration (Czech state)",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/OsszRegistrationRequest"}}}
        },
        "responses": {
          "200": {"description": "registered"},
          "403": {"description": "FORBID-3 diacritic / FORBID-12 8-day window"}
        },
        "x-cedar-action": "cz_ossz.employee_register",
        "x-audit-class": "EVT-J160-OSSZ-EMPLOYEE-REGISTERED-008-{name}"
      }
    },
    "/cz-zp/{zp_class}/employee-registration": {
      "post": {
        "operationId": "zpEmployeeRegister",
        "summary": "Czech health insurance employee registration",
        "parameters": [
          {"name": "zp_class", "in": "path", "required": true, "schema": {"type": "string", "enum": ["vzp", "ozp", "zpmv", "vozp", "rbp", "zp-ma", "cpzp"]}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ZpRegistrationRequest"}}}
        },
        "responses": {
          "200": {"description": "registered"}
        },
        "x-cedar-action": "cz_zdravotni_pojistovna.employee_register",
        "x-audit-class": "EVT-J160-ZP-REGISTERED-008-{name}"
      }
    },
    "/cz-fu/employee-tax-registration": {
      "post": {
        "operationId": "fuTaxRegister",
        "summary": "Czech Finanční úřad tax registration",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FuTaxRegistrationRequest"}}}
        },
        "responses": {
          "200": {"description": "tax record created"}
        },
        "x-cedar-action": "cz_financni_urad.employee_tax_register",
        "x-audit-class": "EVT-J160-FU-TAX-REGISTERED-008-{name}"
      }
    },
    "/lms/courses/{course_id}/enrollment": {
      "post": {
        "operationId": "enrollTraining",
        "summary": "Enroll crew in training course",
        "parameters": [
          {"name": "course_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TrainingEnrollmentRequest"}}}
        },
        "responses": {
          "200": {"description": "enrolled"}
        },
        "x-cedar-action": "learning_management.course_enroll"
      }
    },
    "/identity/biometric-badge/enroll-to-client-access-system": {
      "post": {
        "operationId": "biometricBadgeEnroll",
        "summary": "Cross-tenant biometric badge enrollment to client access system",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BiometricBadgeEnrollRequest"}}}
        },
        "responses": {
          "200": {"description": "enrolled; auto-revoke set"},
          "403": {"description": "Cedar deny (FORBID-4 training prereq / FORBID-11 scope drift)"}
        },
        "x-cedar-action": "identity.biometric_badge_enroll_to_client_access_system",
        "x-audit-class": "EVT-J160-BIOMETRIC-BADGE-ENROLLED-009-{name}",
        "x-dual-seal": true
      }
    },
    "/identity/biometric/gate-scan": {
      "post": {
        "operationId": "biometricGateScan",
        "summary": "First-shift gate scan",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BiometricGateScanRequest"}}}
        },
        "responses": {
          "200": {"description": "scan result"}
        },
        "x-cedar-action": "identity.biometric_gate_scan"
      }
    },
    "/workflows/bid-and-onboard/{instance_id}/transition": {
      "post": {
        "operationId": "transitionBidAndOnboardWorkflow",
        "summary": "Advance bid-and-onboard state machine",
        "parameters": [
          {"name": "instance_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowTransitionRequest"}}}
        },
        "responses": {
          "200": {"description": "transition accepted"},
          "409": {"description": "invalid transition"}
        },
        "x-cedar-action": "workflow.bid_onboard_transition",
        "x-state-machine": "bid-and-onboard-state-machine.yaml",
        "x-dual-seal": true
      }
    },
    "/community/groups/{group_id}/post": {
      "post": {
        "operationId": "postCommunityMessage",
        "summary": "Post into Czech cleaning-industry community (MLS-encrypted)",
        "parameters": [
          {"name": "group_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommunityPostRequest"}}}
        },
        "responses": {
          "200": {"description": "posted"}
        },
        "x-cedar-action": "community.post",
        "x-audit-class": "EVT-J160-COMMUNITY-PARTICIPATION-CSAR"
      }
    }
  },
  "components": {
    "schemas": {
      "BidRequest": {
        "type": "object",
        "required": ["bid_id", "issuing_tenant", "service_class", "site_area_m2_breakdown", "contract_window", "bid_deadline"],
        "properties": {
          "bid_id": {"type": "string"},
          "issuing_tenant": {"type": "string"},
          "title_cs": {"type": "string", "description": "Czech UTF-8 NFC"},
          "title_en": {"type": "string"},
          "service_class": {"type": "string", "enum": ["facilities_cleaning_industrial", "facilities_cleaning_office", "facilities_cleaning_food_hygiene"]},
          "site_area_m2_breakdown": {
            "type": "object",
            "properties": {
              "production": {"type": "integer"},
              "warehouse": {"type": "integer"},
              "admin": {"type": "integer"},
              "common": {"type": "integer"}
            }
          },
          "contract_window": {
            "type": "object",
            "properties": {
              "start": {"type": "string", "format": "date"},
              "end": {"type": "string", "format": "date"},
              "months": {"type": "integer"}
            }
          },
          "max_annual_excl_vat_czk": {"type": "integer"},
          "csn_en_13549_min_grade": {"type": "integer", "minimum": 1, "maximum": 5},
          "iso_9001_required": {"type": "boolean"},
          "bid_deadline": {"type": "string", "format": "date-time"}
        }
      },
      "BidSubmitRequest": {
        "type": "object",
        "required": ["principal", "tenant_ctx", "bid_id", "bid_total_excl_vat_czk", "line_items_ref", "attachments", "ares_business_register_verified", "cz_vat_id", "submitted_at"],
        "properties": {
          "principal": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "bid_id": {"type": "string"},
          "bid_total_excl_vat_czk": {"type": "integer"},
          "bid_total_with_vat_czk": {"type": "integer"},
          "vat_rate_pct": {"type": "number"},
          "bid_window_months": {"type": "integer"},
          "line_items_ref": {"type": "string"},
          "attachments": {"type": "array", "items": {"type": "string"}, "minItems": 1},
          "narrative_cover_letter_b64": {"type": "string", "format": "byte"},
          "ares_business_register_verified": {"type": "boolean", "enum": [true]},
          "cz_vat_id": {"type": "string", "pattern": "^CZ[0-9]{8,10}$"},
          "submitted_at": {"type": "string", "format": "date-time"}
        }
      },
      "BidEvaluationRequest": {
        "type": "object",
        "required": ["bid_id", "evaluating_principal", "evaluated_at", "criteria_scores"],
        "properties": {
          "bid_id": {"type": "string"},
          "evaluating_principal": {"type": "string"},
          "evaluated_at": {"type": "string", "format": "date-time"},
          "criteria_scores": {
            "type": "object",
            "properties": {
              "price_pct": {"type": "number"},
              "technical_protocol_pct": {"type": "number"},
              "csn_en_13549_fitness_pct": {"type": "number"},
              "references_pct": {"type": "number"},
              "esg_pct": {"type": "number"}
            }
          }
        }
      },
      "AwardNotificationRequest": {
        "type": "object",
        "required": ["bid_id", "award_decision", "awarding_tenant", "awarded_tenant", "decided_at"],
        "properties": {
          "bid_id": {"type": "string"},
          "award_decision": {"type": "string", "enum": ["accepted", "rejected"]},
          "awarding_tenant": {"type": "string"},
          "awarded_tenant": {"type": "string"},
          "decided_at": {"type": "string", "format": "date-time"}
        }
      },
      "ContractDraftRevisionRequest": {
        "type": "object",
        "required": ["principal", "contract_id", "revision_number", "draft_content_b64"],
        "properties": {
          "principal": {"type": "string"},
          "contract_id": {"type": "string"},
          "revision_number": {"type": "integer"},
          "draft_content_b64": {"type": "string", "format": "byte"},
          "change_summary_cs": {"type": "string"}
        }
      },
      "QesSignDualTenantRequest": {
        "type": "object",
        "required": ["contract_id", "signatories", "truetime_uncertainty_ms"],
        "properties": {
          "contract_id": {"type": "string"},
          "signatories": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2,
            "items": {
              "type": "object",
              "properties": {
                "principal": {"type": "string"},
                "qes_provider": {"type": "string", "enum": ["I.CA", "SecuSign", "PostSignum"]},
                "qes_certificate_serial": {"type": "string"},
                "signed_at": {"type": "string", "format": "date-time"},
                "eidas_qualified": {"type": "boolean", "enum": [true]}
              }
            }
          },
          "truetime_uncertainty_ms": {"type": "integer", "maximum": 10},
          "contract_value_excl_vat_czk": {"type": "integer"},
          "contract_months": {"type": "integer"}
        }
      },
      "DatovaSchrankaNotificationRequest": {
        "type": "object",
        "required": ["ic_owner", "ic_counterparty", "notification_class", "contract_hash_sha256", "notified_at"],
        "properties": {
          "ic_owner": {"type": "string", "pattern": "^[0-9]{8}$"},
          "ic_counterparty": {"type": "string", "pattern": "^[0-9]{8}$"},
          "notification_class": {"type": "string", "enum": ["contract_execution_metadata", "invoice_metadata", "tax_filing_metadata"]},
          "contract_hash_sha256": {"type": "string", "pattern": "^[a-f0-9]{64}$"},
          "contract_value_czk": {"type": "integer"},
          "notified_at": {"type": "string", "format": "date-time"}
        }
      },
      "OsszRegistrationRequest": {
        "type": "object",
        "required": ["employer_ic", "employee"],
        "properties": {
          "employer_ic": {"type": "string"},
          "employee": {
            "type": "object",
            "properties": {
              "legal_name_strict_form_nfc": {"type": "string"},
              "birth_date": {"type": "string", "format": "date"},
              "rodne_cislo": {"type": "string", "pattern": "^[0-9]{6}/[0-9]{3,4}$"},
              "residence_address_cz": {"type": "string"},
              "permanent_residence_status": {"type": "string", "enum": ["permanent_resident", "temporary_resident", "eu_citizen", "temporary_protection"]},
              "contract_class": {"type": "string"},
              "start_date": {"type": "string", "format": "date"}
            }
          }
        }
      },
      "ZpRegistrationRequest": {
        "type": "object",
        "required": ["employer_ic", "employee_legal_name_strict_form_nfc", "rodne_cislo", "zp_class", "start_date"],
        "properties": {
          "employer_ic": {"type": "string"},
          "employee_legal_name_strict_form_nfc": {"type": "string"},
          "rodne_cislo": {"type": "string"},
          "zp_class": {"type": "string", "enum": ["vzp", "ozp", "zpmv", "vozp", "rbp", "zp-ma", "cpzp"]},
          "start_date": {"type": "string", "format": "date"}
        }
      },
      "FuTaxRegistrationRequest": {
        "type": "object",
        "required": ["employer_ic", "employee_legal_name_strict_form_nfc", "rodne_cislo", "start_date"],
        "properties": {
          "employer_ic": {"type": "string"},
          "employee_legal_name_strict_form_nfc": {"type": "string"},
          "rodne_cislo": {"type": "string"},
          "tax_office_local_id": {"type": "string"},
          "start_date": {"type": "string", "format": "date"}
        }
      },
      "TrainingEnrollmentRequest": {
        "type": "object",
        "required": ["course_id", "enrolled_principals", "delivery_window_start", "delivery_window_end", "delivery_hours"],
        "properties": {
          "course_id": {"type": "string"},
          "enrolled_principals": {"type": "array", "items": {"type": "string"}, "minItems": 1},
          "delivery_window_start": {"type": "string", "format": "date-time"},
          "delivery_window_end": {"type": "string", "format": "date-time"},
          "delivery_hours": {"type": "integer"},
          "assessment_required": {"type": "boolean"},
          "instructor": {"type": "string"}
        }
      },
      "BiometricBadgeEnrollRequest": {
        "type": "object",
        "required": ["principal", "principal_tenant", "target_client_tenant", "target_client_access_system", "contract_id", "biometric_template_hash_sha256", "biometric_class", "enrolled_at", "auto_revoke_on_contract_end", "scope_site_ids"],
        "properties": {
          "principal": {"type": "string"},
          "principal_tenant": {"type": "string"},
          "target_client_tenant": {"type": "string"},
          "target_client_access_system": {"type": "string"},
          "contract_id": {"type": "string"},
          "biometric_template_hash_sha256": {"type": "string", "pattern": "^[a-f0-9]{64}$"},
          "biometric_class": {"type": "string", "enum": ["fingerprint_minutiae_iso_19794_2", "face_template_iso_19794_5", "palm_vein_iso_19794_8"]},
          "enrolled_at": {"type": "string", "format": "date-time"},
          "auto_revoke_on_contract_end": {"type": "boolean", "enum": [true]},
          "scope_site_ids": {"type": "array", "items": {"type": "string"}, "minItems": 1}
        }
      },
      "BiometricGateScanRequest": {
        "type": "object",
        "required": ["principal_subject_id", "target_client_access_system", "scanned_at"],
        "properties": {
          "principal_subject_id": {"type": "string"},
          "target_client_access_system": {"type": "string"},
          "scanned_at": {"type": "string", "format": "date-time"},
          "match_result": {"type": "boolean"},
          "scan_evidence_id": {"type": "string"}
        }
      },
      "WorkflowTransitionRequest": {
        "type": "object",
        "required": ["instance_id", "from_state", "to_state", "transitioned_at"],
        "properties": {
          "instance_id": {"type": "string"},
          "from_state": {"type": "string", "enum": ["bid_prep", "bid_submitted", "bid_evaluated", "award_received", "contract_in_negotiation", "contract_signed", "crew_hiring", "crew_onboarding", "contract_live"]},
          "to_state": {"type": "string", "enum": ["bid_prep", "bid_submitted", "bid_evaluated", "award_received", "contract_in_negotiation", "contract_signed", "crew_hiring", "crew_onboarding", "contract_live"]},
          "transitioned_at": {"type": "string", "format": "date-time"},
          "evidence_links": {"type": "array", "items": {"type": "string"}}
        }
      },
      "CommunityPostRequest": {
        "type": "object",
        "required": ["principal", "community_tenant", "group_id", "post_body_ciphertext_b64", "posted_at"],
        "properties": {
          "principal": {"type": "string"},
          "principal_tenant_origin": {"type": "string"},
          "community_tenant": {"type": "string", "enum": ["cz-cleaning-industry-owner-operators-community"]},
          "group_id": {"type": "string"},
          "post_type": {"type": "string", "enum": ["question", "reply", "announcement", "poll"]},
          "post_body_ciphertext_b64": {"type": "string", "format": "byte"},
          "mls_epoch_at_post": {"type": "integer"},
          "posted_at": {"type": "string", "format": "date-time"},
          "tags": {"type": "array", "items": {"type": "string"}}
        }
      }
    }
  }
}
