{
  "openapi": "3.1.0",
  "info": {
    "title": "j162 night-shift solo onboarding + lone-worker dead-man API",
    "version": "1.0.0",
    "description": "Competency-gated authority unlock + workplace-integration provisioning + lone-worker dead-man protocol + cross-tenant Securitas alarm-cooperative + night-shift premium payroll. Cross-journey persona continuity from j157. Romanian + Hungarian + UTF-8 NFC diacritic-strict mode."
  },
  "servers": [
    {"url": "https://api.oya.cloud/v1", "description": "production"},
    {"url": "https://api.dev.oya.cloud/v1", "description": "dev"}
  ],
  "paths": {
    "/lms/competencies/{persona_uuid}/cert-chain": {
      "get": {
        "operationId": "readCertChain",
        "summary": "Cross-journey cert chain read for prerequisite verification (from j157 → j162)",
        "parameters": [
          {"name": "persona_uuid", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}
        ],
        "responses": {
          "200": {"description": "cert chain returned"},
          "403": {"description": "Cedar deny FORBID-8 (identity mismatch)"}
        },
        "x-cedar-action": "learning_management.competency_link_read",
        "x-cross-journey-source": "j157"
      }
    },
    "/lms/assessments/sessions": {
      "post": {
        "operationId": "createAssessmentSession",
        "summary": "Create night-shift competency assessment session",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssessmentSessionCreate"}}}
        },
        "responses": {
          "200": {"description": "session created"}
        },
        "x-cedar-action": "learning_management.assessment_session_create"
      }
    },
    "/lms/assessments/sessions/{session_id}/score": {
      "post": {
        "operationId": "scoreAssessmentScenario",
        "summary": "Record per-scenario score",
        "parameters": [
          {"name": "session_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssessmentScenarioScore"}}}
        },
        "responses": {
          "200": {"description": "scenario recorded"}
        }
      }
    },
    "/lms/assessments/sessions/{session_id}/complete": {
      "post": {
        "operationId": "completeAssessmentSession",
        "summary": "Complete assessment + sign-offs",
        "parameters": [
          {"name": "session_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AssessmentSessionComplete"}}}
        },
        "responses": {
          "200": {"description": "assessment complete"}
        },
        "x-audit-class": "EVT-J162-COMPETENCY-ASSESSED-001"
      }
    },
    "/lms/competencies/unlock": {
      "post": {
        "operationId": "unlockCompetency",
        "summary": "Cedar-gated competency unlock",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CompetencyUnlockRequest"}}}
        },
        "responses": {
          "200": {"description": "competency unlocked"},
          "403": {"description": "Cedar deny (e.g. FORBID-12 TrueTime breach)"}
        },
        "x-cedar-action": "learning_management.competency_unlock_night_shift_solo",
        "x-audit-class": "EVT-J162-COMPETENCY-UNLOCKED-002"
      }
    },
    "/workplace-integration/shift-schedule": {
      "post": {
        "operationId": "createShiftSchedule",
        "summary": "Add shift schedule entry",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkplaceIntegrationProvisionRequest"}}}
        },
        "responses": {
          "200": {"description": "schedule entry created"}
        },
        "x-cedar-action": "workplace_integration.shift_schedule_create",
        "x-audit-class": "EVT-J162-WORKPLACE-INTEGRATION-PROVISIONED-003"
      }
    },
    "/workplace-integration/badges/{badge_id}/role-update": {
      "post": {
        "operationId": "updateBadgeRole",
        "summary": "Update RFID badge role",
        "parameters": [
          {"name": "badge_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "badge updated"}
        },
        "x-cedar-action": "workplace_integration.badge_role_update"
      }
    },
    "/workplace-integration/payroll/differential-enable": {
      "post": {
        "operationId": "enablePayrollDifferential",
        "summary": "Enable night-shift +25% differential per RO §126",
        "responses": {
          "200": {"description": "differential enabled"}
        },
        "x-cedar-action": "workplace_integration.payroll_differential_enable"
      }
    },
    "/securitas/cooperative/roster/add-night-dearmer": {
      "post": {
        "operationId": "addNightDearmer",
        "summary": "Cross-tenant Securitas cooperative roster add",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SecuritasCooperativeRosterAdd"}}}
        },
        "responses": {
          "200": {"description": "added"}
        },
        "x-cedar-action": "securitas_alarm_cooperative.roster_add_night_dearmer",
        "x-dual-seal": true
      }
    },
    "/securitas/cooperative/alarm/dearm": {
      "post": {
        "operationId": "dearmAlarmZone",
        "summary": "Alarm de-arm with biometric + Cedar context",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SecuritasAlarmDearmRequest"}}}
        },
        "responses": {
          "200": {"description": "de-armed"},
          "403": {"description": "Cedar deny FORBID-2 (alarm-competency-missing)"}
        },
        "x-cedar-action": "securitas.alarm_cooperative_dearm",
        "x-audit-class": "EVT-J162-ALARM-DEARMED-006",
        "x-dual-seal": true
      }
    },
    "/identity/biometric/reconfigure": {
      "post": {
        "operationId": "reconfigureBiometric",
        "summary": "Biometric low-light reconfigure for night shift",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BiometricLowLightReconfigureRequest"}}}
        },
        "responses": {
          "200": {"description": "biometric reconfigured"}
        },
        "x-cedar-action": "identity.biometric_reconfigure"
      }
    },
    "/identity/lone-worker/dead-man-enroll": {
      "post": {
        "operationId": "enrollDeadMan",
        "summary": "Enroll lone-worker dead-man protocol",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoneWorkerDeadManEnrollRequest"}}}
        },
        "responses": {
          "200": {"description": "enrolled"},
          "403": {"description": "Cedar deny FORBID-4 (personal consent missing)"}
        },
        "x-cedar-action": "identity.lone_worker.dead_man_enroll",
        "x-audit-class": "EVT-J162-DEAD-MAN-ENROLLED-004",
        "x-dual-seal": true
      }
    },
    "/identity/lone-worker/dead-man-checkin": {
      "post": {
        "operationId": "deadManCheckin",
        "summary": "Dead-man check-in within 60s window",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeadManCheckinRequest"}}}
        },
        "responses": {
          "200": {"description": "checked in"},
          "403": {"description": "Cedar deny FORBID-3 (60s window missed)"}
        },
        "x-cedar-action": "identity.lone_worker.dead_man_checkin",
        "x-audit-class": "EVT-J162-DEAD-MAN-CHECKIN-006b"
      }
    },
    "/tenancy/personal-tenant-cross-tenant-consent": {
      "post": {
        "operationId": "personalTenantCrossTenantConsent",
        "summary": "Personal tenant gives cross-tenant consent for dead-man escalation",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PersonalTenantCrossTenantConsentRequest"}}}
        },
        "responses": {
          "200": {"description": "consent captured"}
        },
        "x-cedar-action": "tenancy.personal_tenant_cross_tenant_consent"
      }
    },
    "/workplace-integration/shifts/{shift_id}/clock-in": {
      "post": {
        "operationId": "clockInShift",
        "summary": "Shift clock-in via geofence + biometric",
        "parameters": [
          {"name": "shift_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShiftClockInRequest"}}}
        },
        "responses": {
          "200": {"description": "clocked in"},
          "403": {"description": "Cedar deny FORBID-7 (geofence breach)"}
        },
        "x-cedar-action": "workplace_integration.shift_clock_in",
        "x-audit-class": "EVT-J162-SHIFT-CLOCK-IN-006a"
      }
    },
    "/shifts/handoff": {
      "post": {
        "operationId": "shiftHandoff",
        "summary": "Shift handoff to next operator",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ShiftHandoffRequest"}}}
        },
        "responses": {
          "200": {"description": "handed off"},
          "403": {"description": "Cedar deny FORBID-9 (handoff schedule mismatch)"}
        },
        "x-cedar-action": "workflow.shift_handoff",
        "x-audit-class": "EVT-J162-SHIFT-HANDOFF-008"
      }
    },
    "/payments/payroll/night-shift-differential-record": {
      "post": {
        "operationId": "recordNightShiftDifferential",
        "summary": "Apply night-shift differential payroll",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NightShiftDifferentialRecord"}}}
        },
        "responses": {
          "200": {"description": "differential applied"},
          "403": {"description": "Cedar deny FORBID-10 (differential class mismatch)"}
        },
        "x-cedar-action": "payments.night_shift_differential_apply",
        "x-audit-class": "EVT-J162-NIGHT-PREMIUM-PAID-009"
      }
    },
    "/ro-anaf/payroll-night-premium-report": {
      "post": {
        "operationId": "reportToAnaf",
        "summary": "Report night-shift premium to RO-ANAF state",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AnafPayrollNightPremiumReport"}}}
        },
        "responses": {
          "200": {"description": "reported"}
        },
        "x-cedar-action": "ro_anaf.payroll_night_premium_report",
        "x-dual-seal": true
      }
    }
  },
  "components": {
    "schemas": {
      "AssessmentSessionCreate": {
        "type": "object",
        "required": ["candidate_principal", "proctor_principal", "observer_principal", "competency_class", "scenarios_count", "started_at"],
        "properties": {
          "candidate_principal": {"type": "string"},
          "proctor_principal": {"type": "string"},
          "observer_principal": {"type": "string"},
          "competency_class": {"type": "string", "enum": ["night-shift-solo-authorization-2027", "day-shift-fogra-pso-l2-2024", "weekend-solo-relief-2027"]},
          "scenarios_count": {"type": "integer", "minimum": 8, "maximum": 24},
          "pass_threshold_per_scenario_pct": {"type": "integer", "default": 85},
          "qualitative_signoff_required_from": {"type": "array", "items": {"type": "string"}},
          "started_at": {"type": "string", "format": "date-time"}
        }
      },
      "AssessmentScenarioScore": {
        "type": "object",
        "required": ["session_id", "scenario_index", "scenario_name", "score_pct"],
        "properties": {
          "session_id": {"type": "string"},
          "scenario_index": {"type": "integer"},
          "scenario_name": {"type": "string"},
          "score_pct": {"type": "integer", "minimum": 0, "maximum": 100},
          "evidence_links": {"type": "array", "items": {"type": "string"}}
        }
      },
      "AssessmentSessionComplete": {
        "type": "object",
        "required": ["session_id", "all_scenarios_passed_85_plus", "proctor_signoff_principal", "proctor_signoff_at", "hse_observer_signoff_principal", "hse_observer_signoff_at"],
        "properties": {
          "session_id": {"type": "string"},
          "all_scenarios_passed_85_plus": {"type": "boolean"},
          "scenarios_per_score": {"type": "array", "items": {"type": "object"}},
          "proctor_signoff_principal": {"type": "string"},
          "proctor_signoff_at": {"type": "string", "format": "date-time"},
          "hse_observer_signoff_principal": {"type": "string"},
          "hse_observer_signoff_at": {"type": "string", "format": "date-time"},
          "qualitative_remarks_ro": {"type": "string"}
        }
      },
      "CompetencyUnlockRequest": {
        "type": "object",
        "required": ["principal", "competency_id", "valid_from", "valid_through", "unlocked_via_session"],
        "properties": {
          "principal": {"type": "string"},
          "competency_id": {"type": "string"},
          "valid_from": {"type": "string", "format": "date-time"},
          "valid_through": {"type": "string", "format": "date-time"},
          "unlocked_via_session": {"type": "string"},
          "prereq_competencies_verified": {"type": "array", "items": {"type": "string"}},
          "cross_journey_continuity_ref": {"type": "string"}
        }
      },
      "WorkplaceIntegrationProvisionRequest": {
        "type": "object",
        "required": ["principal", "shift_class", "shift_schedule_start", "shift_schedule_end", "geofence_id"],
        "properties": {
          "principal": {"type": "string"},
          "shift_class": {"type": "string", "enum": ["night_shift_solo", "day_shift_solo", "weekend_solo"]},
          "shift_schedule_start": {"type": "string", "format": "date-time"},
          "shift_schedule_end": {"type": "string", "format": "date-time"},
          "geofence_id": {"type": "string"},
          "badge_id": {"type": "string"},
          "badge_added_roles": {"type": "array", "items": {"type": "string"}},
          "badge_added_scopes": {"type": "array", "items": {"type": "string"}},
          "payroll_differential_enabled": {"type": "boolean"},
          "base_rate_ron_per_hour": {"type": "number"},
          "night_rate_ron_per_hour": {"type": "number"},
          "differential_pct": {"type": "integer", "default": 25}
        }
      },
      "SecuritasCooperativeRosterAdd": {
        "type": "object",
        "required": ["cooperative_business_ic", "added_principal_subject_id", "added_principal_biometric_template_hash", "alarm_zones_in_scope", "auto_revoke_on_competency_expiry"],
        "properties": {
          "cooperative_business_ic": {"type": "string"},
          "added_principal_subject_id": {"type": "string"},
          "added_principal_biometric_template_hash": {"type": "string", "pattern": "^[a-f0-9]{64}$"},
          "alarm_zones_in_scope": {"type": "array", "items": {"type": "string"}},
          "auto_revoke_on_competency_expiry": {"type": "boolean", "enum": [true]}
        }
      },
      "SecuritasAlarmDearmRequest": {
        "type": "object",
        "required": ["principal", "alarm_zone", "biometric_method", "biometric_match_score", "context", "dearmed_at"],
        "properties": {
          "principal": {"type": "string"},
          "alarm_zone": {"type": "string"},
          "biometric_method": {"type": "string", "enum": ["face_id_low_light", "fingerprint", "iris"]},
          "biometric_match_score": {"type": "number", "minimum": 0.0, "maximum": 1.0},
          "context": {
            "type": "object",
            "properties": {
              "shift_scheduled_for_now": {"type": "boolean"},
              "competency_unexpired": {"type": "boolean"},
              "workplace_integration_provisioned": {"type": "string"}
            }
          },
          "dearmed_at": {"type": "string", "format": "date-time"}
        }
      },
      "BiometricLowLightReconfigureRequest": {
        "type": "object",
        "required": ["principal", "mode", "fallback_method", "captured_at"],
        "properties": {
          "principal": {"type": "string"},
          "mode": {"type": "string", "enum": ["low_light_4_captures", "standard_2_captures"]},
          "fallback_method": {"type": "string", "enum": ["pin_6_digit", "pin_8_digit"]},
          "captured_at": {"type": "string", "format": "date-time"}
        }
      },
      "LoneWorkerDeadManEnrollRequest": {
        "type": "object",
        "required": ["principal", "checkin_interval_hours", "checkin_response_window_seconds", "checkin_method", "escalation_chain", "personal_tenant_consent_capture_required", "enrolled_at"],
        "properties": {
          "principal": {"type": "string"},
          "checkin_interval_hours": {"type": "integer", "minimum": 1, "maximum": 8},
          "checkin_response_window_seconds": {"type": "integer", "minimum": 30, "maximum": 120},
          "checkin_method": {"type": "string"},
          "escalation_chain": {"type": "array", "items": {"type": "object"}, "minItems": 1, "maxItems": 5},
          "personal_tenant_consent_capture_required": {"type": "boolean", "enum": [true]},
          "family_emergency_route": {"type": "array", "items": {"type": "object"}},
          "enrolled_at": {"type": "string", "format": "date-time"}
        }
      },
      "PersonalTenantCrossTenantConsentRequest": {
        "type": "object",
        "required": ["consenting_tenant", "consenting_principal", "consent_class", "source_tenant", "source_principal_subject_id", "consent_scope", "gdpr_consent_basis", "consented_at"],
        "properties": {
          "consenting_tenant": {"type": "string"},
          "consenting_principal": {"type": "string"},
          "consent_class": {"type": "string", "enum": ["dead_man_escalation_contact", "family_emergency_contact", "next_of_kin_contact"]},
          "source_tenant": {"type": "string"},
          "source_principal_subject_id": {"type": "string"},
          "consent_scope": {"type": "string"},
          "gdpr_consent_basis": {"type": "string", "enum": ["explicit_personal_tenant_principal_consent", "implicit_family_relationship"]},
          "consented_at": {"type": "string", "format": "date-time"}
        }
      },
      "DeadManCheckinRequest": {
        "type": "object",
        "required": ["principal", "shift_id", "checkin_at", "biometric_method", "biometric_match_score"],
        "properties": {
          "principal": {"type": "string"},
          "shift_id": {"type": "string"},
          "checkin_at": {"type": "string", "format": "date-time"},
          "response_window_seconds_remaining": {"type": "integer"},
          "biometric_method": {"type": "string"},
          "biometric_match_score": {"type": "number"}
        }
      },
      "ShiftClockInRequest": {
        "type": "object",
        "required": ["shift_id", "principal", "geofence_id", "geofence_match", "biometric_method", "biometric_match_score", "clock_in_at"],
        "properties": {
          "shift_id": {"type": "string"},
          "principal": {"type": "string"},
          "geofence_id": {"type": "string"},
          "geofence_match": {"type": "boolean"},
          "biometric_method": {"type": "string"},
          "biometric_match_score": {"type": "number"},
          "clock_in_at": {"type": "string", "format": "date-time"}
        }
      },
      "ShiftHandoffRequest": {
        "type": "object",
        "required": ["from_principal", "to_principal", "shift_outgoing", "shift_incoming", "handoff_at"],
        "properties": {
          "from_principal": {"type": "string"},
          "to_principal": {"type": "string"},
          "shift_outgoing": {"type": "string"},
          "shift_incoming": {"type": "string"},
          "handoff_at": {"type": "string", "format": "date-time"},
          "active_jobs": {"type": "array", "items": {"type": "string"}},
          "events_during_shift": {"type": "array", "items": {"type": "string"}},
          "good_sheets": {"type": "integer"},
          "voided_sheets": {"type": "integer"},
          "incoming_passkey_assertion_b64": {"type": "string", "format": "byte"},
          "incoming_face_id_assertion_b64": {"type": "string", "format": "byte"}
        }
      },
      "NightShiftDifferentialRecord": {
        "type": "object",
        "required": ["principal", "pay_period", "night_shift_hours", "base_rate_ron", "differential_pct", "night_rate_ron", "differential_amount_ron", "ro_codul_muncii_article_ref"],
        "properties": {
          "principal": {"type": "string"},
          "pay_period": {"type": "string"},
          "night_shift_hours": {"type": "number"},
          "base_rate_ron": {"type": "number"},
          "differential_pct": {"type": "integer", "const": 25},
          "night_rate_ron": {"type": "number"},
          "differential_amount_ron": {"type": "number"},
          "gross_for_night_shift_ron": {"type": "number"},
          "ro_codul_muncii_article_ref": {"type": "string", "const": "126"},
          "ro_anaf_reporting_class": {"type": "string"}
        }
      },
      "AnafPayrollNightPremiumReport": {
        "type": "object",
        "required": ["employer_ic", "employee_legal_name_strict_form_nfc", "premium_amount_ron", "pay_period", "reported_at"],
        "properties": {
          "employer_ic": {"type": "string"},
          "employee_legal_name_strict_form_nfc": {"type": "string"},
          "premium_amount_ron": {"type": "number"},
          "pay_period": {"type": "string"},
          "reported_at": {"type": "string", "format": "date-time"}
        }
      }
    }
  }
}
