{
  "openapi": "3.1.0",
  "info": {
    "title": "j156 incident + permit-to-work + LOTO API",
    "version": "1.0.0",
    "description": "Cross-tenant incident response API for Cascade FM (vendor) → MeridianStack (host). Permit-to-work workflow, LOTO state machine, tasks materialization, EPA-608 disclosure, audit dual-seal. All endpoints Cedar-gated under cross-tenant principal grant `cross-grant-cascade-meridianstack-2026-10-17-carlos-0247`."
  },
  "servers": [
    {"url": "https://api.oya.cloud/v1", "description": "production"},
    {"url": "https://api.dev.oya.cloud/v1", "description": "dev"}
  ],
  "paths": {
    "/incidents/{incident_id}/acknowledge": {
      "post": {
        "operationId": "acknowledgeIncident",
        "parameters": [
          {"name": "incident_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AckRequest"}}}
        },
        "responses": {
          "200": {"description": "ack accepted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AckResponse"}}}},
          "403": {"description": "Cedar deny + dual-seal"}
        },
        "x-cedar-action": "incident.acknowledge",
        "x-audit-class": "EVT-J156-INCIDENT-ACK-001",
        "x-dual-seal": true,
        "x-adr-refs": ["ADR-0244", "ADR-0263", "ADR-0311"]
      }
    },
    "/tenants/{host_tenant}/identity/cross-tenant-grants": {
      "post": {
        "operationId": "issueCrossTenantGrant",
        "parameters": [
          {"name": "host_tenant", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CrossGrantIssueRequest"}}}
        },
        "responses": {
          "201": {"description": "grant issued"},
          "403": {"description": "Cedar deny — vendor contract inactive"}
        },
        "x-cedar-action": "identity.cross_tenant_grant_issue",
        "x-audit-class": "EVT-J156-IDENTITY-CROSS-GRANT-002",
        "x-dual-seal": true
      }
    },
    "/workflows/permit-to-work/instances": {
      "post": {
        "operationId": "createPermit",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PermitCreateRequest"}}}
        },
        "responses": {
          "201": {"description": "permit created (awaiting co-sign)"}
        },
        "x-cedar-action": "workflow.permit_create",
        "x-audit-class": "EVT-J156-WORKFLOW-PERMIT-CREATED-003"
      }
    },
    "/workflows/permits/{permit_id}/sign": {
      "post": {
        "operationId": "signPermit",
        "parameters": [
          {"name": "permit_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PermitSignRequest"}}}
        },
        "responses": {
          "200": {"description": "co-sign accepted"}
        },
        "x-cedar-action": "workflow.permit_sign",
        "x-audit-class": "EVT-J156-WORKFLOW-PERMIT-COSIGN-003",
        "x-dual-seal": true
      }
    },
    "/workflows/permits/{permit_id}/loto/transition": {
      "post": {
        "operationId": "lotoTransition",
        "parameters": [
          {"name": "permit_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LotoTransitionRequest"}}}
        },
        "responses": {
          "200": {"description": "transition accepted"},
          "409": {"description": "invalid transition"}
        },
        "x-cedar-action": "workflow.loto_transition",
        "x-audit-class": "EVT-J156-LOTO-TRANSITION",
        "x-dual-seal": true,
        "x-state-machine": "loto-state-machine.yaml"
      }
    },
    "/tasks/bulk-materialize": {
      "post": {
        "operationId": "bulkMaterializeTasks",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TasksMaterializeRequest"}}}
        },
        "responses": {"201": {"description": "tasks created"}},
        "x-cedar-action": "tasks.materialize",
        "x-audit-class": "EVT-J156-TASKS-MATERIALIZED-005"
      }
    },
    "/tasks/{task_id}/complete": {
      "post": {
        "operationId": "completeTask",
        "parameters": [
          {"name": "task_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TaskCompleteRequest"}}}
        },
        "responses": {"200": {"description": "task completed"}},
        "x-cedar-action": "tasks.complete",
        "x-audit-class": "EVT-J156-TASKS-COMPLETED-005",
        "x-dual-seal": true
      }
    },
    "/workflows/epa608-release-disclosure/instances": {
      "post": {
        "operationId": "openEpaDisclosure",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EpaDisclosureCreateRequest"}}}
        },
        "responses": {"201": {"description": "disclosure draft created"}},
        "x-cedar-action": "workflow.epa608_disclose_release",
        "x-audit-class": "EVT-J156-EPA608-DISCLOSURE-006",
        "x-triple-seal": true
      }
    },
    "/compliance/regulator/epa/egrt/submit": {
      "post": {
        "operationId": "submitEpaEgrt",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EpaEgrtSubmitRequest"}}}
        },
        "responses": {
          "200": {"description": "E-GGRT receipt issued"}
        },
        "x-cedar-action": "compliance.regulator_submit",
        "x-audit-class": "EVT-J156-EPA-EGRT-SUBMITTED-006a",
        "x-regulator-anchor": "40-CFR-82-F"
      }
    }
  },
  "components": {
    "schemas": {
      "AckRequest": {
        "type": "object",
        "required": ["principal", "tenant_ctx", "acknowledged_at", "ack_method", "device_id"],
        "properties": {
          "principal": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "acknowledged_at": {"type": "string", "format": "date-time"},
          "ack_method": {"type": "string", "enum": ["passkey_latent_print_pixel_xcover7", "passkey_face_id", "passkey_pin"]},
          "device_id": {"type": "string"},
          "eta_to_site": {"type": "string", "format": "date-time"}
        }
      },
      "AckResponse": {
        "type": "object",
        "required": ["ack_id", "auto_shed_ttl_at_ack", "cross_tenant_grant_provisional", "manager_co_ack_required"],
        "properties": {
          "ack_id": {"type": "string"},
          "auto_shed_ttl_at_ack": {"type": "string", "format": "duration"},
          "cross_tenant_grant_provisional": {"type": "boolean"},
          "manager_co_ack_required": {"type": "boolean"}
        }
      },
      "CrossGrantIssueRequest": {
        "type": "object",
        "required": ["grantor_tenant", "grantee_principal", "scope", "valid_from", "valid_until", "reason_link", "vendor_contract_id"],
        "properties": {
          "grantor_tenant": {"type": "string"},
          "grantee_principal": {"type": "string"},
          "scope": {
            "type": "object",
            "required": ["facility", "zone", "equipment_ids", "actions"],
            "properties": {
              "facility": {"type": "string"},
              "zone": {"type": "string"},
              "equipment_ids": {"type": "array", "items": {"type": "string"}},
              "actions": {"type": "array", "items": {"type": "string"}}
            }
          },
          "valid_from": {"type": "string", "format": "date-time"},
          "valid_until": {"type": "string", "format": "date-time"},
          "reason_link": {"type": "string"},
          "vendor_contract_id": {"type": "string"}
        }
      },
      "PermitCreateRequest": {
        "type": "object",
        "required": ["workflow_template_id", "tenant_ctx", "host_tenant", "permit_scope", "valid_from", "valid_until", "co_signers"],
        "properties": {
          "workflow_template_id": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "host_tenant": {"type": "string"},
          "permit_scope": {
            "type": "object",
            "properties": {
              "facility": {"type": "string"},
              "zone": {"type": "string"},
              "equipment_ids": {"type": "array", "items": {"type": "string"}},
              "ppe_required": {"type": "array", "items": {"type": "string"}},
              "certifications_required": {"type": "array", "items": {"type": "string"}},
              "loto_required": {"type": "boolean"},
              "refrigerant_in_scope": {"type": "string"}
            }
          },
          "valid_from": {"type": "string", "format": "date-time"},
          "valid_until": {"type": "string", "format": "date-time"},
          "co_signers": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["role", "principal"],
              "properties": {
                "role": {"type": "string", "enum": ["cascade_manager", "host_noc_controller", "host_facility_manager"]},
                "principal": {"type": "string"}
              }
            }
          }
        }
      },
      "PermitSignRequest": {
        "type": "object",
        "required": ["principal", "permit_id", "role", "signed_at", "passkey_assertion_b64", "attestation"],
        "properties": {
          "principal": {"type": "string"},
          "permit_id": {"type": "string"},
          "role": {"type": "string"},
          "signed_at": {"type": "string", "format": "date-time"},
          "passkey_assertion_b64": {"type": "string", "format": "byte"},
          "attestation": {"type": "string", "minLength": 16, "maxLength": 1024}
        }
      },
      "LotoTransitionRequest": {
        "type": "object",
        "required": ["permit_id", "from_state", "to_state", "transitioned_at", "evidence"],
        "properties": {
          "permit_id": {"type": "string"},
          "from_state": {"type": "string", "enum": ["lockout_pending", "disconnect_open", "personal_lock_applied", "tested_voltage_absent", "locked_isolated_verified", "work_in_progress", "personal_lock_removed", "disconnect_closed", "energized_normal"]},
          "to_state": {"type": "string", "enum": ["lockout_pending", "disconnect_open", "personal_lock_applied", "tested_voltage_absent", "locked_isolated_verified", "work_in_progress", "personal_lock_removed", "disconnect_closed", "energized_normal"]},
          "transitioned_at": {"type": "string", "format": "date-time"},
          "evidence": {
            "type": "object",
            "properties": {
              "photo_id": {"type": "string"},
              "instrument_readings": {
                "type": "object",
                "properties": {
                  "instrument": {"type": "string"},
                  "phase_a": {"type": "string"},
                  "phase_b": {"type": "string"},
                  "phase_c": {"type": "string"}
                }
              },
              "joint_observer": {"type": "string"}
            }
          }
        }
      },
      "TasksMaterializeRequest": {
        "type": "object",
        "required": ["permit_id", "tenant_ctx", "host_tenant", "task_template_set", "task_ids"],
        "properties": {
          "permit_id": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "host_tenant": {"type": "string"},
          "task_template_set": {"type": "string"},
          "task_ids": {"type": "array", "items": {"type": "string"}, "minItems": 1}
        }
      },
      "TaskCompleteRequest": {
        "type": "object",
        "required": ["task_id", "completed_by", "completed_at", "evidence", "gps"],
        "properties": {
          "task_id": {"type": "string"},
          "completed_by": {"type": "string"},
          "completed_at": {"type": "string", "format": "date-time"},
          "evidence": {
            "type": "object",
            "properties": {
              "photos": {"type": "array", "items": {"type": "string"}},
              "parts_consumed": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "part_id": {"type": "string"},
                    "qty": {"type": "integer"},
                    "vendor": {"type": "string"}
                  }
                }
              },
              "torque_spec": {"type": "string"},
              "pressure_decay_psi": {"type": "number"}
            }
          },
          "gps": {
            "type": "object",
            "required": ["lat", "lon", "accuracy_m"],
            "properties": {
              "lat": {"type": "number"},
              "lon": {"type": "number"},
              "accuracy_m": {"type": "number"}
            }
          }
        }
      },
      "EpaDisclosureCreateRequest": {
        "type": "object",
        "required": ["workflow_template_id", "tenant_ctx", "host_tenant", "incident_link", "refrigerant", "release_estimate_lb", "cylinder_of_origin", "release_first_observed_at", "release_cause"],
        "properties": {
          "workflow_template_id": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "host_tenant": {"type": "string"},
          "incident_link": {"type": "string"},
          "refrigerant": {"type": "string", "example": "R-454B"},
          "release_estimate_lb": {"type": "number", "minimum": 0.0},
          "cylinder_of_origin": {"type": "string"},
          "release_first_observed_at": {"type": "string", "format": "date-time"},
          "release_cause": {"type": "string"}
        }
      },
      "EpaEgrtSubmitRequest": {
        "type": "object",
        "required": ["disclosure_workflow_id", "form_payload", "signatures"],
        "properties": {
          "disclosure_workflow_id": {"type": "string"},
          "form_payload": {"type": "string", "format": "byte"},
          "signatures": {
            "type": "array",
            "minItems": 3,
            "items": {
              "type": "object",
              "required": ["signer_role", "signer_principal", "passkey_assertion_b64"],
              "properties": {
                "signer_role": {"type": "string", "enum": ["technician_epa_608", "cascade_tenant_attestation", "meridianstack_site_attestation"]},
                "signer_principal": {"type": "string"},
                "passkey_assertion_b64": {"type": "string", "format": "byte"}
              }
            }
          }
        }
      }
    }
  }
}
