{
  "openapi": "3.1.0",
  "info": {
    "title": "j161 school-meal allergen recall API",
    "version": "1.0.0",
    "description": "Operator-authoritative food-service halt + recall workflow + per-family privacy-preserving parent broadcast + KR-MFDS regulator + KR-DEEM district + supplier escalation + hospital cross-tenant share. Hangul UTF-8 NFC strict mode. KR-FSA Article 44 + 86 + KR-SchoolMealsAct Article 17 + 19 + KR-PIPA-2020 Article 15 + 29."
  },
  "servers": [
    {"url": "https://api.oya.cloud/v1", "description": "production"},
    {"url": "https://api.dev.oya.cloud/v1", "description": "dev"}
  ],
  "paths": {
    "/quality/food-service/{line_id}/halt": {
      "post": {
        "operationId": "haltFoodService",
        "summary": "Operator-authoritative food service halt with Cedar certification gate",
        "parameters": [
          {"name": "line_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FoodServiceHaltRequest"}}}
        },
        "responses": {
          "200": {"description": "food service halted", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FoodServiceHaltResponse"}}}},
          "403": {"description": "Cedar deny (FORBID-1 cert / FORBID-2 off-window)"}
        },
        "x-cedar-action": "quality.food_service_halt",
        "x-audit-class": "EVT-J161-FOOD-SERVICE-HALT-001",
        "x-no-manager-gate": true,
        "x-adr-refs": ["ADR-0244", "ADR-0243", "ADR-0263"]
      }
    },
    "/quality/ingredient-trace": {
      "post": {
        "operationId": "ingredientTrace",
        "summary": "Cross-bulletin ingredient trace for a menu",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IngredientTraceRequest"}}}
        },
        "responses": {
          "200": {"description": "trace returned", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IngredientTraceResponse"}}}}
        },
        "x-cedar-action": "quality.ingredient_trace"
      }
    },
    "/quality/recall/{recall_id}/confirm-suspect-ingredient": {
      "post": {
        "operationId": "confirmSuspectIngredient",
        "summary": "Confirm suspect ingredient lot for recall",
        "parameters": [
          {"name": "recall_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ConfirmSuspectIngredientRequest"}}}
        },
        "responses": {
          "200": {"description": "suspect confirmed"}
        },
        "x-cedar-action": "quality.allergen_classify",
        "x-audit-class": "EVT-J161-INGREDIENT-TRACED-003"
      }
    },
    "/messenger/broadcast/per-family-privacy-preserving": {
      "post": {
        "operationId": "broadcastPerFamilyPrivacyPreserving",
        "summary": "Per-family privacy-preserving parent broadcast",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BroadcastPerFamilyPrivacyPreservingRequest"}}}
        },
        "responses": {
          "200": {"description": "broadcast delivered to N families"},
          "403": {"description": "Cedar deny (FORBID-3 PIPA / FORBID-4 leakage)"}
        },
        "x-cedar-action": "messenger.broadcast.per_family_privacy_preserving",
        "x-audit-class": "EVT-J161-PARENT-BROADCAST-004",
        "x-per-family-privacy-attestation-required": true
      }
    },
    "/messenger/kakaotalk-bridge/{family_tenant}": {
      "post": {
        "operationId": "kakaotalkBridge",
        "summary": "KakaoTalk cross-tenant bridge for opt-in family",
        "parameters": [
          {"name": "family_tenant", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/KakaoTalkBridgeRequest"}}}
        },
        "responses": {
          "200": {"description": "delivered via KakaoTalk"},
          "403": {"description": "Cedar deny FORBID-9 (no opt-in)"}
        },
        "x-cedar-action": "messenger.kakaotalk_cross_tenant_bridge_for_family"
      }
    },
    "/compliance/regulator-notification/kr-mfds": {
      "post": {
        "operationId": "notifyKrMfds",
        "summary": "KR-MFDS regulator notification per KR-FSA Article 86",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/KrMfdsNotificationRequest"}}}
        },
        "responses": {
          "200": {"description": "regulator notified within SLA"},
          "403": {"description": "Cedar deny FORBID-5 (invalid filing)"}
        },
        "x-cedar-action": "compliance.kr_mfds_notification",
        "x-audit-class": "EVT-J161-MFDS-NOTIFIED-005",
        "x-sla-hours": 24,
        "x-dual-seal": true
      }
    },
    "/compliance/regulator-notification/kr-deem": {
      "post": {
        "operationId": "notifyKrDeem",
        "summary": "KR-DEEM district notification per KR-SchoolMealsAct Article 17",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/KrDeemNotificationRequest"}}}
        },
        "responses": {
          "200": {"description": "district notified within SLA"}
        },
        "x-cedar-action": "compliance.kr_deem_notification",
        "x-audit-class": "EVT-J161-DEEM-NOTIFIED-006",
        "x-sla-hours": 4,
        "x-dual-seal": true
      }
    },
    "/messenger/groups": {
      "post": {
        "operationId": "createSupplierEscalationThread",
        "summary": "Create cross-tenant supplier escalation thread",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SupplierEscalationThreadCreate"}}}
        },
        "responses": {
          "200": {"description": "thread created"}
        },
        "x-cedar-action": "messenger.cross_tenant_thread_create"
      }
    },
    "/messenger/groups/{group_id}/post": {
      "post": {
        "operationId": "postSupplierEscalation",
        "summary": "Post into supplier escalation cross-tenant thread",
        "parameters": [
          {"name": "group_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SupplierEscalationPost"}}}
        },
        "responses": {
          "200": {"description": "posted; dual-sealed"}
        },
        "x-cedar-action": "messenger.cross_tenant_thread_post",
        "x-audit-class": "EVT-J161-SUPPLIER-ESCALATED-007",
        "x-dual-seal": true
      }
    },
    "/tenancy/cross-tenant-status-share": {
      "post": {
        "operationId": "hospitalCrossTenantShare",
        "summary": "Hospital cross-tenant status share with PIPA consent",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HospitalCrossTenantShareRequest"}}}
        },
        "responses": {
          "200": {"description": "status shared"},
          "403": {"description": "Cedar deny FORBID-10 (no parent consent)"}
        },
        "x-cedar-action": "tenancy.cross_tenant_status_share",
        "x-audit-class": "EVT-J161-PATIENT-FOLLOW-UP-008"
      }
    },
    "/quality/incident-report/co-sign": {
      "post": {
        "operationId": "coSignIncidentReport",
        "summary": "Vice-principal co-sign incident report",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/IncidentReportCoSignRequest"}}}
        },
        "responses": {
          "200": {"description": "co-signed"}
        },
        "x-cedar-action": "quality.incident_report_co_sign",
        "x-audit-class": "EVT-J161-VP-CO-SIGN-009"
      }
    },
    "/quality/capa/file": {
      "post": {
        "operationId": "fileCapa",
        "summary": "File CAPA plan for the recall",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CapaFileRequest"}}}
        },
        "responses": {
          "200": {"description": "CAPA filed"}
        },
        "x-cedar-action": "quality.capa_file",
        "x-audit-class": "EVT-J161-CAPA-FILED-010"
      }
    },
    "/workflows/recall/{recall_id}/transition": {
      "post": {
        "operationId": "transitionRecall",
        "summary": "Advance recall state machine",
        "parameters": [
          {"name": "recall_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RecallStateTransition"}}}
        },
        "responses": {
          "200": {"description": "transition accepted"},
          "409": {"description": "invalid transition (FORBID-8)"}
        },
        "x-cedar-action": "workflow.recall_transition",
        "x-state-machine": "recall-state-machine.yaml",
        "x-dual-seal": true
      }
    },
    "/community/groups/{group_id}/post": {
      "post": {
        "operationId": "postCommunityMessage",
        "summary": "Post into KR school-nutritionist community (MLS-encrypted)",
        "parameters": [
          {"name": "group_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommunityPostRequest"}}}
        },
        "responses": {
          "200": {"description": "posted"}
        },
        "x-cedar-action": "community.post",
        "x-audit-class": "EVT-J161-COMMUNITY-PARTICIPATION-013-csar"
      }
    }
  },
  "components": {
    "schemas": {
      "FoodServiceHaltRequest": {
        "type": "object",
        "required": ["principal", "tenant_ctx", "menu_date", "menu_id", "halt_initiated_at", "halt_reason", "operator_authority_basis", "alert_reference"],
        "properties": {
          "principal": {"type": "string", "description": "UTF-8 NFC; e.g. soyeon.kim@..."},
          "tenant_ctx": {"type": "string"},
          "menu_date": {"type": "string", "format": "date"},
          "menu_id": {"type": "string"},
          "halt_initiated_at": {"type": "string", "format": "date-time"},
          "halt_reason": {"type": "string"},
          "operator_authority_basis": {"type": "string", "enum": ["KR-School-Nutritionist-2011_plus_KR-FSA-Article-44", "KR-Nutritionist-License-2002", "principal_gated_fallback"]},
          "alert_reference": {"type": "string"},
          "students_affected_known": {"type": "integer"},
          "students_potentially_affected": {"type": "integer"}
        }
      },
      "FoodServiceHaltResponse": {
        "type": "object",
        "required": ["halt_id", "halt_command_sent_at", "halt_confirmed_at"],
        "properties": {
          "halt_id": {"type": "string"},
          "halt_command_sent_at": {"type": "string", "format": "date-time"},
          "halt_confirmed_at": {"type": "string", "format": "date-time"},
          "trays_recovered_pending": {"type": "integer"},
          "next_seatings_cancelled": {"type": "array", "items": {"type": "string"}}
        }
      },
      "IngredientTraceRequest": {
        "type": "object",
        "required": ["menu_id", "trace_class"],
        "properties": {
          "menu_id": {"type": "string"},
          "trace_class": {"type": "string", "enum": ["all_dishes_all_ingredients_with_supplier_lots", "single_dish"]},
          "cross_reference_allergen_bulletins": {"type": "boolean"},
          "cross_reference_targets": {"type": "array", "items": {"type": "string"}}
        }
      },
      "IngredientTraceResponse": {
        "type": "object",
        "properties": {
          "items": {"type": "array", "items": {"type": "object"}},
          "suspect_lot": {"type": "string"},
          "affected_dishes": {"type": "array", "items": {"type": "string"}},
          "affected_student_count_estimate": {"type": "integer"}
        }
      },
      "ConfirmSuspectIngredientRequest": {
        "type": "object",
        "required": ["recall_id", "suspect_ingredient", "suspect_supplier", "suspect_lot", "confirmed_at"],
        "properties": {
          "recall_id": {"type": "string"},
          "suspect_ingredient": {"type": "string"},
          "suspect_supplier": {"type": "string"},
          "suspect_lot": {"type": "string"},
          "supplier_bulletin_ref": {"type": "string"},
          "school_receiving_log_ref": {"type": "string"},
          "confirmed_at": {"type": "string", "format": "date-time"}
        }
      },
      "BroadcastPerFamilyPrivacyPreservingRequest": {
        "type": "object",
        "required": ["principal", "tenant_ctx", "broadcast_class", "audience_count", "broadcast_at", "pipa_consent_basis", "co_signers"],
        "properties": {
          "principal": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "broadcast_class": {"type": "string", "enum": ["school_meal_allergen_recall_urgent", "school_meal_allergen_update", "school_safety_notice"]},
          "audience_count": {"type": "integer"},
          "school_side_header_text_b64": {"type": "string", "format": "byte"},
          "school_side_footer_text_b64": {"type": "string", "format": "byte"},
          "per_family_personalization_template_id": {"type": "string"},
          "kakaotalk_crossover_enabled_families_count": {"type": "integer"},
          "vi_zh_mn_translations_attached": {"type": "boolean"},
          "broadcast_at": {"type": "string", "format": "date-time"},
          "pipa_consent_basis": {"type": "string", "enum": ["kr_pipa_2020_article_15_lawful_safety_basis", "kr_pipa_2020_article_15_explicit_consent_basis"]},
          "co_signers": {"type": "array", "items": {"type": "string"}, "minItems": 2}
        }
      },
      "KakaoTalkBridgeRequest": {
        "type": "object",
        "required": ["family_personal_tenant", "family_kakaotalk_crossover_opted_in", "broadcast_class", "kr_pipa_consent_basis"],
        "properties": {
          "family_personal_tenant": {"type": "string"},
          "family_kakaotalk_crossover_opted_in": {"type": "boolean"},
          "broadcast_class": {"type": "string"},
          "kr_pipa_consent_basis": {"type": "string"}
        }
      },
      "KrMfdsNotificationRequest": {
        "type": "object",
        "required": ["principal", "regulator_tenant", "incident_class", "kr_fsa_article_ref", "suspected_ingredient", "recall_action_taken", "sla_clock_hours", "notified_at"],
        "properties": {
          "principal": {"type": "string"},
          "regulator_tenant": {"type": "string", "enum": ["kr-mfds-regulator-tenant"]},
          "incident_class": {"type": "string"},
          "kr_fsa_article_ref": {"type": "array", "items": {"type": "string"}, "minItems": 2},
          "suspected_ingredient": {"type": "string"},
          "students_confirmed_affected": {"type": "integer"},
          "students_under_investigation": {"type": "integer"},
          "recall_action_taken": {"type": "string"},
          "audit_chain_ref": {"type": "array", "items": {"type": "string"}},
          "sla_clock_hours": {"type": "integer", "maximum": 24},
          "notified_at": {"type": "string", "format": "date-time"}
        }
      },
      "KrDeemNotificationRequest": {
        "type": "object",
        "required": ["principal", "regulator_tenant", "incident_class", "kr_school_meals_act_ref", "sla_clock_hours", "notified_at"],
        "properties": {
          "principal": {"type": "string"},
          "regulator_tenant": {"type": "string", "enum": ["kr-daejeon-deem-education-office-tenant"]},
          "incident_class": {"type": "string"},
          "kr_school_meals_act_ref": {"type": "array", "items": {"type": "string"}, "minItems": 2},
          "sla_clock_hours": {"type": "integer", "maximum": 4},
          "notified_at": {"type": "string", "format": "date-time"},
          "follow_up_call_scheduled": {"type": "string", "format": "date-time"}
        }
      },
      "SupplierEscalationThreadCreate": {
        "type": "object",
        "required": ["principal", "group_id_hint", "participants", "tenant_set"],
        "properties": {
          "principal": {"type": "string"},
          "group_id_hint": {"type": "string"},
          "participants": {"type": "array", "items": {"type": "object", "properties": {"principal": {"type": "string"}}}, "minItems": 2},
          "tenant_set": {"type": "array", "items": {"type": "string"}, "minItems": 2, "maxItems": 2},
          "retention_policy": {"type": "string"},
          "locale_set": {"type": "array", "items": {"type": "string"}}
        }
      },
      "SupplierEscalationPost": {
        "type": "object",
        "required": ["principal", "group_id", "post_at", "ciphertext_b64", "escalation_class", "sla_response_within_hours"],
        "properties": {
          "principal": {"type": "string"},
          "group_id": {"type": "string"},
          "post_at": {"type": "string", "format": "date-time"},
          "mls_epoch_at_post": {"type": "integer"},
          "ciphertext_b64": {"type": "string", "format": "byte"},
          "structured_payload_hash_sha256": {"type": "string"},
          "escalation_class": {"type": "string"},
          "sla_response_within_hours": {"type": "integer"}
        }
      },
      "HospitalCrossTenantShareRequest": {
        "type": "object",
        "required": ["source_tenant", "target_tenant", "share_class", "patient_external_ref_principal", "pipa_consent_basis", "shared_at"],
        "properties": {
          "source_tenant": {"type": "string"},
          "target_tenant": {"type": "string"},
          "share_class": {"type": "string", "enum": ["pediatric_emergency_status_update", "outpatient_followup_update"]},
          "patient_external_ref_principal": {"type": "string"},
          "pipa_consent_basis": {"type": "string", "enum": ["parents_consent", "guardian_consent", "emergency_implied_consent"]},
          "status_summary": {"type": "object"},
          "shared_at": {"type": "string", "format": "date-time"}
        }
      },
      "IncidentReportCoSignRequest": {
        "type": "object",
        "required": ["incident_report_id", "co_signing_principal", "co_signed_at", "passkey_assertion_b64"],
        "properties": {
          "incident_report_id": {"type": "string"},
          "co_signing_principal": {"type": "string"},
          "co_signed_at": {"type": "string", "format": "date-time"},
          "passkey_assertion_b64": {"type": "string", "format": "byte"}
        }
      },
      "CapaFileRequest": {
        "type": "object",
        "required": ["capa_id", "defect_link", "correction", "corrective_action", "preventive_action", "filed_at", "filed_by", "endorsed_by"],
        "properties": {
          "capa_id": {"type": "string"},
          "defect_link": {"type": "string"},
          "correction": {"type": "array", "items": {"type": "string"}, "minItems": 1},
          "corrective_action": {"type": "array", "items": {"type": "string"}, "minItems": 1},
          "preventive_action": {"type": "array", "items": {"type": "string"}, "minItems": 1},
          "filed_at": {"type": "string", "format": "date-time"},
          "filed_by": {"type": "string"},
          "endorsed_by": {"type": "string"}
        }
      },
      "RecallStateTransition": {
        "type": "object",
        "required": ["recall_id", "from_state", "to_state", "transitioned_at"],
        "properties": {
          "recall_id": {"type": "string"},
          "from_state": {"type": "string", "enum": ["service_halted", "quarantine_complete", "ingredient_traced", "parent_notified", "regulator_notified", "root_cause_confirmed", "closure_post_mortem"]},
          "to_state": {"type": "string", "enum": ["service_halted", "quarantine_complete", "ingredient_traced", "parent_notified", "regulator_notified", "root_cause_confirmed", "closure_post_mortem"]},
          "transitioned_at": {"type": "string", "format": "date-time"},
          "evidence_links": {"type": "array", "items": {"type": "string"}}
        }
      },
      "CommunityPostRequest": {
        "type": "object",
        "required": ["principal", "community_tenant", "group_id", "post_body_ciphertext_b64", "posted_at"],
        "properties": {
          "principal": {"type": "string"},
          "principal_tenant_origin": {"type": "string"},
          "community_tenant": {"type": "string", "enum": ["kr-school-nutritionist-community-tenant"]},
          "group_id": {"type": "string"},
          "post_type": {"type": "string", "enum": ["question", "reply", "incident_retrospective", "announcement", "poll"]},
          "post_body_ciphertext_b64": {"type": "string", "format": "byte"},
          "mls_epoch_at_post": {"type": "integer"},
          "posted_at": {"type": "string", "format": "date-time"},
          "tags": {"type": "array", "items": {"type": "string"}},
          "anonymize_school_name_option": {"type": "boolean"}
        }
      }
    }
  }
}
