{
  "openapi": "3.1.0",
  "info": {
    "title": "Trust Restructure API",
    "version": "1.0.0",
    "description": "Multi-jurisdictional trust restructure CLM + compliance + Merkle attestation + WORM endpoints for j173.",
    "x-journey-id": "j173-aamir-khan-wealth-manager-multi-jurisdictional-trust-restructure",
    "x-related-adrs": [
      "ADR-0243-cedar-as-universal-gate",
      "ADR-0244-tenant-as-universal-scoping-primitive",
      "ADR-0247-self-modification",
      "ADR-0251-compliance-pack-primitive",
      "ADR-0263-observability-emission-contract"
    ]
  },
  "servers": [
    {
      "url": "https://api.halberd-mercer-private-wealth-difc.oyatie.app/v1",
      "description": "Halberd-Mercer Private Wealth DIFC tenant"
    }
  ],
  "paths": {
    "/wealth-mgmt/cockpit/open": {
      "get": {
        "operationId": "openCockpit",
        "x-cedar-permit": "senior_director + DFSA + STEP_TEP + passkey + yubikey",
        "x-audit-class": "EVT-J173-COCKPIT-OPENED-Δ000",
        "responses": { "200": { "description": "Cockpit opened" } }
      }
    },
    "/clm/workflow/open": {
      "post": {
        "operationId": "openCLMWorkflow",
        "x-cedar-permit": "wealth_manager + clm_workflow_open",
        "x-audit-class": "EVT-J173-CLM-WORKFLOW-OPENED-001",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OpenCLMWorkflowRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Workflow opened" } }
      }
    },
    "/clm/document/{doc_id}/redline": {
      "post": {
        "operationId": "submitRedline",
        "x-cedar-permit": "counsel_with_applicable_bar + step_privileged_class",
        "x-audit-class": "EVT-J173-CLM-DOC-REDLINE",
        "parameters": [
          { "name": "doc_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RedlineSubmitRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Redline submitted" } }
      }
    },
    "/clm/document/{doc_id}/cross-counsel-comment": {
      "post": {
        "operationId": "submitCrossCounselComment",
        "x-cedar-permit": "counsel + cross_jurisdiction_perspective",
        "x-audit-class": "EVT-J173-COUNSEL-CROSS-REVIEW-002",
        "parameters": [
          { "name": "doc_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CrossCounselCommentRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Comment submitted" } }
      }
    },
    "/clm/family-review/request": {
      "post": {
        "operationId": "requestFamilyReview",
        "x-cedar-permit": "wealth_manager + clm",
        "x-audit-class": "EVT-J173-FAMILY-REVIEW-REQUESTED-Δ002b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FamilyReviewRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Family review requested" } }
      }
    },
    "/clm/document/{doc_id}/sign": {
      "post": {
        "operationId": "signFamilyDocument",
        "x-cedar-permit": "family_principal + KYC + MiFID_II_for_UK",
        "x-audit-class": "EVT-J173-FAMILY-SIGN-003",
        "parameters": [
          { "name": "doc_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FamilySignatureRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Document signed" } }
      }
    },
    "/clm/engagement/{id}/state-transition": {
      "post": {
        "operationId": "transitionEngagementState",
        "x-cedar-permit": "wealth_manager + clm",
        "x-audit-class": "EVT-J173-SETTLEMENT-COMPLETE-Δ010",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "State transitioned" } }
      }
    },
    "/compliance/pack-manifest/activate": {
      "post": {
        "operationId": "activatePackManifest",
        "x-cedar-permit": "compliance_pack_asserter + multi_jurisdiction",
        "x-audit-class": "EVT-J173-PACK-MANIFEST-008",
        "responses": { "201": { "description": "Pack manifest activated" } }
      }
    },
    "/compliance/crs/reissue": {
      "post": {
        "operationId": "reissueCRS",
        "x-cedar-permit": "compliance + wealth_manager",
        "x-audit-class": "EVT-J173-CRS-REISSUED-Δ004a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CRSReissueRequest" }
            }
          }
        },
        "responses": { "201": { "description": "CRS reissued" } }
      }
    },
    "/compliance/fatca/form-w8-ben-e/reissue": {
      "post": {
        "operationId": "reissueFATCAForm",
        "x-cedar-permit": "compliance + wealth_manager",
        "x-audit-class": "EVT-J173-FATCA-FORM-REISSUED-Δ004b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/FATCAFormReissueRequest" }
            }
          }
        },
        "responses": { "201": { "description": "FATCA reissued" } }
      }
    },
    "/compliance/dtaa/attestation": {
      "post": {
        "operationId": "emitDTAAAttestation",
        "x-cedar-permit": "compliance + 3_DTAA_attestation",
        "x-audit-class": "EVT-J173-DTAA-OPTIMIZATION-007",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DTAAAttestation" }
            }
          }
        },
        "responses": { "201": { "description": "DTAA attestation emitted" } }
      }
    },
    "/audit-chain/tax-position-anchor/emit": {
      "post": {
        "operationId": "emitTaxPositionAnchor",
        "x-cedar-permit": "audit_chain_service + inclusion_proof_only",
        "x-audit-class": "EVT-J173-MERKLE-DOC-{n}",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TaxPositionAnchorRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Anchor emitted" } }
      }
    },
    "/drive/jurisdiction-worm/write": {
      "post": {
        "operationId": "writeJurisdictionWORM",
        "x-cedar-permit": "drive + jurisdiction_cell_valid + indelible",
        "x-audit-class": "EVT-J173-WORM-JURISDICTION-AWARE-010",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/JurisdictionWORMWriteRequest" }
            }
          }
        },
        "responses": { "201": { "description": "WORM written" } }
      }
    },
    "/intelligence/tax-scenario/compute": {
      "post": {
        "operationId": "computeTaxScenario",
        "x-cedar-permit": "wealth_manager + intelligence",
        "x-audit-class": "EVT-J173-TAX-SCENARIO-COMPUTED-Δ001b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TaxScenarioComputeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax scenario computed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TaxScenarioResult" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "OpenCLMWorkflowRequest": {
        "type": "object",
        "required": ["engagement_id", "documents", "counsel_assignments", "family_signing_parties"],
        "properties": {
          "engagement_id": { "type": "string" },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "doc_id": { "type": "string" },
                "title": { "type": "string" },
                "jurisdiction": { "type": "string", "enum": ["UK", "UAE", "UAE_DIFC", "SG", "KY"] },
                "owner_firm_principal": { "type": "string" },
                "cross_review_firm_principals": { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "counsel_assignments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "firm_tenant_id": { "type": "string" },
                "lead_principal": { "type": "string" },
                "supporting_principal": { "type": "string" },
                "bar_attestation_jurisdictions": { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "family_signing_parties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "principal_id": { "type": "string" },
                "domicile_class": { "type": "string" },
                "kyc_jurisdiction": { "type": "string" },
                "mifid_ii_required": { "type": "boolean" }
              }
            }
          }
        }
      },
      "RedlineSubmitRequest": {
        "type": "object",
        "required": ["redline_id", "section", "redline_text_b64", "redline_source_principal", "step_privileged_class"],
        "properties": {
          "redline_id": { "type": "string" },
          "section": { "type": "string" },
          "redline_text_b64": { "type": "string" },
          "redline_source_principal": { "type": "string" },
          "step_privileged_class": { "type": "boolean", "enum": [true] },
          "submitted_at": { "type": "string", "format": "date-time" }
        }
      },
      "CrossCounselCommentRequest": {
        "type": "object",
        "required": ["comment_id", "perspective_jurisdiction", "commenter_principal", "comment_text_b64"],
        "properties": {
          "comment_id": { "type": "string" },
          "perspective_jurisdiction": { "type": "string", "enum": ["UK", "UAE", "UAE_DIFC", "SG", "KY"] },
          "commenter_principal": { "type": "string" },
          "comment_text_b64": { "type": "string" },
          "step_privileged_class": { "type": "boolean", "enum": [true] }
        }
      },
      "FamilyReviewRequest": {
        "type": "object",
        "required": ["engagement_id", "review_recipients", "documents", "review_window_hours"],
        "properties": {
          "engagement_id": { "type": "string" },
          "review_recipients": { "type": "array", "items": { "type": "string" } },
          "documents": { "type": "array", "items": { "type": "string" } },
          "explanatory_memo_url": { "type": "string" },
          "counsel_opinions_urls": { "type": "array", "items": { "type": "string" } },
          "cgt_clearance_url": { "type": "string" },
          "mifid_ii_suitability_acknowledgment_required_for_uk_principals": { "type": "boolean" },
          "review_window_hours": { "type": "integer", "minimum": 24 }
        }
      },
      "FamilySignatureRequest": {
        "type": "object",
        "required": ["signing_principal", "kyc_attestation_id", "kyc_method", "signature_method", "signed_at"],
        "properties": {
          "signing_principal": { "type": "string" },
          "kyc_attestation_id": { "type": "string" },
          "kyc_method": { "type": "string" },
          "signature_method": { "type": "string", "enum": ["passkey_plus_face_attestation"] },
          "mifid_ii_suitability_acknowledgment_id": { "type": "string" },
          "signed_at": { "type": "string", "format": "date-time" },
          "hlc_timestamp": { "type": "string" },
          "language_of_acknowledgment": { "type": "string" }
        }
      },
      "CRSReissueRequest": {
        "type": "object",
        "required": ["engagement_id", "new_entities"],
        "properties": {
          "engagement_id": { "type": "string" },
          "new_entities": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["legal_name", "jurisdiction_of_trust", "crs_status"],
              "properties": {
                "legal_name": { "type": "string" },
                "jurisdiction_of_trust": { "type": "string" },
                "crs_status": { "type": "string", "enum": ["investment_entity_managed_by_fi_crs_reporting"] },
                "reportable_jurisdictions": { "type": "array", "items": { "type": "string" } },
                "giin_pending": { "type": "string" }
              }
            }
          }
        }
      },
      "FATCAFormReissueRequest": {
        "type": "object",
        "required": ["engagement_id", "new_entities", "iga_classification", "us_person_beneficial_owner_identified"],
        "properties": {
          "engagement_id": { "type": "string" },
          "new_entities": { "type": "array", "items": { "type": "string" } },
          "iga_classification": { "type": "string" },
          "annex_ii_path": { "type": "array", "items": { "type": "string" } },
          "us_person_beneficial_owner_identified": { "type": "boolean" }
        }
      },
      "DTAAAttestation": {
        "type": "object",
        "required": ["engagement_id", "dtaa_attestations"],
        "properties": {
          "engagement_id": { "type": "string" },
          "dtaa_attestations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "treaty": { "type": "string" },
                "applied_to": { "type": "string" },
                "treaty_benefit": { "type": "string" },
                "effective_tax_position_gbp": { "type": "integer" },
                "evidence_anchor_ids": { "type": "array", "items": { "type": "string" } }
              }
            }
          }
        }
      },
      "TaxPositionAnchorRequest": {
        "type": "object",
        "required": ["anchor_id", "engagement_id", "doc_id", "jurisdiction", "merkle_root_b64", "proof_class"],
        "properties": {
          "anchor_id": { "type": "string" },
          "engagement_id": { "type": "string" },
          "doc_id": { "type": "string" },
          "jurisdiction": { "type": "string" },
          "merkle_root_b64": { "type": "string" },
          "compulsion_paths": { "type": "array", "items": { "type": "string", "enum": ["HMRC", "IRS_FATCA", "OECD_CRS_COMPETENT_AUTHORITY", "DFSA_DIFC", "MAS_SINGAPORE", "CIMA_CAYMAN"] } },
          "proof_class": { "type": "string", "enum": ["inclusion_proof_only_without_payload"] },
          "external_transparency_log_batch": { "type": "string" }
        }
      },
      "JurisdictionWORMWriteRequest": {
        "type": "object",
        "required": ["engagement_id", "doc_id", "jurisdiction", "worm_cell", "retention_years_minimum", "indelible_storage_attestation"],
        "properties": {
          "engagement_id": { "type": "string" },
          "doc_id": { "type": "string" },
          "jurisdiction": { "type": "string", "enum": ["UK", "UAE", "SG", "KY"] },
          "worm_cell": { "type": "string" },
          "retention_years_minimum": { "type": "integer", "minimum": 6 },
          "retention_basis_id": { "type": "string" },
          "seal_class": { "type": "string" },
          "indelible_storage_attestation": { "type": "boolean", "enum": [true] },
          "merkle_anchor_id": { "type": "string" }
        }
      },
      "TaxScenarioComputeRequest": {
        "type": "object",
        "required": ["engagement_id", "scenario_class", "model_id", "inputs"],
        "properties": {
          "engagement_id": { "type": "string" },
          "scenario_class": { "type": "string" },
          "model_id": { "type": "string" },
          "inputs": {
            "type": "object",
            "properties": {
              "uk_pilot_trust_2019_baseline_market_value_gbp": { "type": "integer" },
              "uk_pilot_trust_2027_disposal_value_gbp": { "type": "integer" },
              "uk_trustee_cgt_rate_2027": { "type": "number" },
              "ddt_holdover_relief_applicable": { "type": "boolean" },
              "dtaa_paths_to_evaluate": { "type": "array", "items": { "type": "string" } }
            }
          }
        }
      },
      "TaxScenarioResult": {
        "type": "object",
        "required": ["scenario_id", "effective_uk_cgt_after_holdover_gbp", "confidence_score", "model_provenance"],
        "properties": {
          "scenario_id": { "type": "string" },
          "effective_uk_cgt_after_holdover_gbp": { "type": "integer" },
          "dtaa_paths_evaluated": { "type": "array", "items": { "type": "object" } },
          "confidence_score": { "type": "number" },
          "model_provenance": { "type": "string" },
          "recommendations": { "type": "array", "items": { "type": "string" } }
        }
      }
    },
    "securitySchemes": {
      "passkey_yubikey_combo": { "type": "apiKey", "in": "header", "name": "X-Oyatie-Passkey-YubiKey-Token" }
    }
  },
  "security": [ { "passkey_yubikey_combo": [] } ]
}
