{
  "openapi": "3.1.0",
  "info": {
    "title": "Cross-Border Payment API",
    "version": "1.0.0",
    "description": "$42M consolidation transfer + SWIFT MT103 dispatch + sanctions screening + AML for j173.",
    "x-journey-id": "j173-aamir-khan-wealth-manager-multi-jurisdictional-trust-restructure",
    "x-related-adrs": [
      "ADR-0244-tenant-as-universal-scoping-primitive",
      "ADR-0252-hlc-default-truetime-tier",
      "ADR-0263-observability-emission-contract"
    ]
  },
  "servers": [
    {
      "url": "https://payments.halberd-mercer-private-wealth-difc.oyatie.app/v1",
      "description": "Halberd-Mercer payments µservice"
    }
  ],
  "paths": {
    "/payments/sanctions-screen": {
      "post": {
        "operationId": "screenSanctions",
        "x-cedar-permit": "wealth_manager + sanctions_service",
        "x-audit-class": "EVT-J173-SANCTIONS-SCREEN-CLEAN-Δ005a",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SanctionsScreenRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sanctions screening result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SanctionsScreenResult" }
              }
            }
          }
        }
      }
    },
    "/compliance/aml-screen": {
      "post": {
        "operationId": "screenAML",
        "x-cedar-permit": "wealth_manager + aml_service",
        "x-audit-class": "EVT-J173-AML-SCREEN-CLEAN-Δ005b",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AMLScreenRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AML screening result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AMLScreenResult" }
              }
            }
          }
        }
      }
    },
    "/payments/consolidation-transfer/initiate": {
      "post": {
        "operationId": "initiateConsolidationTransfer",
        "x-cedar-permit": "wealth_manager + sanctions_clean + aml_pass + all_family_signatures",
        "x-audit-class": "EVT-J173-CONSOLIDATION-TRANSFER-005",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConsolidationTransferInitiateRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Consolidation transfer initiated" },
          "403": { "description": "Cedar deny: sanctions/AML/signatures incomplete" }
        }
      }
    },
    "/payments/swift-mt103/dispatch": {
      "post": {
        "operationId": "dispatchSwiftMT103",
        "x-cedar-permit": "bank_tenant + sanctions_clean + aml_pass",
        "x-audit-class": "EVT-J173-MT103-LEG-{n}",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SwiftMT103DispatchRequest" }
            }
          }
        },
        "responses": { "201": { "description": "MT103 dispatched" } }
      }
    },
    "/payments/consolidation-transfer/reconcile": {
      "post": {
        "operationId": "reconcileConsolidationTransfer",
        "x-cedar-permit": "wealth_manager + payments + audit_chain",
        "x-audit-class": "EVT-J173-CONSOLIDATION-RECONCILED-Δ005f",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ConsolidationTransferReconciliation" }
            }
          }
        },
        "responses": { "200": { "description": "Reconciliation complete" } }
      }
    }
  },
  "components": {
    "schemas": {
      "SanctionsScreenRequest": {
        "type": "object",
        "required": ["screening_id", "lists", "principals_to_screen"],
        "properties": {
          "screening_id": { "type": "string" },
          "lists": {
            "type": "array",
            "items": { "type": "string", "enum": ["OFAC_SDN", "UK_HMT_Consolidated", "EU_Consolidated", "UN_Consolidated", "UAE_Local", "CIMA_KY_Sanctions"] },
            "minItems": 1
          },
          "principals_to_screen": { "type": "array", "items": { "type": "string" } }
        }
      },
      "SanctionsScreenResult": {
        "type": "object",
        "required": ["screening_id", "total_hits", "fuzzy_matches_within_threshold", "manual_review_required", "status"],
        "properties": {
          "screening_id": { "type": "string" },
          "total_hits": { "type": "integer", "minimum": 0 },
          "fuzzy_matches_within_threshold": { "type": "integer" },
          "manual_review_required": { "type": "boolean" },
          "status": { "type": "string", "enum": ["clean", "hits_detected", "manual_review"] }
        }
      },
      "AMLScreenRequest": {
        "type": "object",
        "required": ["screening_id", "frameworks", "source_of_funds_verification_class", "beneficial_ownership_documented"],
        "properties": {
          "screening_id": { "type": "string" },
          "frameworks": {
            "type": "array",
            "items": { "type": "string", "enum": ["AMLD5", "UK_MLR_2017", "UAE_FDL_20_2018", "MAS_Notice_626", "KY_MLR"] }
          },
          "source_of_funds_verification_class": { "type": "string" },
          "beneficial_ownership_documented": { "type": "boolean" },
          "pep_principals": { "type": "array", "items": { "type": "string" } },
          "pep_risk_assessment_attached": { "type": "boolean" },
          "high_risk_jurisdiction_exposure": { "type": "string" }
        }
      },
      "AMLScreenResult": {
        "type": "object",
        "required": ["screening_id", "status"],
        "properties": {
          "screening_id": { "type": "string" },
          "amld5_compliance": { "type": "string", "enum": ["passed", "failed"] },
          "uk_mlr_2017_compliance": { "type": "string", "enum": ["passed", "failed"] },
          "uae_fdl_compliance": { "type": "string", "enum": ["passed", "failed"] },
          "sg_mas_compliance": { "type": "string", "enum": ["passed", "failed"] },
          "ky_mlr_compliance": { "type": "string", "enum": ["passed", "failed"] },
          "status": { "type": "string", "enum": ["pass", "fail"] }
        }
      },
      "ConsolidationTransferInitiateRequest": {
        "type": "object",
        "required": ["engagement_id", "total_transfer_amount_usd", "transfer_legs"],
        "properties": {
          "engagement_id": { "type": "string" },
          "total_transfer_amount_usd": { "type": "integer" },
          "transfer_legs": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["leg_id", "source_bank", "source_account", "source_amount", "source_currency", "destination_bank", "destination_account", "destination_amount", "destination_currency", "swift_method", "correspondent_bank"],
              "properties": {
                "leg_id": { "type": "string" },
                "source_bank": { "type": "string" },
                "source_account": { "type": "string" },
                "source_amount": { "type": "number" },
                "source_currency": { "type": "string" },
                "destination_bank": { "type": "string" },
                "destination_account": { "type": "string" },
                "destination_amount": { "type": "number" },
                "destination_currency": { "type": "string" },
                "swift_method": { "type": "string", "enum": ["MT103_plus_cover_MT202"] },
                "correspondent_bank": { "type": "string" },
                "fx_rate": { "type": "number" }
              }
            }
          },
          "sanctions_screening_id": { "type": "string" },
          "aml_screening_id": { "type": "string" }
        }
      },
      "SwiftMT103DispatchRequest": {
        "type": "object",
        "required": ["message_id", "sender_bic", "receiver_bic", "field_20_transaction_reference", "field_32a_value_currency_amount"],
        "properties": {
          "message_id": { "type": "string" },
          "sender_bic": { "type": "string", "pattern": "^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$" },
          "receiver_bic": { "type": "string", "pattern": "^[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?$" },
          "field_20_transaction_reference": { "type": "string" },
          "field_32a_value_currency_amount": { "type": "string" },
          "field_50_ordering_customer": { "type": "string" },
          "field_59_beneficiary_customer": { "type": "string" },
          "field_70_remittance_information": { "type": "string" },
          "cover_mt202_via": { "type": "string" },
          "dispatched_at": { "type": "string", "format": "date-time" }
        }
      },
      "ConsolidationTransferReconciliation": {
        "type": "object",
        "required": ["engagement_id", "expected_total_usd", "actual_arrived_usd", "reconciliation_state"],
        "properties": {
          "engagement_id": { "type": "string" },
          "expected_total_usd": { "type": "integer" },
          "actual_arrived_usd": { "type": "integer" },
          "discrepancy_usd": { "type": "integer" },
          "discrepancy_explanation": { "type": "string" },
          "reconciliation_state": { "type": "string", "enum": ["ok", "investigating", "mismatch"] },
          "destination_account": { "type": "string" },
          "reconciled_at": { "type": "string", "format": "date-time" }
        }
      }
    },
    "securitySchemes": {
      "service_principal": { "type": "apiKey", "in": "header", "name": "X-Oyatie-Service-Principal-JWT" },
      "passkey_yubikey_combo": { "type": "apiKey", "in": "header", "name": "X-Oyatie-Passkey-YubiKey-Token" }
    }
  },
  "security": [
    { "passkey_yubikey_combo": [] },
    { "service_principal": [] }
  ]
}
