{
  "openapi": "3.1.0",
  "info": {
    "title": "j159 dual-tenant MBA application API",
    "version": "1.0.0",
    "description": "Personal-vs-work dual-tenant MBA application orchestration. Recommender cross-tenant capability + personal-tenant provider-credential BYOK payment routing per ADR-0255 §D-4 + HR-audit personal-tenant refusal. Anchored to ADR-0311 personal-vs-work boundary keystone. UTF-8 NFC diacritic + Devanagari fidelity preserved end-of-line."
  },
  "servers": [
    {"url": "https://api.oya.cloud/v1", "description": "production"},
    {"url": "https://api.dev.oya.cloud/v1", "description": "dev"}
  ],
  "paths": {
    "/notes/documents/{doc_id}/finalize": {
      "post": {
        "operationId": "finalizeDocument",
        "summary": "Finalize an essay document in personal-tenant notes",
        "parameters": [
          {"name": "doc_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotesDocumentFinalizeRequest"}}}
        },
        "responses": {
          "200": {"description": "document finalized", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotesDocumentFinalizeResponse"}}}}
        },
        "x-cedar-action": "notes.document_finalize",
        "x-audit-class": "EVT-J159-ESSAY-FINALIZED-001",
        "x-adr-refs": ["ADR-0244", "ADR-0263"]
      }
    },
    "/tenancy/capabilities/grant": {
      "post": {
        "operationId": "grantCapability",
        "summary": "Grant a cross-tenant capability (spousal read-only or recommender write-once)",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CapabilityGrantRequest"}}}
        },
        "responses": {
          "200": {"description": "capability granted; dual-sealed"}
        },
        "x-cedar-action": "tenancy.capability_grant",
        "x-dual-seal": true,
        "x-adr-refs": ["ADR-0311", "ADR-0244"]
      }
    },
    "/tenancy/capabilities/accept": {
      "post": {
        "operationId": "acceptCapability",
        "summary": "Accept a cross-tenant capability invitation (e.g. recommender)",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CapabilityAcceptRequest"}}}
        },
        "responses": {
          "200": {"description": "capability accepted; dual-sealed"},
          "403": {"description": "Cedar deny (e.g. self-recommendation FORBID-11)"}
        },
        "x-cedar-action": "tenancy.cross_tenant_capability_accept",
        "x-dual-seal": true
      }
    },
    "/tenancy/capabilities/revoke": {
      "post": {
        "operationId": "revokeCapability",
        "summary": "Revoke a granted capability",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CapabilityRevokeRequest"}}}
        },
        "responses": {
          "200": {"description": "capability revoked"}
        },
        "x-cedar-action": "tenancy.capability_revoke",
        "x-propagation-target-seconds": 90
      }
    },
    "/notes/cross-tenant-slot/{slot_id}/append": {
      "post": {
        "operationId": "appendCrossTenantSlot",
        "summary": "Append (revise) a recommendation letter into a personal-tenant slot",
        "parameters": [
          {"name": "slot_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RecommendationLetterSlotAppendRequest"}}}
        },
        "responses": {
          "200": {"description": "revision appended"},
          "403": {"description": "Cedar deny (FORBID-3 browse / FORBID-4 propagate / FORBID-10 revoked)"}
        },
        "x-cedar-action": "drive.write_recommendation_letter_to_slot",
        "x-audit-class": "EVT-J159-RECOMMENDER-PRIYA-DRAFT-002b",
        "x-dual-seal": true
      }
    },
    "/notes/cross-tenant-slot/{slot_id}/final-submit": {
      "post": {
        "operationId": "finalSubmitCrossTenantSlot",
        "summary": "Final-submit a recommendation letter; capability auto-consumes",
        "parameters": [
          {"name": "slot_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RecommendationLetterSlotFinalSubmitRequest"}}}
        },
        "responses": {
          "200": {"description": "letter submitted; capability consumed"}
        },
        "x-cedar-action": "drive.write_recommendation_letter_to_slot",
        "x-audit-class": "EVT-J159-RECOMMENDER-PRIYA-FINAL-002c",
        "x-dual-seal": true
      }
    },
    "/payments/authorize": {
      "post": {
        "operationId": "authorizePayment",
        "summary": "Authorize a personal-tenant payment (provider-credential BYOK credentials only; ADR-0255 §D-4)",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentAuthorizeRequest"}}}
        },
        "responses": {
          "200": {"description": "authorized; 3DS may be required", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentAuthorizeResponse"}}}},
          "403": {"description": "Cedar deny (corporate card FORBID-2 / non-personal credential FORBID-9)"}
        },
        "x-cedar-action": "payments.authorize",
        "x-audit-class": "EVT-J159-WHARTON-FEE-PAID-005",
        "x-adr-refs": ["ADR-0255", "ADR-0311"]
      }
    },
    "/payments/3ds/confirm": {
      "post": {
        "operationId": "confirm3DSPayment",
        "summary": "Confirm 3D-Secure OTP for a personal-tenant payment",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PaymentAuthorize3DSConfirmRequest"}}}
        },
        "responses": {
          "200": {"description": "settled t+1"}
        }
      }
    },
    "/community/groups/{group_id}/post": {
      "post": {
        "operationId": "postCommunityMessage",
        "summary": "Post into a private community tenant (MLS-encrypted)",
        "parameters": [
          {"name": "group_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommunityPostRequest"}}}
        },
        "responses": {
          "200": {"description": "post submitted"},
          "403": {"description": "Cedar deny (FORBID-6 non-personal tenant)"}
        },
        "x-cedar-action": "community.post",
        "x-audit-class": "EVT-J159-COMMUNITY-PARTICIPATION-008"
      }
    },
    "/lms/credentials/gmat/score-send": {
      "post": {
        "operationId": "sendGmatScore",
        "summary": "Send official GMAT score to one or more schools via GMAC",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GmatScoreSendRequest"}}}
        },
        "responses": {
          "200": {"description": "score-send initiated"}
        },
        "x-cedar-action": "learning_management.gmat_score_send",
        "x-audit-class": "EVT-J159-GMAT-SCORE-SEND-007"
      }
    },
    "/workflows/mba-application/{instance_id}/submit": {
      "post": {
        "operationId": "submitMbaApplication",
        "summary": "Submit a complete MBA application to a school",
        "parameters": [
          {"name": "instance_id", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MbaApplicationSubmitRequest"}}}
        },
        "responses": {
          "200": {"description": "submitted; awaiting cross-tenant ack"}
        },
        "x-cedar-action": "admissions.application_submit",
        "x-dual-seal": true
      }
    },
    "/drive/audit/walk": {
      "post": {
        "operationId": "hrSweepWalk",
        "summary": "HR audit walks a work-tenant drive (anti-leak sweep)",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HrSweepWalkRequest"}}}
        },
        "responses": {
          "200": {"description": "sweep completed", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/HrSweepWalkResponse"}}}}
        },
        "x-cedar-action": "drive.audit_walk",
        "x-audit-class": "EVT-J159-HR-SWEEP-WORK-TENANT-WALK-004-prep"
      }
    },
    "/discovery/walk-all-principal-artifacts": {
      "post": {
        "operationId": "discoveryWalkPrincipal",
        "summary": "Discover artifacts for a principal across tenants (subject to ADR-0311 boundary)",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/DiscoveryWalkAllPrincipalArtifactsRequest"}}}
        },
        "responses": {
          "200": {"description": "partial discovery (boundary enforced)"},
          "403": {"description": "personal-tenant boundary enforced (FORBID-1)"}
        },
        "x-cedar-action": "discovery.walk_all_principal_artifacts",
        "x-audit-class": "EVT-J159-CEDAR-DENY-WORK-TENANT-INTO-PERSONAL-014a",
        "x-dual-seal": true
      }
    }
  },
  "components": {
    "schemas": {
      "Principal": {
        "type": "object",
        "required": ["subject_id", "home_tenant", "acting_tenant", "tenant_class"],
        "properties": {
          "subject_id": {"type": "string", "description": "UTF-8 NFC; diacritics preserved"},
          "home_tenant": {"type": "string"},
          "acting_tenant": {"type": "string"},
          "tenant_class": {"type": "string", "enum": ["personal_tenant", "work_tenant", "community_tenant", "admissions_tenant", "hr_tenant"]},
          "passkey_assertion_b64": {"type": "string", "format": "byte"},
          "is_authentic_dual_tenant_match": {"type": "boolean"}
        }
      },
      "DiacriticPolicy": {
        "type": "object",
        "required": ["unicode_normalization", "diacritics_preserved"],
        "properties": {
          "unicode_normalization": {"type": "string", "enum": ["NFC"]},
          "diacritics_preserved": {"type": "boolean", "enum": [true]},
          "devanagari_canonical": {"type": "boolean"},
          "transliterate_to_ascii": {"type": "boolean", "default": false},
          "user_explicit_consent_to_transliterate": {"type": "boolean", "default": false}
        }
      },
      "NotesDocumentFinalizeRequest": {
        "type": "object",
        "required": ["principal", "tenant_ctx", "doc_id", "word_count", "finalized_at"],
        "properties": {
          "principal": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "doc_id": {"type": "string"},
          "word_count": {"type": "integer"},
          "word_count_max": {"type": "integer"},
          "locale": {"type": "string"},
          "unicode_normalization": {"type": "string", "enum": ["NFC"]},
          "diacritics_preserved": {"type": "boolean"},
          "finalized_at": {"type": "string", "format": "date-time"},
          "destination_drive_path": {"type": "string"}
        }
      },
      "NotesDocumentFinalizeResponse": {
        "type": "object",
        "required": ["doc_version_id", "drive_path_resolved"],
        "properties": {
          "doc_version_id": {"type": "string"},
          "drive_path_resolved": {"type": "string"},
          "merkle_leaf_b64": {"type": "string"},
          "audit_class": {"type": "string"}
        }
      },
      "CapabilityGrantRequest": {
        "type": "object",
        "required": ["granting_principal", "granting_tenant", "grantee_principal", "grantee_tenant", "capability_class"],
        "properties": {
          "granting_principal": {"type": "string"},
          "granting_tenant": {"type": "string"},
          "grantee_principal": {"type": "string"},
          "grantee_tenant": {"type": "string"},
          "capability_class": {"type": "string", "enum": ["spousal_read_only_folder", "recommendation_letter_write_once", "admissions_application_ack"]},
          "scope_drive_path": {"type": "string"},
          "scope_actions": {"type": "array", "items": {"type": "string"}},
          "scope_actions_forbidden": {"type": "array", "items": {"type": "string"}},
          "expires_at": {"type": "string", "format": "date-time"},
          "auto_revoke_at": {"type": "string", "format": "date-time"},
          "relationship_basis": {"type": "string"}
        }
      },
      "CapabilityAcceptRequest": {
        "type": "object",
        "required": ["accepting_principal", "accepting_tenant", "target_tenant", "target_slot_id", "capability_class"],
        "properties": {
          "accepting_principal": {"type": "string"},
          "accepting_tenant": {"type": "string"},
          "target_tenant": {"type": "string"},
          "target_slot_id": {"type": "string"},
          "capability_class": {"type": "string", "enum": ["recommendation_letter_write_once", "spousal_read_only_folder"]},
          "accept_basis": {"type": "string"},
          "accepted_at": {"type": "string", "format": "date-time"}
        }
      },
      "CapabilityRevokeRequest": {
        "type": "object",
        "required": ["revoking_principal", "capability_id", "revoked_at"],
        "properties": {
          "revoking_principal": {"type": "string"},
          "capability_id": {"type": "string"},
          "revoked_at": {"type": "string", "format": "date-time"},
          "reason": {"type": "string"}
        }
      },
      "RecommendationLetterSlotAppendRequest": {
        "type": "object",
        "required": ["principal", "principal_tenant", "target_tenant", "slot_id", "capability_id", "draft_text_b64"],
        "properties": {
          "principal": {"type": "string"},
          "principal_tenant": {"type": "string"},
          "target_tenant": {"type": "string"},
          "slot_id": {"type": "string"},
          "capability_id": {"type": "string"},
          "draft_text_b64": {"type": "string", "format": "byte"},
          "is_final_submit": {"type": "boolean"},
          "revision_number": {"type": "integer"}
        }
      },
      "RecommendationLetterSlotFinalSubmitRequest": {
        "type": "object",
        "required": ["principal", "slot_id", "capability_id", "final_text_b64", "submitted_at", "passkey_assertion_b64"],
        "properties": {
          "principal": {"type": "string"},
          "slot_id": {"type": "string"},
          "capability_id": {"type": "string"},
          "final_text_b64": {"type": "string", "format": "byte"},
          "is_final_submit": {"type": "boolean", "enum": [true]},
          "submitted_at": {"type": "string", "format": "date-time"},
          "passkey_assertion_b64": {"type": "string", "format": "byte"}
        }
      },
      "PaymentAuthorizeRequest": {
        "type": "object",
        "required": ["principal", "tenant_ctx", "amount", "merchant", "credential_id", "credential_class", "credential_tenant"],
        "properties": {
          "principal": {"type": "string"},
          "tenant_ctx": {"type": "string"},
          "amount": {
            "type": "object",
            "properties": {
              "currency": {"type": "string"},
              "minor_units": {"type": "integer"}
            }
          },
          "settlement_currency": {"type": "string"},
          "merchant": {"type": "string"},
          "credential_id": {"type": "string"},
          "credential_class": {"type": "string", "enum": ["personal_card_BYOK", "corporate_card", "personal_upi", "personal_bank_ach"]},
          "credential_tenant": {"type": "string"},
          "context": {
            "type": "object",
            "properties": {
              "personal_tenant_payment": {"type": "boolean"},
              "corporate_card_routing_attempted": {"type": "boolean"}
            }
          },
          "initiated_at": {"type": "string", "format": "date-time"}
        }
      },
      "PaymentAuthorizeResponse": {
        "type": "object",
        "required": ["auth_id", "status"],
        "properties": {
          "auth_id": {"type": "string"},
          "status": {"type": "string", "enum": ["authorized", "auth_3ds_required", "auth_failed", "auth_forbidden_by_cedar", "auth_settled_t_plus_1"]},
          "three_ds_method": {"type": "string"},
          "settlement_date": {"type": "string", "format": "date"}
        }
      },
      "PaymentAuthorize3DSConfirmRequest": {
        "type": "object",
        "required": ["auth_id", "otp", "confirmed_at"],
        "properties": {
          "auth_id": {"type": "string"},
          "otp": {"type": "string", "pattern": "^[0-9]{6}$"},
          "confirmed_at": {"type": "string", "format": "date-time"}
        }
      },
      "CommunityPostRequest": {
        "type": "object",
        "required": ["principal", "community_tenant", "group_id", "post_body_ciphertext_b64", "posted_at"],
        "properties": {
          "principal": {"type": "string"},
          "principal_tenant_origin": {"type": "string"},
          "community_tenant": {"type": "string"},
          "group_id": {"type": "string"},
          "post_type": {"type": "string", "enum": ["question", "reply", "announcement", "poll"]},
          "post_body_ciphertext_b64": {"type": "string", "format": "byte"},
          "mls_epoch_at_post": {"type": "integer"},
          "posted_at": {"type": "string", "format": "date-time"},
          "tags": {"type": "array", "items": {"type": "string"}}
        }
      },
      "GmatScoreSendRequest": {
        "type": "object",
        "required": ["principal", "credential_class", "test_date", "score_total", "send_to_schools"],
        "properties": {
          "principal": {"type": "string"},
          "credential_class": {"type": "string"},
          "test_date": {"type": "string", "format": "date"},
          "score_total": {"type": "integer", "minimum": 205, "maximum": 805},
          "score_breakdown": {
            "type": "object",
            "properties": {
              "quant": {"type": "integer"},
              "verbal": {"type": "integer"},
              "data_insights": {"type": "integer"}
            }
          },
          "send_to_schools": {"type": "array", "items": {"type": "string"}, "minItems": 1, "maxItems": 5},
          "send_fee_paid_to_gmac": {"type": "number"},
          "sent_at": {"type": "string", "format": "date-time"},
          "passport_ascii_name": {"type": "string", "description": "ICAO 9303 exception"}
        }
      },
      "MbaApplicationSubmitRequest": {
        "type": "object",
        "required": ["instance_id", "school", "submitted_at", "essay_doc_ref", "recommender_final_refs", "gmat_score_send_ref", "fee_payment_ref", "transcripts_ref"],
        "properties": {
          "instance_id": {"type": "string"},
          "school": {"type": "string", "enum": ["wharton", "stanford_gsb", "hbs", "chicago_booth", "insead_sg_fr"]},
          "submitted_at": {"type": "string", "format": "date-time"},
          "essay_doc_ref": {"type": "string"},
          "recommender_final_refs": {"type": "array", "items": {"type": "string"}, "minItems": 2, "maxItems": 3},
          "gmat_score_send_ref": {"type": "string"},
          "fee_payment_ref": {"type": "string"},
          "transcripts_ref": {"type": "array", "items": {"type": "string"}, "minItems": 1}
        }
      },
      "HrSweepWalkRequest": {
        "type": "object",
        "required": ["principal", "sweep_id", "target_tenant", "target_user_set", "sweep_scope", "executed_at"],
        "properties": {
          "principal": {"type": "string"},
          "sweep_id": {"type": "string"},
          "target_tenant": {"type": "string"},
          "target_user_set": {"type": "array", "items": {"type": "string"}},
          "sweep_scope": {"type": "string", "enum": ["work_tenant_drive_only", "work_tenant_full"]},
          "executed_at": {"type": "string", "format": "date-time"}
        }
      },
      "HrSweepWalkResponse": {
        "type": "object",
        "required": ["documents_walked", "anomalies_detected", "result"],
        "properties": {
          "documents_walked": {"type": "integer"},
          "anomalies_detected": {"type": "integer"},
          "mba_references_found": {"type": "integer"},
          "wharton_references_found": {"type": "integer"},
          "personal_tenant_references_found": {"type": "integer"},
          "result": {"type": "string", "enum": ["clean", "anomalies_detected"]}
        }
      },
      "DiscoveryWalkAllPrincipalArtifactsRequest": {
        "type": "object",
        "required": ["principal", "target_principal_human", "scope", "executed_at"],
        "properties": {
          "principal": {"type": "string"},
          "target_principal_human": {"type": "string"},
          "scope": {"type": "string", "enum": ["all_tenants_this_human_is_in"]},
          "executed_at": {"type": "string", "format": "date-time"}
        }
      }
    }
  }
}
