{
  "openapi": "3.0.3",
  "info": {
    "title": "Tessellate Q1-2027 Board Compliance Report API",
    "version": "1.0.0",
    "description": "OpenAPI for j165 board compliance report assembly. Endpoints for workflow lifecycle, cross-pack evidence pull, per-pack + super Merkle compute, LLM-assist exec summary, SEC 8-K trigger eval, counsel review, audit committee sign-off, drive WORM archive, external transparency log anchor, pre-read distribution.",
    "x-journey-id": "j165-cco-naveen-iyer-board-quarterly-compliance-report",
    "x-adrs": ["ADR-0244", "ADR-0263", "ADR-0251", "ADR-0250", "ADR-0253", "ADR-0255"]
  },
  "servers": [
    {"url": "https://governance.us-east.oyatie.com/v1", "description": "US-East primary GRC"},
    {"url": "https://governance.eu-frankfurt.oyatie.com/v1", "description": "EU evidence mirror"},
    {"url": "https://governance.kr-seoul.oyatie.com/v1", "description": "KR evidence mirror"}
  ],
  "paths": {
    "/governance/board-report/workflow-initiate": {
      "post": {
        "summary": "Initiate board compliance report workflow",
        "x-cedar-action": "governance.board_report_workflow_initiate",
        "x-audit-event": "EVT-J165-WORKFLOW-INITIATED-000",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/WorkflowInitiateRequest"}}}
        },
        "responses": {
          "200": {"description": "Workflow initiated; state set to draft"},
          "403": {"description": "Cedar deny — not a CCO"}
        }
      }
    },
    "/compliance/cross-pack/evidence-pull": {
      "post": {
        "summary": "Cross-pack evidence pull across 8 active packs",
        "x-cedar-action": "compliance.cross_pack_evidence_pull",
        "x-audit-event": "EVT-J165-PACK-EVIDENCE-PULL-001",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CrossPackPullRequest"}}}
        },
        "responses": {
          "200": {
            "description": "Per-pack results + totals",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CrossPackPullResponse"}}}
          }
        }
      }
    },
    "/intelligence/llm/executive-summary-assist": {
      "post": {
        "summary": "LLM-assisted executive summary draft",
        "x-cedar-action": "intelligence.executive_summary_assist",
        "x-audit-event": "EVT-J165-LLM-DRAFT-ASSIST-004",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExecSummaryAssistRequest"}}}
        },
        "responses": {
          "200": {
            "description": "Draft + provenance",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ExecSummaryAssistResponse"}}}
          }
        }
      }
    },
    "/audit-chain/merkle/per-pack-compute-batch": {
      "post": {
        "summary": "Compute Merkle root per pack (batched)",
        "x-cedar-action": "governance.merkle_per_pack_compute",
        "x-audit-event": "EVT-J165-PER-PACK-MERKLE-002",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PerPackMerkleBatchRequest"}}}
        },
        "responses": {
          "200": {
            "description": "Per-pack Merkle roots",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PerPackMerkleBatchResponse"}}}
          }
        }
      }
    },
    "/audit-chain/merkle/super-root-compute": {
      "post": {
        "summary": "Compute super-Merkle of Merkles from per-pack roots",
        "x-cedar-action": "governance.merkle_super_root_compute",
        "x-audit-event": "EVT-J165-SUPER-MERKLE-003",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SuperMerkleRequest"}}}
        },
        "responses": {
          "200": {
            "description": "Super-Merkle root computed deterministically",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SuperMerkleResponse"}}}
          }
        }
      }
    },
    "/compliance/sec/form-8k-trigger-evaluate": {
      "post": {
        "summary": "Evaluate SEC Form 8-K triggers",
        "x-cedar-action": "compliance.sec_8k_trigger_evaluate",
        "x-audit-event": "EVT-J165-SEC-8K-EVAL-005",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SEC8KEvalRequest"}}}
        },
        "responses": {
          "200": {
            "description": "Triggers evaluated; obligation status returned",
            "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SEC8KEvalResponse"}}}
          }
        }
      }
    },
    "/workflow-engine/transition/propose": {
      "post": {
        "summary": "Propose workflow state transition",
        "x-cedar-action": "workflow_engine.transition_propose",
        "x-audit-event": "EVT-J165-TRANSITION-*",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TransitionRequest"}}}
        },
        "responses": {
          "200": {"description": "Transition accepted"},
          "403": {"description": "Cedar deny — guard not satisfied"}
        }
      }
    },
    "/workflow-engine/transition/counsel-to-audit-committee": {
      "post": {
        "summary": "Transition counsel_review → audit_committee_sign_off",
        "x-cedar-action": "workflow_engine.transition_counsel_to_audit_committee",
        "x-audit-event": "EVT-J165-TRANSITION-COUNSEL-TO-AC-008",
        "responses": {"200": {"description": "Transitioned"}, "403": {"description": "Cedar deny"}}
      }
    },
    "/workflow-engine/transition/audit-committee-to-board": {
      "post": {
        "summary": "Transition audit_committee_sign_off → board_presentation",
        "x-cedar-action": "workflow_engine.transition_audit_committee_to_board",
        "x-audit-event": "EVT-J165-TRANSITION-AC-TO-BOARD-010",
        "responses": {"200": {"description": "Transitioned"}, "403": {"description": "Cedar deny — quorum not reached"}}
      }
    },
    "/governance/counsel-review/submit": {
      "post": {
        "summary": "Submit counsel review with redlines",
        "x-cedar-action": "governance.counsel_review",
        "x-audit-event": "EVT-J165-COUNSEL-REVIEW-007",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CounselReviewRequest"}}}
        },
        "responses": {"200": {"description": "Counsel review recorded"}}
      }
    },
    "/governance/audit-committee/signoff": {
      "post": {
        "summary": "Audit committee member sign-off",
        "x-cedar-action": "governance.audit_committee_signoff",
        "x-audit-event": "EVT-J165-AUDIT-COMMITTEE-SIGNOFF-009",
        "requestBody": {
          "required": true,
          "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ACSignoffRequest"}}}
        },
        "responses": {"200": {"description": "Sign-off recorded; quorum status updated"}}
      }
    },
    "/drive/rooms/{room}/files": {
      "post": {
        "summary": "Write final report to drive WORM room",
        "x-cedar-action": "drive.write_room",
        "x-audit-event": "EVT-J165-REPORT-ARCHIVED-011",
        "parameters": [{"name": "room", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "Archived with 7-year WORM retention"}}
      }
    },
    "/audit-chain/external-transparency-log/anchor": {
      "post": {
        "summary": "Anchor super-Merkle root to external transparency log",
        "x-cedar-action": "audit-chain.external_transparency_log_anchor",
        "x-audit-event": "EVT-J165-EXTERNAL-ANCHOR-013",
        "responses": {"200": {"description": "Anchored; independently verifiable"}}
      }
    },
    "/drive/rooms/{room}/distribute-pre-read": {
      "post": {
        "summary": "Distribute report to board members for pre-read",
        "x-cedar-action": "drive.distribute_pre_read",
        "x-audit-event": "EVT-J165-PRE-READ-DISTRIBUTED-014",
        "parameters": [{"name": "room", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {"200": {"description": "Distributed; board notified"}}
      }
    }
  },
  "components": {
    "schemas": {
      "WorkflowInitiateRequest": {
        "type": "object",
        "required": ["tenant_id", "report_id", "report_class", "scheduled_board_meeting", "cco_principal", "active_packs"],
        "properties": {
          "tenant_id": {"type": "string", "const": "tessellate-health-ai-inc"},
          "report_id": {"type": "string"},
          "report_class": {"type": "string", "const": "quarterly_board_compliance"},
          "scheduled_board_meeting": {"type": "string", "format": "date-time"},
          "pre_read_deadline": {"type": "string", "format": "date-time"},
          "cco_principal": {"type": "string"},
          "active_packs": {
            "type": "array",
            "items": {"type": "string"},
            "minItems": 1,
            "example": ["pack-soc2-type2-fy2026", "pack-hipaa-business-associate", "pack-gdpr-controller-processor-mixed", "pack-eu-ai-act-high-risk-medical", "pack-kr-pipa-controller", "pack-csap-naver-cloud-tier-3", "pack-pci-dss-saq-c", "pack-sec-pre-ipo-s1-active"]
          },
          "initiated_at": {"type": "string", "format": "date-time"}
        }
      },
      "CrossPackPullRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "report_id": {"type": "string"},
          "active_packs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pack_id": {"type": "string"},
                "evidence_cell": {"type": "string"}
              }
            }
          },
          "quarter": {"type": "string"},
          "fanout_strategy": {"type": "string"}
        }
      },
      "CrossPackPullResponse": {
        "type": "object",
        "properties": {
          "per_pack_results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pack_id": {"type": "string"},
                "evidence_count": {"type": "integer"},
                "findings": {"type": "integer"},
                "open_risks": {"type": "integer"}
              }
            }
          },
          "total_evidence_count": {"type": "integer"},
          "total_findings": {"type": "integer"},
          "total_open_risks": {"type": "integer"}
        }
      },
      "ExecSummaryAssistRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "report_id": {"type": "string"},
          "model_id": {"type": "string", "const": "sonnet-compliance-tuned-v3@oyatie-2027-03"},
          "prompt_template": {"type": "string"},
          "input_context": {"type": "object"},
          "constraints": {
            "type": "object",
            "properties": {
              "max_output_pages": {"type": "integer", "maximum": 4},
              "tone": {"type": "string"},
              "human_finalization_required": {"type": "boolean", "const": true}
            }
          }
        }
      },
      "ExecSummaryAssistResponse": {
        "type": "object",
        "properties": {
          "draft_text_utf8_nfc": {"type": "string"},
          "llm_provenance": {
            "type": "object",
            "properties": {
              "model": {"type": "string"},
              "invocation_id": {"type": "string"},
              "input_tokens": {"type": "integer"},
              "output_tokens": {"type": "integer"},
              "latency_seconds": {"type": "number"},
              "eu_ai_act_article_50_declaration_present": {"type": "boolean", "const": true},
              "license": {"type": "string"}
            }
          }
        }
      },
      "PerPackMerkleBatchRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "report_id": {"type": "string"},
          "packs_to_compute": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pack_id": {"type": "string"},
                "evidence_count": {"type": "integer"}
              }
            }
          }
        }
      },
      "PerPackMerkleBatchResponse": {
        "type": "object",
        "properties": {
          "per_pack_roots": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pack_id": {"type": "string"},
                "merkle_root": {"type": "string", "pattern": "^0x[0-9a-f]{32,64}$"}
              }
            }
          }
        }
      },
      "SuperMerkleRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "report_id": {"type": "string"},
          "ordering": {"type": "string", "const": "pack_id_ascending"},
          "input_roots": {"type": "array", "items": {"type": "string"}}
        }
      },
      "SuperMerkleResponse": {
        "type": "object",
        "properties": {
          "super_merkle_root": {"type": "string"},
          "computed_at": {"type": "string", "format": "date-time"}
        }
      },
      "SEC8KEvalRequest": {
        "type": "object",
        "properties": {
          "tenant_id": {"type": "string"},
          "report_id": {"type": "string"},
          "quarter": {"type": "string"},
          "items_to_evaluate": {"type": "array", "items": {"type": "string"}},
          "filing_obligation_status": {"type": "string", "enum": ["pre_ipo_not_yet_obligated", "post_ipo_obligated"]}
        }
      },
      "SEC8KEvalResponse": {
        "type": "object",
        "properties": {
          "triggers_fired": {"type": "array", "items": {"type": "string"}},
          "triggers_evaluated": {"type": "integer"},
          "obligation_status": {"type": "string"},
          "post_ipo_estimated_effective": {"type": "string"},
          "note": {"type": "string"}
        }
      },
      "TransitionRequest": {
        "type": "object",
        "properties": {
          "report_id": {"type": "string"},
          "from_state": {"type": "string"},
          "to_state": {"type": "string"},
          "actor_principal": {"type": "string"},
          "transition_context": {"type": "object"},
          "transitioned_at": {"type": "string", "format": "date-time"}
        }
      },
      "CounselReviewRequest": {
        "type": "object",
        "properties": {
          "report_id": {"type": "string"},
          "reviewer_principal": {"type": "string"},
          "redline_count": {"type": "integer"},
          "redlines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "section": {"type": "integer"},
                "subject": {"type": "string"}
              }
            }
          },
          "review_duration_minutes": {"type": "integer"},
          "completed_at": {"type": "string", "format": "date-time"},
          "passkey_assertion_present": {"type": "boolean"}
        }
      },
      "ACSignoffRequest": {
        "type": "object",
        "properties": {
          "report_id": {"type": "string"},
          "signoffs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "principal": {"type": "string"},
                "role": {"type": "string"},
                "signed_at": {"type": "string", "format": "date-time"}
              }
            }
          },
          "quorum_threshold": {"type": "integer", "const": 3},
          "quorum_count": {"type": "integer"},
          "quorum_reached": {"type": "boolean"}
        }
      }
    }
  }
}
